<amp-form-block [context]="context()" buttonsTheme="tools">
    <amp-form-row class="mt+">
        <amp-checkbox
            [isInSummaryState]="isInSummaryState"
            [controlGroup]="__controlGroup"
            [required]="false"
            [id]="__custom.controls[0].id">
            <span [innerHTML]="__custom.checkboxLabel"></span>
        </amp-checkbox>
        <p class="heading-contxtual-label mt+">
            By proceeding I consent to my personal information being used and disclosed as set out in the <a href="https://www.amp.com.au/depositprivacy" target="_blank">privacy information</a> document.
        </p>
    </amp-form-row>
</amp-form-block>
