$namespace: $ddc-namespace !default;

$btn-ok-color: $amp-colour-white;
$btn-ok-background-color: $amp-colour-primary;
$btn-ok-border-color: $amp-colour-primary;
$btn-ok-hover-color: $amp-colour-white;
$btn-ok-hover-background-color: $amp-colour-primary-light;
$btn-ok-hover-border-color: $amp-colour-white;
$btn-ok-disabled-background-color: #cbd2dc;
$btn-change-border-color: $amp-colour-primary;
$btn-change-background-color: transparent;
$buttons-transition-time: 300ms;

.#{$namespace}btn-ok,
%#{$namespace}btn-ok {
  @extend %#{$namespace}font-size-small;
  @extend %#{$namespace}btn--kilo;
  @include transition(all $buttons-transition-time ease-in-out);
  height: $ddc-buttons-height;
  &[disabled] {
    background-color: $btn-ok-disabled-background-color !important;
    border-color: #FFFFFF;
    cursor: default;
  }

}

.#{$namespace}btn-change,
%#{$namespace}btn-change {
  @extend %#{$namespace}font-size-small;
  @extend %#{$namespace}btn--hotel;
  @include transition(all $buttons-transition-time ease-in-out);
  height: $ddc-buttons-height;

}

