@import '../../../styles/abstracts';
@import './block-base';
@import '../../blocks/amp-form-block/themes/theme-tools';



:host {
  display  : block;
  position : relative;
  .FormBlocK {
     // background-color: #00AAAA;
    padding-top : 60px;
    .hr-block-divider {
      margin-top : 80px;
    }
    .heading-intro {
      margin-bottom : 28px;
    }
    @include media-query('palm') {
      padding-top : 30px;
      .hr-block-divider {
        margin-top : 40px;
      }
    }
  }

  &[theme='tools'] {

    .FormBlocK {
      padding-top : $tools-form-block-heading-top-padding;
      padding-left : $tools-form-block-left-padding;
      padding-right : $tools-form-block-right-padding;

      .hr-block-divider {
        margin-top : 50px;
      }
      /*@include media-query('palm') {
        padding-top : 20px;
        .hr-block-divider {
          margin-top : 20px;
        }
      }*/
    }
  }

}


