@import '../../../styles/abstracts';
@import './block-base';
@import '../../blocks/amp-form-block/themes/theme-tools';

:host {
    display: block;
    position: relative;

    .FormBlocK {
        margin-bottom: $default-margin;

        .heading-intro {
            margin-bottom: $default-margin-w-offset;

            @include media-query('palm') {
                font-size: 20px;
            }
        }

        .hr-block-divider {
            margin: $default-margin 0;
        }
    }

    &[theme='tools'] {
        .FormBlocK {
            padding-top: $tools-form-block-heading-top-padding;
            padding-left: $tools-form-block-left-padding;
            padding-right: $tools-form-block-right-padding;

            .heading-intro {
                margin-bottom: 18px;
            }

            .hr-block-divider {
                margin: $default-margin 0;
            }
        }
    }
}
