@import "../../../styles/abstracts";
amp-form-block {
    @include media-query('tablet-and-up') {
        margin-left : 210px;
        margin-top: 60px;
    }
    @include media-query('palm') {
        margin-left: 20px;
    }
}