<form #formModel='ngForm' class='nl-form p'>
    <amp-form-row>
        <amp-country
                #dropDown
                [attr.theme]="themeService.theme.attr"
                [id]='"countries"'
                [controlGroup]="controlGroup"
                [required]="true">
            <template let-option="option">
                {{ option.country }}
            </template>
        </amp-country>
    </amp-form-row>
    <amp-form-row class='mt+'>
        <amp-country
                #dropDown
                [attr.theme]="themeService.theme.attr"
                [id]='"countries2"'
                [controlGroup]="controlGroup"
                [required]="true">
            <template let-option="option">
                {{ option.country }}
            </template>
        </amp-country>
    </amp-form-row>

    <h3 class='heading heading-contxtual-label mt+'>IMPORTANT : if you check the console, there should be only one http
        request even when we have multiple country dropdowns</h3>
</form>
