<div>
    <form #formModel="ngForm" class="nl-form">

        <h4>Uses Google <a href="https://developers.google.com/maps/documentation/javascript/places-autocomplete">Autocomplete
            API</a></h4>
        <br/>
        <!-- Start copy from here -->
        <amp-google-address
                [attr.theme]="themeService.theme.attr"
                [id]="'PracticeAddress'"
                [label]="'Type your address'"
                [controlGroup]="addressControlGroup"
                [placeholder]=""
                [required]="true"
                pattern="^.*$"
                maxLength="500">
        </amp-google-address>
        <!-- End copy at here -->

    </form>
</div>
