//
// App Frame
// --------------------------------

.frame {
    .sticky-progressbar {
        display: block;
        height: 0;
        opacity: 0;
        transition: opacity 1s, height 1s, cubic-bezier(0.3, 0.06, 0.91, 0.45);
        width: 100%;
        z-index: 100;
    }

    &--sticky {
        .sticky-progressbar {
            height: $sticky-menu-height !important;
            position: fixed;
            top: 0;
            opacity: 1;
            z-index: 99999;
        }
    }

    &--mt {
        margin-top: $sticky-menu-height;
    }
}