//
// Todo List
// --------------------------------

.todo-list {
  border-bottom: 1px solid #bababa;
  font-size: 14px;
  list-style-type: none;
  margin: 0 0 $todo-list-margin-bottom !important;
  padding: 0 0 $todo-list-padding-bottom !important;

  &__item {
    color: $todo-list-item-color;
    counter-increment: step-counter;
    line-height: 1.4em;
    margin: 0 0 20px;
    padding: 0 ($todo-list-icon-size * 1.5) 0 0;
    position: relative;
    left: 0em;
    button {
      @include amp-family($amp-font-open-sans-regular);
      background-color: transparent;
      border: transparent;
      font-size: 14px;
      font-weight: 600;
      text-align: left;
      &[disabled] {
        a{
          color: $amp-colour-grey-lightest;
        }
      }
      &:not([disabled]) {
        cursor: pointer;
        a {
          &:focus,
          &:hover {
            color: $todo-list-item-hover-color;
          }
        }
      }

    }
    a {
      color: $todo-list-item-color;
      display: table;
      text-decoration: none;

      &:before {
        content: counter(step-counter) ".";
        display: table-cell;
        padding-right: 10px;
        speak: none;
      }
    }

    .icon {
      background-color: $todo-list-icon-bg;
      border-radius: $todo-list-icon-size;
      color: $todo-list-icon-color;
      content: "y";
      display: none;
      font-size: 11px !important;
      height: $todo-list-icon-size;
      line-height: $todo-list-icon-size + 2px;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      width: $todo-list-icon-size;
    }

    &--complete {
      .icon {
        display: block;
      }
    }

    &--active {
      color: $todo-list-item-active-color;

      a {
        color: $todo-list-item-active-color;
      }
    }

  }
}