.type-in-animation {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: .1em solid #fff;
    -webkit-animation: typing 10s steps(30, end), /* # of steps = # of characters */
    blink-caret 1s step-end infinite;
    //-moz-animation: typing 12s steps(30, end), /* # of steps = # of characters */
    //blink-caret 1s step-end infinite;
}

@-webkit-keyframes typing {
    from {
        width: 0;
    }
    to {
        width: initial;
    }
}

@-moz-keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 16.3em;
    }
}

@-webkit-keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}

@-moz-keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}
