.shine {
    background: #222 -webkit-gradient(linear, left top, right top, from($amp-colour-primary), to($amp-colour-primary), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 100px;
    color: rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}
