$buttons-transition-time: $ddc-buttons-and-icons-transition-time;

// btn-ok
/*$btn-ok-color: $amp-colour-white;
$btn-ok-border-color: $amp-colour-primary;
$btn-ok-hover-color: $amp-colour-white;
$btn-ok-hover-background-color: $amp-colour-secondary-darkest;
$btn-ok-hover-border-color: $amp-colour-white;
$btn-ok-disabled-text-color: $disabled-text-color;
$btn-ok-disabled-background-color: $disabled-background-color;
$btn-ok-background-color: $amp-colour-secondary;

$btn-ok-active-background-color: $amp-colour-secondary;*/

// btn-change
$btn-change-hover-background-color: $amp-colour-secondary-darkest;
$btn-change-active-background-color: $amp-colour-primary;
$btn-change-border-color: $amp-colour-primary;

$btn-change-background-color: transparent;

// btn change-anchor
$btn-anchor-hover-background-color: $amp-colour-secondary-darkest;
$btn-anchor-active-background-color: $amp-colour-primary;
$btn-anchor-color: $amp-colour-secondary;

// btn-submit
$btn-submit-background-color: $amp-colour-secondary;
$btn-submit-hover-background-color: $amp-colour-secondary-darkest;
$btn-submit-active-background-color: $amp-colour-primary;

$btn-review-default-width: 238px;
/*@include media-query(palm) {
  .btn {
    line-height: 35px !important;
    font-size: $font-size-tin !important;;
    height: 45px !important;
  }
}

.btn {
    line-height: 42px;
    &.btn-full {
        width: 100% !important;
        display: block;
    }
    &.btn-review {
        width: $btn-review-default-width;
    }
    &[disabled] {
        background-color: $btn-ok-disabled-background-color !important;
        border-color: #FFFFFF;
        cursor: default;
        color: $btn-ok-disabled-text-color;
    }
}*/
/*.#{$namespace}btn-ok,
 %#{$namespace}btn-ok {
     @extend %#{$namespace}font-size-small;
     @include transition(background-color $buttons-transition-time ease-in-out);
     width: 125px;
     background-color: $btn-ok-background-color;
     height: $ddc-buttons-height;
     color: $btn-ok-color;
     &:hover, &:focus {
         &:not([disabled]) {
             color: #fff;
             background-color: $btn-ok-hover-background-color;
         }

     }
     &:active {
         &:not([disabled]) {
             color: #fff;
             background-color: $btn-ok-active-background-color;
         }
     }
     &.btn-ok-white {
         color: $amp-colour-primary;
         background-color: #fff;;

     }
 }*/
/*
.#{$namespace}btn-change,
%#{$namespace}btn-change {
  @extend %#{$namespace}font-size-small;
  @include transition(color, background-color, $buttons-transition-time ease-in-out);
  width: 125px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: $btn-change-border-color;
  height: $ddc-buttons-height;
  color: $btn-change-border-color;
  &:hover, &:focus {
    &:not([disabled]) {
      color: #fff;
      background-color: $btn-change-hover-background-color;
      border-color: $btn-change-hover-background-color;
    }
  }
  &:active {
    &:not([disabled]) {
      color: #fff;
      background-color: $btn-change-active-background-color;
    }
  }

}*/

.#{$namespace}btn-submit,
%#{$namespace}btn-submit {
  @extend %#{$namespace}font-size-small;
  @include transition(background-color $buttons-transition-time ease-in-out);
  width: 125px;
  height: $ddc-buttons-height;
  color: #fff;
  background-color: $btn-submit-background-color;
  &:hover, &:focus {
    &:not([disabled]) {
      color: #fff;
      background-color: $btn-submit-hover-background-color;
    }
  }
  &:active {
    &:not([disabled]) {
      color: #fff;
      background-color: $btn-submit-active-background-color;
    }
  }
  span {
    .icon {
      font-size: 18px;
    }
  }
}

.#{$namespace}btn-anchor,
%#{$namespace}btn-anchor {
  @include transition(color $buttons-transition-time ease-in-out);
  @extend %#{$namespace}font-size-tiny;
  vertical-align: initial !important;
  padding: 0 !important;
  color: $btn-anchor-color;
  &:hover, &:focus {
    &:not([disabled]) {
      color: $btn-anchor-hover-background-color;
    }
  }
  &:active {
    &:not([disabled]) {
      color: $btn-anchor-active-background-color;
    }
  }
  &.btn-anchor-large {
    font-size: $font-size-medium;
  }
  &[disabled] {
    background-color: transparent !important;
    color: $amp-colour-grey-dark;
  }
}

.#{$namespace}btn-and-new,
%#{$namespace}btn-and-new {

  @include transition(color $buttons-transition-time ease-in-out);
  @extend %#{$namespace}font-size-medium;
  vertical-align: initial !important;
  font-weight: 400;
  color: $amp-colour-sky-blue;
  &:hover {
    &:not([disabled]) {
      color: $amp-colour-primary;;
    }
  }
  &:focus {
    &:not([disabled]) {
      color: $amp-colour-sky-blue;;
    }
  }
  &:active {
    &:not([disabled]) {
      color: $amp-colour-primary;
    }
  }

  &[disabled] {
    background-color: transparent !important;
    color: $amp-colour-grey-dark;
  }
  .icon {
    font-size: 30px;
    margin-right: 15px;
  }
}

.#{$namespace}btn-hollow,
%#{$namespace}btn-hollow {
  @extend %#{$namespace}font-size-small;
  @include transition(color, background-color, $buttons-transition-time ease-in-out);
  width: 125px;
  border: 2px solid;
  border-color: $amp-colour-secondary;
  height: $ddc-buttons-height;
  color: $amp-colour-secondary;
  &:hover, &:focus {
    &:not([disabled]) {
      color: #fff;
      background-color: $btn-change-hover-background-color;
      border-color: $btn-change-hover-background-color;
    }
  }
  &:active {
    &:not([disabled]) {
      color: #fff;
      background-color: $btn-change-active-background-color;
    }
  }

}

.#{$namespace}btn-hollow-white,
%#{$namespace}btn-hollow-white {
  @extend %#{$namespace}font-size-small;
  @include transition(color, background-color, $buttons-transition-time ease-in-out);
  width: 125px;
  border: 2px solid $amp-colour-white !important;
  height: $ddc-buttons-height;
  color: $amp-colour-white;
  &:hover, &:focus {
    &:not([disabled]) {
      color: #fff;
      background-color: $btn-change-hover-background-color;
      border-color: $btn-change-hover-background-color;
    }
  }
  &:active {
    &:not([disabled]) {
      color: #fff;
      background-color: $btn-change-active-background-color;
    }
  }

}
