
.#{$namespace}color-primary-darkest,
%#{$namespace}color-primary-darkest {
  color: $amp-colour-secondary-darkest;
}

.#{$namespace}amp-colour-sky-blue,
%#{$namespace}amp-colour-sky-blue {
  color: $amp-colour-sky-blue;
}

.#{$namespace}color-gray-darkest-most,
%#{$namespace}color-gray-darkest-most {
  color: $amp-colour-grey-darkest-most;
}

.#{$namespace}color-secondary,
%#{$namespace}color-secondary {
  color: $amp-colour-sky-blue !important;
}

.#{$namespace}color-primary,
%#{$namespace}color-primary {
  color: $amp-colour-primary !important;
}

.#{$namespace}color-white,
%#{$namespace}color-white {
  color: #fff !important;
}