
.errors {
    @extend %#{$namespace}font-size-tiny;
    @include amp-family($errors-font-family);
    color: $amp-colour-alert-danger;
    font-weight: 400;
    display: block;
    line-height: 25px;

    .error-item:not(:empty) {
        margin-top: 25px;
    }

    .icon-errors {
        color: $amp-colour-alert-danger;
    }
}
