
// Override the 'powered by Google' logo at the bottom of the search results (pac-logo:after)
.pac-container {
    &.pac-logo {
        &::after {
            background-image: none;
            height: 0;
        }
    }

    // Removed the pac-icon
    .pac-icon {
        background-image: none;
        width: 0;
    }

    // Add a custom address line at the bottom of every search result
    // .pac-icon-marker {
    //     background-position: -1px -161px;
    // }
}
