$default-icon-margin-right: $icon-margin-right;

.icon {
    vertical-align: middle;
    font-size: $icons-font-size;
    margin-right: $default-icon-margin-right;
}

.icon-errors {
    color: red;
}

.icon--primary {
    color: $amp-colour-sky-blue;
}

.icon--large {
    font-size: 30px;
}

