.container {
    margin: 0;
    max-width: 1224px;
    padding: 0 $content-padding-h;

    @include media-query('lap-and-up') {
        padding: 0 $content-padding-h-lap-and-up;
    }

    &--full-height {
        position: relative;
        height: 100vh;
    }
}
