table {
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
    background-color: transparent;

    > tbody {
        tr {
            > th,
            > td {
                vertical-align: top;
            }
        }
    }
}

th {
    text-align: left;
}

.table {
    > tbody {
        > tr {
            > th,
            > td {
                border-bottom: 1px solid $amp-colour-grey-dark;
                padding: 20px 0 20px 20px;

                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}

.table--responsive {
    > tbody {
        > tr {
            > th,
            > td {
                @include media-query('tablet-and-down') {
                    display: block;
                    padding: 15px 0;
                    width: 100% !important;

                    &:not(:last-child) {
                        border: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}

.table--equal-col-width {
    > tbody {
        > tr {
            // Using a loop and width property here instead of 'table-layout: fixed' as this
            // solution will work with responsive styles (.baseline-table-wrapper)
            @for $i from 2 through 10 {
                :first-child:nth-last-child(#{$i}),
                :first-child:nth-last-child(#{$i}) ~ * {
                    width:  100% / $i;
                }
            }
        }
    }
}

.baseline-table {
    background: $amp-colour-white;

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border: 1px solid $amp-colour-grey-dark;
                color: $amp-colour-grey-darkest;
                min-width: 130px;
                padding: 20px;
            }

            > th {
                color: $amp-colour-primary;
                font-weight: 600;
            }

            > th,
            > td {
                font-size: 14px;
            }
        }
    }

    > thead {
        > tr {
            > th {
                font-size: 12px;
            }
        }
    }

    &-wrapper {
        overflow: auto;
        width: 100%;
    }
}
