@import '../../style/require';

$header-font-family: $amp-font-open-sans-regular;

.menu {

  &--left {
    padding-left: 60px;
    @include amp-family($header-font-family);
    @extend %#{$namespace}font-size-tiny;
    @extend %#{$namespace}color-gray-darkest-most;
    width: 18%;
    float: left;
    &--title {
      font-weight: 700;
      @extend %#{$namespace}color-primary-darkest;
    }
    &--hr {
      margin: 46px 0;
    }
    &--save {

    }
    &--download {

    }
  }
  &--right {
    width: 82%;
    float: left
  }

}