<amp-header  phoneNumber="123 456 789"
        unavailableHeading="Currently I am out of office"
        unavailableMessage="Do we really need a message for that?"
        availability="I am available but you shouldn't know that"
        contactUsText="Don't contact me"
        officeHoursStart="6:00"
        officeHoursEnd="21:00"
        experienceTitle="Wonderful title">
</amp-header>

<br>

<p>Each field is optional and has a default value</p>
<ul class="field-list">
    <li>phoneNumber : 1300 366 019</li>
    <li>unavailableHeading : Sorry, currently our lines are closed</li>
    <li>unavailableMessage : Please call back on Monday to Friday between 8:30am - 7:00pm (AEST)</li>
    <li>availability : Monday to Friday, 8:30am - 7:00pm (AEST)</li>
    <li>contactUsText : Contact us</li>
    <li>officeHoursStart : 08:30</li>
    <li>officeHoursEnd : 19:00</li>
    <li>experienceTitle : Choice of Fund</li>
</ul>