<div class="overlay mb-60">
    <amp-button class="btn btn-submit" *ngIf="!showProgress">
        File Upload
    </amp-button>
    <input type="file"
           title=" "
           #fileInput
           (click)="updateToken()"
           (change)="displayProgress()"/>
    <div *ngIf="error" class="errors mt">
        <span class='icon icon--close icon-errors'></span> {{errorMessage}}
    </div>
</div>
<div class="progress mb" *ngIf="showProgress">
    <div class="file-name grid__item_floated 10/12">
        <h3>{{fileName}}</h3>
        <div>
            <div class="file-size">
                File size:
                <span *ngIf="showProgressBar()"> {{uploaded}} of </span>
                {{fileSize}}
                <span *ngIf="showProgressBar()">({{speed}})</span>
            </div>
        </div>
    </div>
    <div class="file-remove grid__item_floated 2/12">
        <a href="javascript:void(0);" (click)="removeFile()"  *ngIf="!showProgressBar()">Remove<span class="icon icon--modal-close" aria-hidden="true"></span></a>
    </div>
    <div class="file-remove grid__item_floated 12/12" *ngIf="showProgressBar()">
        <amp-linear-progress-bar
            value="{{progress*100}}"
            determinate="determinate">
        </amp-linear-progress-bar>
    </div>
</div>
