@import '../../../../styles/abstracts';

.overlay {
    position: relative;
}

input {
    position: absolute;
    top: 61px;
    left: 0px;
    z-index: 2;
    opacity: 0;
    width: auto;
    height: 55px;
}

.progress {
    background-color: $amp-colour-grey-lightest;
    border: 1px solid $amp-colour-grey;
    min-width: 460px;
    min-height: 150px;
    padding: 30px;
    margin-top: 30px;
    .file-name {
        margin-bottom: 3px;
    }
    .file-size {
        margin-bottom: 10px;
    }
    .icon--modal-close {
        color: $amp-colour-secondary;
    }
}
