<div class="overlay"  *ngIf="!showProgress">
    <amp-button class="btn btn-submit">
        File Upload
    </amp-button>
    <input type="file"
           title=" "
           #fileInput
           (click)="updateToken()"
           (change)="displayProgress()"/>
</div>
<div class="progress" *ngIf="showProgress">
    <div class="file-name grid__item_floated 10/12">
        <h3>{{fileNameControl.value}}</h3>
        <div>
            <div class="file-size">
                File size:
                <span *ngIf="showProgressBar()"> {{uploaded}} of </span>
                {{fileSize}}
                <span *ngIf="showProgressBar()">({{speed}}/sec)</span>
            </div>
        </div>
    </div>
    <div class="file-remove grid__item_floated 2/12">
        <a href="javascript:void(0);" (click)="removeFile()"  *ngIf="!showProgressBar()">Remove<span class="icon icon--modal-close" aria-hidden="true"></span></a>
    </div>
    <div class="file-remove grid__item_floated 12/12" *ngIf="showProgressBar()">
        <amp-linear-progress-bar
            value="{{progress*100}}"
            determinate="determinate">
        </amp-linear-progress-bar>
    </div>
</div>
<div *ngIf="error" class="errors mt">
    <span class='icon icon--close icon-errors'></span> {{errorMessage}}
</div>
