<form #formModel="ngForm" class="nl-form">

    <section class="section ph pv">

        <h2>Default</h2>

        <amp-form-row>
            <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
                <amp-input
                        [id]="'input'"
                        [label]="'Default input'"
                        [required]="true"
                        [controlGroup]="controlGroup">
                </amp-input>
            </div>
        </amp-form-row>
    </section>

    <section class="section ph pv">

        <h2>Currency <small>(with max length of "12" and min length of "4")</small></h2>
        isvalid: {{ control.valid }}
        <br/>
        <amp-form-row>
            <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
                <amp-input
                        [attr.theme]="themeService.theme.attr"
                        [id]="'currency'"
                        [label]="'Amount'"
                        [controlGroup]="controlGroup"
                        [required]="true"
                        [pattern]="'^([0-9])*$'"
                        [maxLength]="'12'"
                        [minLength]="'4'"
                        [currency]="'$'">
                </amp-input>
            </div>
        </amp-form-row>
    </section>

    <section class="section ph pv">

        <h2>Number <small>(with max length of "12" and min length of "4"</small></h2>

        <amp-form-row>
            <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
                <amp-input
                        #inputNumeric
                        [amp-number-only]="inputNumeric.control"
                        [attr.theme]="themeService.theme.attr"
                        [id]="'number'"
                        [label]="'Number'"
                        [controlGroup]="controlGroup"
                        [required]="true"
                        [maxLength]="'12'"
                        [minLength]="'4'">
                </amp-input>
            </div>
        </amp-form-row>
    </section>

    <section class="section ph pv">

        <h2>Date <small>(with min date of "today")</small></h2>

        <amp-form-row>
            <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
                <amp-input
                        [id]="'minDate'"
                        [label]="'Date'"
                        [controlGroup]="controlGroup"
                        [required]="true"
                        [valDate]="true"
                        [minDate]="'today'">
                </amp-input>
            </div>
        </amp-form-row>
    </section>

    <section class="section ph pv">

        <h2>Date <small>(with max date of "today")</small></h2>

        <amp-form-row>
            <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
                <amp-input
                        [id]="'maxDate'"
                        [label]="'Date'"
                        [controlGroup]="controlGroup"
                        [required]="true"
                        [valDate]="true"
                        [maxDate]="'today'">
                </amp-input>
            </div>
        </amp-form-row>
    </section>

    <section class="section ph pv">

        <h2>Date of birth <small>(with min age of "18" and max age of "100" )</small></h2>

        <amp-form-row>
            <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
                <amp-input
                        [id]="'dob'"
                        [label]="'Date of birth'"
                        [controlGroup]="controlGroup"
                        [required]="true"
                        [valDate]="true"
                        [minAge]="18"
                        [maxAge]="100">
                </amp-input>
            </div>
        </amp-form-row>
    </section>
    <section class="section ph pv">
        <h2>Updating the <small>minAge</small> error </h2>
        <br/>
        <amp-form-row>
            <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
                <amp-input
                        #inputWithAgeError
                        [id]="'dob-2'"
                        [label]="'Date of birth'"
                        [controlGroup]="controlGroup"
                        [required]="true"
                        [valDate]="true"
                        [minAge]="18"
                        [errors]="dynamicErrors">
                </amp-input>
            </div>
        </amp-form-row>
        <amp-button class="btn btn-ok" (click)="updateError()">Update error</amp-button>
    </section>
</form>
