<div class="usage">
    <p>Prerequisites to run "file upload" locally and upload a file successfully into AWS S3</p>
    <ul>
        <li>api-store should be up and running</li>
        <li>api-upload should be up and running</li>
    </ul>
</div>

<amp-file-upload
    [title]="'Attach your signing pages'"
    [text]="'Your signing page is contained within your deed, it will need to be signed by all equity holders and witnessed. Please ensure that attached is no more than 1MB.'"
    [formName]="'NIO'"
    [formId] ="'579fe146d42da511006bfaf0'">
</amp-file-upload>
