<div class="usage">
    <h3>Prerequisites to run "file upload" locally and upload a file successfully into AWS S3</h3>
    <ul>
        <li>Mongo DB should be up and running</li>
        <li>Setup the AWS connection properties as per readme file in api-upload</li>
        <li>api-upload should be up and running</li>
        <li>api-store should be up and running</li>
        <li>api-buyback should be up and running</li>
    </ul>
</div>

<h3>Upload a file</h3>

<amp-file-upload
    [tokenUrl]="'http://localhost:8084/ddc/secure/api/upload/token'"
    [uploadUrl]="'http://localhost:8084/ddc/secure/api/upload/upload'"
    [deleteUrl]="'http://localhost:8084/ddc/secure/api/upload/delete'"
    [controlGroup]="controlGroup"
    [id]="'uploadComponent'"
    [formName]="'BUYBACK'"
    [formId] ="'6721298156'">
</amp-file-upload>

<div class="mt-40">
    <h3>Retrieve Uploaded file ( Used to display the uploaded file on form retrieve )</h3>
</div>

<amp-file-upload
    [tokenUrl]="'http://localhost:8084/ddc/secure/api/upload/token'"
    [uploadUrl]="'http://localhost:8084/ddc/secure/api/upload/upload'"
    [deleteUrl]="'http://localhost:8084/ddc/secure/api/upload/delete'"
    [controlGroup]="controlGroup"
    [id]="'uploadComponent'"
    [description]="'UploadSignedPages'"
    [formName]="'BUYBACK'"
    [formId] ="'6721298156'">
</amp-file-upload>
