@import "src/style/require";
@import "~amp-styleguide-core/src/scss/05_Components/buttons";

$md-font-url: "../../../../node_modules/ng2-material/dist/";
@import "~ng2-material/dist/font.scss";
@import "~ng2-material/source/core";
$md-primary: md-palette($md-brown, 500, 100, 700, $md-contrast-palettes);
$md-accent: md-palette($md-deep-orange, 500, 300, 700, $md-contrast-palettes);
@import "~ng2-material/source/components";

// What a F#$#$ing mess. This is due the MD-MESSAGES component mandating the present of ngForm context, thus the md-messages and md-message component cannot be an isolated
// into the my-md-input.component.ts. Therefore all the work done on the my-md-input.scss needs to be available here as well. MD-MESSAGES really should have used ngFormControl isntead.
// ViewEncapsulation.Emulated is causing the problem here.
// Each Component/Directive get unique _ngcontent attr Id, which all styles incorporated by them will get isolated to their element. The problem arises when you have
// component encapsulated by another component but the style needs to go across the 2 components

.nl-form {
  // TODO: The following styles should be set on the body tag as they are not strictly form specific.
  text-align : center;
  font-size: $amp-base-font-size * 2;
  line-height: $amp-base-font-size * 2 * 1.5;

}
