<form  #formModel="ngForm" class="nl-form" >

    <br />
    <my-md-input [id]="'firstname'" [label]="'Name'" [parentControl]="firstnameControl"
        isRequired="true"
        valPattern="^([A-Za-z ])*$"
        valMaxLength="50">

    </my-md-input>

    <br />
    <input type="checkbox" [(ngModel)]="toggleFlag"/> toggles input via visibility rule.
    <my-md-input
        [id]="'surname'"
        [label]="'Name'"
        [parentControl]="surnameControl"
        [placeholder]="'Creative design wasnt built for placeholder'"
        [visibility]="visibilityRule"

        isRequired="true"
        valPattern="^([A-Za-z ])*$"
        valMaxLength="50">

    </my-md-input>
</form>
