<amp-form-block [context]="context()" buttonsTheme="tools">
    <amp-form-row>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12 mr">
            <amp-country
                [isInSummaryState]="isInSummaryState"
                [id]="__custom.controls[0].id"
                [controlGroup]="__controlGroup"
                [required]="true"
                [label]="'Country of citizenship'">
                <template let-option="option">
                    {{ option.country }}
                </template>
            </amp-country>
        </div>
    </amp-form-row>
    <amp-form-row>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12 mr">
            <amp-country
                [isInSummaryState]="isInSummaryState"
                [id]="__custom.controls[1].id"
                [controlGroup]="__controlGroup"
                [required]="true"
                [label]="'Country of residency'">
                <template let-option="option">
                    {{ option.country }}
                </template>
            </amp-country>
        </div>
    </amp-form-row>
    <div class="mt-60 heading-contxtual-label">
        Are you a United States resident or citizen for tax purposes?
        <amp-tooltip-cmp
            message='We are required to identify any US citizens or residents for tax purposes. If you are a US citizen or resident for tax purposes (even if you are also a taxpayer in Australia) you should complete this section. We may then ask you for your US tax identification number.'></amp-tooltip-cmp>
    </div>
    <amp-form-row>
        <div class="mt grid__item_floated palm-1/1 tablet-1/1 lap-and-up-9/12">
            <amp-group-buttons
                #usTaxResidency
                [required]="true"
                [isInSummaryState]="isInSummaryState"
                [buttons]="__custom.controls[2].buttons"
                [groupName]="__custom.controls[2].id"
                [controlGroup]="__controlGroup">
            </amp-group-buttons>
        </div>
    </amp-form-row>

    <amp-form-row *ngIf="usTaxResidency?.control?.value === true">
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12 mr">
            <amp-input
                #ssn
                [id]="__custom.controls[3].id"
                [controlGroup]="__controlGroup"
                [label]="'SSN'"
                [isInSummaryState]="isInSummaryState"
                [required]="tin && tin.control && !tin.control.value"
                amp-number-only
                [maxLength]="9"
                [errors]="{ required : __custom.ssnRequiredMsg }">
            </amp-input>
        </div>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12 mr" [hidden]="isInSummaryState">
            <p class="mt ml++">Or</p>
        </div>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12 mr">
            <amp-input
                #tin
                [id]="__custom.controls[4].id"
                [controlGroup]="__controlGroup"
                [label]="'TIN'"
                [required]="ssn && ssn.control && !ssn.control.value"
                [isInSummaryState]="isInSummaryState"
                amp-number-only
                [maxLength]="9"
                [errors]="{ required : __custom.ssnRequiredMsg }">

            </amp-input>
        </div>
    </amp-form-row>
</amp-form-block>
