<div>
    <amp-qas-address
            class="1/3"
            [controlGroup]="__controlGroup"
            [id]="__custom.controls[0].id"
            [required]="__custom.controls[0].required"
            [isInSummaryState]='isInSummaryState'
            [label]="__custom.controls[0].label">
    </amp-qas-address>

    <amp-qas-address
            class="1/3"
            [controlGroup]="__controlGroup"
            [id]="__custom.controls[0].id"
            [required]="__custom.controls[0].required"
            [isInSummaryState]='isInSummaryState'
            [label]="__custom.controls[0].label">
    </amp-qas-address>

</div>