<form class='nl-form'>

    <h5 class='title'>Can be set to autoSelectOnOne </h5>
    <div id='single-radio-group' class='group-buttons'>
        <amp-radio-button-group
                [attr.theme]="themeService.theme.attr"
                scrollOutOn='null'
                class='grid__item 1/1'
                (select)='onOneRadioButtonSelect($event)'
                [buttons]='radiosOneOption.buttons'
                [controlGroup]='oneOptioncontrolGroup'
                [autoSelectOnOne]='"true"'
                [groupName]='radiosOneOption.groupName'>
            >
        </amp-radio-button-group>
        <div class='control-value'>
            Control value : {{ oneOptionControl.value}}
        </div>
    </div>
    <hr>
    <h5 class='title'>When we have multiple options</h5>
    <div class='group-buttons'>

        <amp-radio-button-group
                [attr.theme]="themeService.theme.attr"
                [required]='radiosMultipleOptions.required'
                [disabled]='radiosMultipleOptions.disabled'
                scrollOutOn='null'
                class='grid__item 1/1'
                (select)='onMultipleRadioButtonSelect($event)'
                [buttons]='radiosMultipleOptions.buttons'
                [controlGroup]='multipleOptioncontrolGroup'
                [isInSummaryState]='isInSummaryState'
                [groupName]='radiosMultipleOptions.groupName'
        >
        </amp-radio-button-group>
        <p style='text-align: left'>
            Control validity : {{ multipleOptionControl.valid }}<br>
            Control required? : {{ radiosMultipleOptions.required }}
            <button (click)='radiosMultipleOptions.required = ! radiosMultipleOptions.required'>Toggle</button>
            <br>
            Disabled ? : {{ radiosMultipleOptions.disabled }}
            <button (click)='radiosMultipleOptions.disabled = ! radiosMultipleOptions.disabled'>Toggle</button>
            <br>
        </p>
        <br>
        <br>
        <button class='btn btn-ok btn-full btn--secondary' (click)='multipleOptionControl.setValue("five_years2")'>
            Select 'At least five years'
        </button>
        <br>
        <button class='btn btn-ok btn-full btn--secondary' (click)='addToMultipleOptions()'>
            Add +
        </button>
        <br>
        <button class='btn btn-ok btn-full btn--secondary'
                (click)='multipleOptionControl.setValue("fewer_than_five_years")'>Select'Fewer than five years'
        </button>
        <button class='btn btn-ok btn-full btn--secondary'
                (click)='isInSummaryState=!isInSummaryState'>isInSummaryState {{ isInSummaryState }}
        </button>
        <div class='control-value'>
            Control value : {{ multipleOptionControl.value}}
        </div>
    </div>

    <div class='title' [style.color]='color'>This is binded to onRadioButtonSelect , i.e on click event , and that event
        is changing
        the
        color
    </div>
</form>
