<amp-form-block [context]="context()" [withOkButton]='false'>
    <amp-button
            theme='tools'
            [context]="context()"
            class="btn btn-ok palm-1/1 tablet-1/1 palm-mr0 mr"
            (click)="onSingleJoint('Individual')">
        Just me
    </amp-button>
    <amp-button
            theme='tools'
            [context]="context()"
            class="btn btn-ok palm-1/1 tablet-1/1"
            (click)="onSingleJoint('JointApplication')">
        Me and someone else
    </amp-button>
</amp-form-block>