<amp-form-block [context]="context()">
    <div class="mt mb">
        Please let us know if you would like to set up the account in your name or with someone else
    </div>
    <amp-button
        [context]="context()"
        class="btn btn-secondary mt+"
        (click)="onSingleJoint('single')">
                        Single
    </amp-button>
    <amp-button
        [context]="context()"
        class="btn btn-secondary mt+"
        (click)="onSingleJoint('joint')">
                        Joint
    </amp-button>
</amp-form-block>