@import '../../../styles/abstracts';


:host {
    background-color: #001E41;
    height:  80px;
    amp-logo {
        //width: 114px;
        height : 50px;
        margin-left : 59px;
    }
}


@include media-query(tablet-and-down) {
    :host {
        height : 55px;
        amp-logo {
            padding-top: 9px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            display: block;
            img {
                height: 36px;
            }
        }
    }
}
