<section>
    <bett3r-banner></bett3r-banner>
    <div class="accounts">
        <div *ngFor="let account of (accounts | sortByType); let i = index" class="palm-1/1 tablet-1/1 grid__item_floated 3/12 account">
            <div class="account-info">
                <span class="account-index">{{i+1}}</span>
                <span class="account-detail">
                    <strong class="account-type">{{account.bett3rAccountType}}</strong>
                    BSB: {{account.BSB}} <br/>
                    Account number: {{account.accountNumber}}
                </span>
            </div>
        </div>
    </div>
    <amp-form-row>
        <div class="mb">
            <amp-button
                [class]="'btn btn-submit palm-1/1 tablet-1/1'"
                (click)="getAccountPDF()">
                Your account PDF
                <span class="icon icon--downloads"></span>
            </amp-button>       
        </div>
    </amp-form-row>
</section>
