@import '../../../styles/abstracts';
@import '../../../styles/family';


:host > section {
    margin : 4em 0 0 0 ;
    .pdf-button-container{
        margin-bottom: 4em;
    }
    @include media-query(tablet-and-down) {
        margin: 1.5em 0 2.667em 0;
        .pdf-button-container {
            margin-bottom: 2.667em;
            margin-top: 2em;
            .btn {
                padding: 0 20px !important;
            }
        }
    }
    .accounts {
        margin-bottom: 4em;
        overflow: auto;
        clear: both;
        @include media-query(tablet-and-down) {
            margin-bottom: 0;
        }
        .account {
            .account-info {
                padding-left: 2.667em;
                .account-type, .account-index {
                    display: none;
                }
                @include media-query(tablet-and-down){
                    padding-left: 0;
                    padding-top: 1.33em;
                    padding-bottom: 2em;
                    border-bottom: 1px solid #cccccc;
                    .account-type {
                        font-size: 1.333em;
                        margin-bottom: 1.17em;
                        display: block;
                        color: #004983;
                    }
                    .account-index {
                        display: inline-block;
                        background: #004983;
                        color: #ffffff;
                        font-size: 1em;
                        padding: 6px 14px;
                        vertical-align: top;
                        margin-right: 1.2em;
                        width: 36px;
                        height: 36px;
                        @include border-radius(18px);
                        @include amp-family(archer-pro-medium);
                        font-weight: 700;
                    }
                    .account-detail{
                        display: inline-block;
                    }
                }
            }
        }
    }
}
