@import '../../../styles/abstracts';

$amp-ddc-public-asset: '../../../../src/assets/';
$logo-height: 130px !default;
$amp-ddc-padding: 40px;

.error-page_logo {
  min-height: $logo-height;
  margin-top: $amp-ddc-padding;
  margin-left: $amp-ddc-padding;
  background-position: left top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-image: url($amp-ddc-public-asset + 'images/logo/AMPLogo.png');
  background-size: 10% ;
}

.error-page_message {
  @include amp-family($amp-font-open-sans-regular);
  font-weight: 300;
  font-size: $font-size-medium;
  text-align: center !important;
  position : absolute;    
  width    : 50%;
  min-height : 30%;
  left     : 25%;
  top      : 50%;
  margin   : auto;
}