@import '../../../styles/abstracts';

$logo-height: 180px !default;

.error-page {
    display: table;
    width: 100%;

    &__row {
        display: table-row;
    }

    &__logo,
    &__message {
        display: table-cell;
    }

    &__logo {
        height: $logo-height;
        padding: $content-padding-h;

        @include media-query('lap-and-up') {
            padding: $content-padding-h-lap-and-up;
        }
    }

    &__message {
        @include amp-family($amp-font-open-sans-regular);
        font-weight: 300;
        font-size: $font-size-small;
        height: calc(100vh - #{$logo-height});
        text-align: center !important;
        padding: $content-padding-h;
        padding-bottom: $logo-height !important;
        vertical-align: middle;

        @include media-query('lap-and-up') {
            font-size: $font-size-medium;
            padding: $content-padding-h-lap-and-up;
        }

        &-inner {
            margin: 0 auto;
            max-width: 500px;
        }
    }
}