<form class="nl-form">
    <!---->
    <section class="alert alert--danger alert--iconified mt"
             style="background:  #d60e1c;margin:20px; padding:20px;min-height: 100px;">
        <div class="grid_container 1/1">

            <p style="color:white;" class="grid__item_floated 8/12"><span
                    class="alert__icon icon icon--warning-outlined" style="color:white;"></span>This button must only be
                used for 3 buttons or less. Anything higher than 3 options or buttons needs to use a dropdown list.</p>
        </div>
    </section>

    <h4 [style.color]='color'>this is binded to onButtonSelect , i.e on click event , and that event is changing the
        color</h4>
    <div class="section ph pv">
        <amp-group-buttons
                [attr.theme]="themeService.theme.attr"
                scrollOutOn='full'
                class="1/5"
                (select)='onButtonClick($event)'
                [required]="required"
                [isInSummaryState]="isInSummaryState"
                [buttons]='fullOrPartialButtons.buttons'
                [controlGroup]='controlGroup'
                [groupName]='fullOrPartialButtons.fullOrPartial'
        >
        </amp-group-buttons>
    </div>
    <section class="section ph pv">
        <div class='content'>
            <amp-button [attr.theme]="themeService.theme.attr" (click)='control.patchValue("partial")'
                        class='btn btn-ok'>
                Partial
            </amp-button>
            <amp-button [attr.theme]="themeService.theme.attr" (click)='control.patchValue("full")' class='btn btn-ok'>
                Full
            </amp-button>
        </div>
    </section>
    <section class="section ph pv">
        <amp-button [attr.theme]="themeService.theme.attr" (click)='required=!required'
                    class='btn btn-ok grid__item-1/4'>
            Required {{ required }}
        </amp-button>
        <amp-button [attr.theme]="themeService.theme.attr" (click)='isInSummaryState=!isInSummaryState'
                    class='btn btn-ok grid__item-1/4'>
            isInSummaryState {{ isInSummaryState }}
        </amp-button>
    </section>

    <section class="section ph pv">
        <h2>With boolean value
        </h2>
        <amp-form-row>
            <amp-group-buttons
                    #g2
                    [attr.theme]="themeService.theme.attr"
                    class="1/5"
                    [required]="true"
                    [isInSummaryState]="isInSummaryState"
                    [buttons]='booleanOptions.buttons'
                    [controlGroup]='controlGroup'
                    [groupName]='booleanOptions.groupName'>
            </amp-group-buttons>
        </amp-form-row>
        <amp-button [attr.theme]="themeService.theme.attr" [disabled]="g2.control.invalid"
                    class='btn btn-ok'>
            OK
        </amp-button>
    </section>
</form>


