<form [formGroup]="form" class='nl-form p'>
    <div class="p">
        <h2>Search</h2>
        <amp-qas-address
                #qas
                class="1/3"
                [controlGroup]="__controlGroup"
                [id]="__custom.controls[0].id"
                [required]="__custom.controls[0].required"
                [keepControl]="true"
                [isInSummaryState]='isInSummaryState'
                [label]="__custom.controls[0].label">
        </amp-qas-address>
    </div>
    <div class="p" *ngIf="summaryAddress">
        <h2>This is how the Review would look like</h2>
        <amp-form-row>
            <div class='grid__item_floated 1/1 summary-state'>
                {{ summaryAddress }}
            </div>
        </amp-form-row>
    </div>

    <amp-form-row>
        <amp-button class='btn btn-ok' (clicl)='isInSummaryState=!isInSummaryState'>Summary</amp-button>
        <amp-button class='btn btn-ok' [disabled]='!__controlGroup.valid'>Go Next</amp-button>
        <amp-button class='btn btn-ok' (click)='isInSummaryState=!isInSummaryState'>Summary</amp-button>
    </amp-form-row>
</form>
