<label
    class="amp-tab-mobile__nav-item"
    [class.amp-tab-mobile__nav-item--active]="active"
    [attr.for]="randomizedId + '_' + id"
    role="tab"
    [attr.aria-selected]="active">
    {{ title }}
    <i aria-hidden="true" class="icon icon--chevron-down amp-tab__icon amp-tab__icon-default"></i>
    <i aria-hidden="true" class="icon icon--tick amp-tab__icon amp-tab__icon-selected"></i>
</label>

<div
    class="amp-tab__panel"
    [class.amp-tab__panel--active]="active"
    role="tabpanel">

    <ng-content></ng-content>

</div>
