@import '../../../style/require';
// @import 'node_modules/amp-styleguide-core/src/scss/00_Settings/theme';
// @import 'node_modules/amp-styleguide-core/src/scss/01_Tools/functions/_decimal';
// @import 'node_modules/amp-styleguide-core/src/scss/01_Tools/mixins/family';

:host {
  display: inline-block;
  width: 400px;
}

$summary-state-color: $amp-colour-sky-blue;
$summary-state-font-family: $amp-font-open-sans-regular;
$summary-state-font-weight: 300;
.summary-state {
  @include amp-family($summary-state-font-family);
  @extend %#{$namespace}amp-colour-sky-blue;
  font-weight: $summary-state-font-weight;
  vertical-align: bottom;
  line-height: 43px;
  font-size: $ddc-input-field-font-size;
}

.summary-text {
  @include amp-family($summary-state-font-family);
  @extend %#{$namespace}amp-colour-sky-blue;
  font-weight: $summary-state-font-weight;
  font-size: $ddc-input-field-font-size;
  margin-left: 2px;
}

.invisible {
  display: none !important;
}

$md-font-url: '/node_modules/ng2-material/dist/';
@import '~ng2-material/dist/font.scss';
// @import 'node_modules/ng2-material/source/core';

@import '~ng2-material/source/core/style/variables';

// Override Variables
// Override core/style/variables.scss
// $font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif !default;
$font-size: $amp-base-font-size;

// $display-4-font-size-base: rem(11.20) !default;
// $display-3-font-size-base: rem(5.600) !default;
// $display-2-font-size-base: rem(4.500) !default;
// $display-1-font-size-base: rem(3.400) !default;
// $headline-font-size-base:  rem(2.400) !default;
// $title-font-size-base:     rem(2.000) !default;
// $subhead-font-size-base:   rem(1.600) !default;
//$body-font-size-base:      rem(3.000) !default;
// $caption-font-size-base:   rem(1.200) !default;

@import '~ng2-material/source/core/style/mixins';
@import '~ng2-material/source/core/style/structure';
@import '~ng2-material/source/core/style/typography';
@import '~ng2-material/source/core/style/layout';
@import '~ng2-material/source/core/style/default-theme';

// Custom amp-sky-blue-palettes
$md-sky-blue: (
        50: $amp-colour-grey-dark,
        100: $amp-colour-grey-dark,
        200: $amp-colour-grey-dark,
        300: $amp-colour-grey-dark,
        400: $amp-colour-grey-dark,
        500: $amp-colour-grey-dark,
        600: $amp-colour-grey-dark,
        700: $amp-colour-grey-dark,
        800: $amp-colour-grey-dark,
        900: $amp-colour-grey-dark,
        A100: $amp-colour-grey-dark,
        A200: $amp-colour-grey-dark,
        A400: $amp-colour-grey-dark,
        A700: $amp-colour-grey-dark,
);

$md-sky-blue-palettes: (
        $md-sky-blue: (
                50: $amp-colour-grey-dark,
                100: $amp-colour-grey-dark,
                200: $amp-colour-grey-dark,
                300: $amp-colour-grey-dark,
                400: $amp-colour-grey-dark,
                500: $amp-colour-grey-dark,
                600: $amp-colour-grey-dark,
                700: $amp-colour-grey-dark,
                800: $amp-colour-grey-dark,
                900: $amp-colour-grey-dark,
                A100: $amp-colour-grey-dark,
                A200: $amp-colour-grey-dark,
                A400: $amp-colour-grey-dark,
                A700: $amp-colour-grey-dark,
        )
);

// Custom foreground colors
$md-grep-darkest-theme: (
        divider: $amp-colour-grey-dark,
        dividers: $amp-colour-grey-dark,
        disabled: $amp-colour-grey-dark,
        disabled-text: $amp-colour-grey-dark,
        hint-text: $amp-colour-grey-dark,
        secondary-text: $amp-colour-grey-dark,
        icon: $amp-colour-grey-dark,
        icons: $amp-colour-grey-dark,
        text: $amp-colour-grey-dark
);

$md-grep-darkest-theme-palettes: (
        $md-grep-darkest-theme : (
                divider: $amp-colour-grey-dark,
                dividers: $amp-colour-grey-dark,
                disabled: $amp-colour-grey-dark,
                disabled-text: $amp-colour-grey-dark,
                hint-text: $amp-colour-grey-dark,
                secondary-text: $amp-colour-grey-dark,
                icon: $amp-colour-grey-dark,
                icons: $amp-colour-grey-dark,
                text: $amp-colour-grey-dark
        )
);

$md-primary: md-palette(map_get($md-sky-blue-palettes, $md-sky-blue), 500, 100, 700, $md-sky-blue-palettes);
$md-foreground: md-palette(map_get($md-grep-darkest-theme-palettes, $md-grep-darkest-theme), 500, 100, 700, $md-grep-darkest-theme-palettes);
$md-accent: md-palette($md-deep-orange, 500, 300, 700, $md-contrast-palettes);

// Overrides on existing components/input/input.scss
$input-container-padding: 2px !default;

$input-label-default-offset: $amp-base-font-size * 4 !default; // 60 px
$input-label-default-scale: 0.5 !default;
$input-label-float-offset: $amp-base-font-size * 1.66 !default;
$input-label-float-scale: 0.5 !default;

$input-placeholder-offset: $input-label-default-offset !default;

$input-border-width-default: 1px !default;
$input-border-width-focused: 1px !default;
$input-line-height: $amp-base-font-size * 2 !default;
$input-padding-top: 2px !default;

$input-full-width-line-height: $amp-base-font-size * 2 !default;
$input-full-width-padding-top: $amp-base-font-size * 2 !default;

$input-error-font-size: $amp-base-font-size !default;
$input-error-height: $amp-base-font-size * 1.5 !default;
$input-error-line-height: $input-error-font-size + 2px;
$error-padding-top: ($input-error-height - $input-error-line-height) / 2;

$icon-offset: 36px !default;

$icon-float-focused-top: -8px !default;

// Custom md-input variables
$input-padding-bottom: 15px !default;
$input-height: $input-line-height * 1.5; // Don't like Materialize CSS rule 'height: $input-line-height + ($input-padding-top * 2);'

// TODO: Not sure if I need all Material design component or just the input component...test this out in future
@import 'node_modules/ng2-material/source/components';

@function pt2px($pt) {
  @return decimal-round($pt * 1.3333, 2) + px;

}

md-input-container {
  box-sizing: content-box ;
  display: inline-block;
  flex: none;
  cursor: pointer;
  height: $input-line-height * 1.5;
  max-width: 400px;
  &.gone {
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
  }
  label:not(.md-container-ignore) {
    bottom: 94% !important;
  }
  .md-input {

    font-size: $ddc-input-field-font-size;
    &[disabled] {
      &.summary-state {
        border-bottom: 1px solid transparent !important;
        color: #00AAE0;
        background-image: none;
        cursor: default;
        background-image: none;
        &:hover {
          border-bottom: 1px solid transparent !important
        }
      }
    }
    margin-top: 8.5px !important;
    display: inline;
    flex: none;
    cursor: pointer;
    max-width: 600px;
    padding-bottom: $input-padding-bottom !important;
    height: $input-height*1.1;
    color: $amp-colour-sky-blue;
    @include amp-family($amp-font-open-sans-regular);
    font-weight: 300;

    &.ng-invalid:not(.ng-pristine) {
      color: $amp-colour-alert-danger;
      border-color: $amp-colour-alert-danger;
    }

    &:hover:not(.ng-invalid), &:hover.ng-pristine {
      border-color: $amp-colour-sky-blue;
    }

    &:focus {
      color: $amp-colour-black;
    }
  }

  label {
    min-width: 300px;
    @include amp-family($amp-font-open-sans-semibold);
    color: $amp-colour-grey-darkest;
  }

  &:not(.md-input-invalid).md-input-has-value, &:not(.md-input-invalid).md-input-focused, &.md-input-has-value {
    label {
      @include amp-family($amp-font-open-sans-semibold);
      color: $amp-colour-grey-darkest;
    }
  }
}

my-md-input {

  display: inline-block !important;
}