<amp-form-block [context]="context()">
    <div class="mt mb">
        When switching, your existing depost will become your Bett3r Pay account.
        We will also set up a Bett3r save and spend account to help manage your finances.
    </div>
    <div class="mt mb">
        Please enter the deposit account number that you would like to switch.
    </div>
    <amp-form-row>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12 mr+ mt">
            <amp-input
                    [id]="__custom.controls[0].id"
                    [controlGroup]="__controlGroup"
                    [label]="__custom.controls[0].label"
                    [required]="true"
                    [isInSummaryState]="isInSummaryState"
                    [pattern]="'^([0-9])*$'"
                    [maxLength]="'12'">
            </amp-input>
        </div>
    </amp-form-row>
</amp-form-block>