<section class="section p">
    <p>Default images are on white background (Forms theme)</p>
</section>

<section class="section p">
    <h2 class="mb">AMP</h2>

    <div class="grid__container 1/1">
        <div class="grid__item_floated lap-and-up-1/4">
            <p class="micro-copy mb">theme = forms (default)</p>

            <amp-logo></amp-logo>

        </div>
        <div class="grid__item_floated lap-and-up-1/4">
            <p class="micro-copy mb">theme = tools</p>

            <amp-logo [theme]="'tools'"></amp-logo>

        </div>
        <div class="grid__item_floated lap-and-up-1/4">
            <p class="micro-copy mb">theme = forms_transparent</p>

            <amp-logo [theme]="'forms_transparent'"></amp-logo>

            <p class="micro-copy mt">This is an image with transparent bg</p>

        </div>
        <div class="grid__item_floated lap-and-up-1/4 reversed">
            <p class="micro-copy mb">theme = tools_transparent</p>

            <amp-logo [theme]="'tools_transparent'"></amp-logo>

            <p class="micro-copy mt">This is an image with transparent bg</p>

        </div>
    </div>
</section>

<section class="section p mt">
    <h2 class="mb">AMP Financial Planning</h2>

    <div class="grid__container 1/1">
        <div class="grid__item_floated lap-and-up-1/4">

            <amp-logo [licensee]="'DEA_AMPFP'"></amp-logo>

        </div>
        <div class="grid__item_floated lap-and-up-1/4">

            <amp-logo [licensee]="'DEA_AMPFP'" [theme]="'tools'"></amp-logo>

        </div>
        <div class="grid__item_floated lap-and-up-1/4">

            <amp-logo [licensee]="'DEA_AMPFP'" [theme]="'forms_transparent'"></amp-logo>

        </div>
    </div>
</section>

<section class="section p mt">
    <h2 class="mb">Charter</h2>

    <div class="grid__container 1/1">
        <div class="grid__item_floated lap-and-up-1/4">

            <amp-logo [licensee]="'DEA_CHARTER'"></amp-logo>

        </div>
        <div class="grid__item_floated lap-and-up-1/4">

            <amp-logo [licensee]="'DEA_CHARTER'" [theme]="'tools'"></amp-logo>

        </div>
        <div class="grid__item_floated lap-and-up-1/4">

            <amp-logo [licensee]="'DEA_CHARTER'" [theme]="'forms_transparent'"></amp-logo>

        </div>
    </div>
</section>


<section class="section p mt">
    <h2 class="mb">Hillross</h2>

    <div class="grid__container 1/1">
        <div class="grid__item_floated lap-and-up-1/4">

            <amp-logo [licensee]="'DEA_HILLROSS'"></amp-logo>

        </div>
        <div class="grid__item_floated lap-and-up-1/4">

            <amp-logo [licensee]="'DEA_HILLROSS'" [theme]="'tools'"></amp-logo>

        </div>
        <div class="grid__item_floated lap-and-up-1/4">

            <amp-logo [licensee]="'DEA_HILLROSS'" [theme]="'forms_transparent'"></amp-logo>

        </div>
        <div class="grid__item_floated lap-and-up-1/4 reversed">

            <amp-logo [licensee]="'DEA_HILLROSS'" [theme]="'tools_transparent'"></amp-logo>

        </div>
    </div>
</section>
