<amp-form-block [context]="context()" [withOkButton]="false">

    <div *ngIf="!hasConsentBeenPassed" class="lap-and-up-9/12 heading-contxtual-label">
        You can use the following methods:
        <div class="full-width">
            <div class="dip mr+">
                <ul class="mt list-default">
                    <li>Driver's licence</li>
                    <li>Australian passport</li>
                </ul>
            </div>
            <div class="dip">
                <ul class="list-default">
                    <li>Medicare card</li>
                    <li>Australian work visa</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="grid__container 1/1 palm-1/1">
        <div *ngIf="!hasConsentBeenPassed">
            <amp-form-row class="mt+">
                <amp-checkbox
                    [controlGroup]="controlGroup"
                    [id]="creditHeaderCheckboxId">
                    <span>
                        I authorise AMP to check only my identity against personal information held by a credit bureau.
                    </span>
                </amp-checkbox>
                <div class="mt-60 heading-contxtual-label">
                        By proceeding I consent to my personal information being used and disclosed as set out in the 
                        <a href="https://www.amp.com.au/depositprivacy" target="_blank">privacy information</a> document.
                </div>
                <div class="mt-60">
                    <amp-button
                        theme="tools"
                        class="btn btn-ok mr palm-1/1 palm-mr0"
                        (click)="onCreditCheckHeaderConsentClick()">
                        OK
                    </amp-button>
                </div>
            </amp-form-row>
        </div>

        <div *ngIf="hasConsentBeenPassed">
            <div *ngIf="!isVerificationCompleted">
                <div id="greenid-div"></div>
                <link *ngIf="safeStyleUrl" type="text/css" media="screen" rel="stylesheet" [href]="safeStyleUrl">
            </div>

            <div *ngIf="isVerificationCompleted">
                <div *ngIf="verificationWasSuccessful">
                    <h2>Thanks</h2>
                    <p>Your ID has been verified. Please continue.</p>
                </div>
                <div *ngIf="!verificationWasSuccessful">
                    <h2>Your ID was unable to be verified</h2>
                    <p>But please still continue and you can provide your ID using the paper forms available at the end of your application.</p>
                </div>
                <div>
                    <span class="id-check-icon mt-60"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-60">
        <amp-button
                theme="tools"
                class="btn btn-ok mr palm-1/1 palm-mr0"
                *ngIf="showOkButton"
                (click)="onOkClick()">
            OK
        </amp-button>
    </div>

</amp-form-block>
