<amp-form-block [context]="context()" buttonsTheme='tools'>
    <amp-form-row>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-10/12">
            <p class="mb heading-contxtual-label">
                {{ description }}
            </p>
            <amp-group-buttons
                class="grid__item 1/1 lap-and-up-8/12"
                [buttons]="__custom.controls[0].buttons"
                [isInSummaryState]="isInSummaryState"
                [controlGroup]="__controlGroup"
                [groupName]="__custom.controls[0].id"
                [required]="true">
            </amp-group-buttons>
        </div>
    </amp-form-row>
    <div *ngIf="isNewAccount">
        <p class="mt mb heading-contxtual-label" *ngIf="__custom.additional_instruction">
            {{ __custom.additional_instruction }}
        </p>
        <amp-form-row>
            <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
                <amp-account-number
                        #depositAccount
                        [id]="__custom.controls[1].id"
                        [controlGroup]="__controlGroup"
                        [amp-number-only]="depositAccount.control"
                        [isInSummaryState]="isInSummaryState"
                        [required]="true">
                </amp-account-number>
            </div>
        </amp-form-row>
    </div>
</amp-form-block>
