<amp-form-block [context]="context()">
    <div class="mt mb">Please provide us with some contact details so that we know who you are.</div>
    <amp-form-row>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
            <amp-email
                    [id]="__custom.controls[0].id"
                    [controlGroup]="__controlGroup"
                    [isInSummaryState]="isInSummaryState">
            </amp-email>
        </div>
    </amp-form-row>
    <amp-form-row>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
            <amp-contact-number
                    [id]="__custom.controls[1].id"
                    [isInSummaryState]="isInSummaryState"
                    [controlGroup]="__controlGroup"
                    [label]="'Mobile number'">
            </amp-contact-number>
        </div>
    </amp-form-row>
    <amp-form-row>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
            <amp-home-number
                    [id]="__custom.controls[2].id"
                    [controlGroup]="__controlGroup"
                    [isInSummaryState]="isInSummaryState"
                    [label]="'Home number'"
                    [required]="false">
            </amp-home-number>
        </div>
    </amp-form-row>
</amp-form-block>