<amp-form-block [context]="context()" buttonsTheme='tools'>
    <amp-form-row>
        <div class="grid__item_floated tablet-and-down-1/1 lap-and-up-4/12">
            <amp-email
                    auto-focus-on
                    [id]="__custom.controls[0].id"
                    [controlGroup]="__controlGroup"
                    [isInSummaryState]="isInSummaryState">
                <amp-tooltip-cmp
                        class="post-fix"
                        message="Confirmation of your application will be sent to this email address.">
                </amp-tooltip-cmp>
            </amp-email>
        </div>
    </amp-form-row>
    <amp-form-row>
        <div class="grid__item_floated tablet-and-down-1/1 lap-and-up-4/12">
            <amp-mobile-number
                    [id]="__custom.controls[1].id"
                    [isInSummaryState]="isMobileInSummaryState"
                    [controlGroup]="__controlGroup"
                    [label]="__custom.controls[1].label"
                    [pattern]="'^04(\\d){8}$'"
                    [maxLength]="10"
                    [errors]="{'pattern' : __custom.controls[1].errorMsg, 'required' : __custom.controls[1].requiredMsg }"
                    [required]="true">
                <amp-tooltip-cmp
                        class="post-fix"
                        message="A mobile phone number is required to allow AMP Bank to securely protect your account.">
                </amp-tooltip-cmp>
            </amp-mobile-number>
        </div>
    </amp-form-row>
    <amp-form-row>
        <div class="grid__item_floated tablet-and-down-1/1 lap-and-up-4/12">
            <amp-home-number
                    [id]="__custom.controls[2].id"
                    [controlGroup]="__controlGroup"
                    [isInSummaryState]="isInSummaryState"
                    [label]="'Home number'"
                    [required]="false">
            </amp-home-number>
        </div>
    </amp-form-row>
</amp-form-block>