
<section class="sectioan mh mv">


    <div class="section">
        <h2 class="mb-">Primary buttons</h2>
    </div>
    <article class="article">
        <div class='title'>btn-ok</div>
        <div class='content'>
            <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(1)' [class]="'btn btn-ok mt0'">
                Ok
            </amp-button>
        </div>
    </article>

    <article class="article">
        <div class='title'>btn-ok disabled</div>
        <div class='content'>
            <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(2)' [disabled]='true' [class]="'btn btn-ok mt0'">
                Ok
            </amp-button>
        </div>
    </article>
    <article class="article">
    <p class="para mt">Sample implementation below:</p>
    <p class="para">
        <highlight color-default>
               <pre class="pre">
                    <code class="highlight-override">
                        <strong class="strong">
                            &#60;amp-button [attr.theme]="tools" [class]="'btn btn-ok'"&#62;
                                Ok
                            &#60;/amp-button&#62;
                        </strong>
                    </code>
               </pre>
        </highlight>
    </p>
    </article>

    <article class="article">
        <div class='title'>btn-change</div>
        <div class='content'>
            <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(3)' [class]="'btn btn-change mt0'">
                Change
            </amp-button>
        </div>
    </article>
    <article class="article mt">
        <h2 class="mb-">Secondary buttons</h2>
    </article>
    <article class="article">
        <div class='title'>btn-secondary</div>
        <div class='content'>
            <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(1)' [class]="'btn btn-secondary mt0 mb'">
                Save for later
            </amp-button>
        </div>
    </article>
    <article class="article">
        <p class="para mt">Sample implementation below:</p>
        <p class="para">
            <highlight color-default>
               <pre class="pre">
                    <code class="highlight-override">
                        <strong class="strong">
                            &#60;amp-button [attr.theme]="tools" [class]="'btn btn-secondary'"&#62;
                            Save for later
                            &#60;/amp-button&#62;
                        </strong>
                    </code>
               </pre>
            </highlight>
        </p>
    </article>
    <article class="article mt">
        <h2 class="mb-">Submit buttons</h2>
    </article>
    <article class="article">
        <div class='title'>btn-submit</div>
        <div class='content'>
            <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(1)' [class]="'btn btn-submit mt0 mb'">
                Submit <span class='icon icon&#45;&#45;chevron-right'></span>
            </amp-button>
        </div>
    </article>
    <article class="article">
        <p class="para mt">Sample implementation below:</p>
        <p class="para">
            <highlight color-default>
               <pre class="pre">
                    <code class="highlight-override">
                        <strong class="strong">
                            &#60;amp-button [attr.theme]="tools" [class]="'btn btn-submit'"&#62;
                            Submit
                            &#60;/amp-button&#62;
                        </strong>
                    </code>
               </pre>
            </highlight>
        </p>
    </article>
</section>

<!--

<section>
    <div class='title'>btn-change</div>
    <div class='content'>
        <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(1)' class='btn btn-change'>
            Change
        </amp-button>
    </div>
</section>
<section>
    <div class="title">btn-submit</div>
    <div class='content'>
        <amp-button [attr.theme]="themeService.theme.attr" (click)='alert()' class='btn btn-submit'>
            Submit
        </amp-button>
    </div>
</section>
<section>
    <div class="title">btn-submit with icon</div>
    <div class='content'>
        <amp-button [attr.theme]="themeService.theme.attr" (click)='alert()' class='btn btn-submit'>
            Submit <span class='icon icon&#45;&#45;chevron-right'></span>
        </amp-button>
    </div>
</section>
<section>
    <div class="title">btn-ok</div>
    <div class='content'>
        <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(2)' class='btn btn-ok'>
            OK
        </amp-button>
    </div>

</section>
<section>
    <div class="title">btn-ok disabled</div>
    <div class='content'>
        <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(2)' [disabled]='true' class='btn btn-ok'>
            OK
        </amp-button>
    </div>
</section>

<section>
    <div class="title">btn-anchor</div>
    <div class='content'>
        <amp-button [attr.theme]="themeService.theme.attr" (click)='alert()' class='btn btn-anchor'>
            Go to ...
        </amp-button>
    </div>
</section>

<section>
    <div class="title">Change hidden/removed</div>
    <div class='content'>
        <amp-button [attr.theme]="themeService.theme.attr" *ngIf='false' (click)='clickMethod(3)' class='btn btn-change'>
            Change hidden/removed
        </amp-button>
    </div>
</section>
<section>
    <div class="title">Full width (Relative to the container)</div>
    <div class='content'>
        <amp-button [attr.theme]="themeService.theme.attr" class='btn btn-change btn-full'>
            Full
        </amp-button>
    </div>
</section>
<section>
    <div class="title">Same as above but override the data-automation-id</div>
    <div class='content'>
        <amp-button [attr.theme]="themeService.theme.attr" class='btn btn-change btn-full' [data-automation-id]='"abcd"'>
            Full
        </amp-button>
    </div>
</section>
<section>
    <some-form-block></some-form-block>
</section>
-->
