@import "src/style/require";
@import "~amp-styleguide-core/src/scss/05_Components/buttons";

.title {
  font-size: 14px;
  font-weight: 600;
  padding: 20px 0;
}

section {
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}