@import "../../../styles/abstracts";

.title {
  font-size: 14px;
  font-weight: 600;
  padding: 20px 0;
}

.highlight-override {
    text-align: left;
    display: flex;
    > .strong {
        white-space: pre-line;
    }
}
.pre {
    display: inline;
}
