
<section class="section mh mv">

    <div class="section">
        <h2 class="mb-">Amp Button</h2>
    </div>
    <article class="article">
        <div class='title'>Available attributes</div>
        <div class='content'>
            <ul class="unordered-list mb">
                <li>[class] = <em><strong>Type of button you would like</strong></em></li>
                <li>[data-automation-id] = <em><strong>Important, this is mandatory</strong></em></li>
                <li>[attr.theme] =  <em><strong>Used for themes</strong></em></li>
            </ul>
        </div>
    </article>
    <div class="section">
        <h2 class="mb-">Primary buttons</h2>
    </div>
    <article class="article">
        <div class='title'>btn-ok</div>
        <div class='content'>
            <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(1)' [class]="'btn btn-ok mt0'" [data-automation-id]='"abcd"'>
                Ok
            </amp-button>
        </div>
    </article>

    <article class="article">
        <div class='title'>btn-ok disabled</div>
        <div class='content'>
            <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(2)' [disabled]='true' [class]="'btn btn-ok mt0'" [data-automation-id]='"abcd"'>
                Ok
            </amp-button>
        </div>
    </article>
    <article class="article">
    <p class="para mt">Sample implementation below:</p>
    <p class="para">
        <highlight color-default>
               <pre class="pre">
                    <code class="highlight-override">
                        <strong class="strong">
                            &#60;amp-button [attr.theme]="tools" [class]="'btn btn-ok'"&#62;
                                Ok
                            &#60;/amp-button&#62;
                        </strong>
                    </code>
               </pre>
        </highlight>
    </p>
    </article>

    <article class="article">
        <div class='title'>btn-change</div>
        <div class='content'>
            <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(3)' [class]="'btn btn-change mt0'" [data-automation-id]='"abcd"'>
                Change
            </amp-button>
        </div>
    </article>
    <article class="article mt">
        <h2 class="mb-">Secondary buttons</h2>
    </article>
    <article class="article">
        <div class='title'>btn-secondary</div>
        <div class='content'>
            <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(1)' [class]="'btn btn-secondary mt0 mb'" [data-automation-id]='"abcd"'>
                Save for later
            </amp-button>
        </div>
    </article>
    <article class="article">
        <p class="para mt">Sample implementation below:</p>
        <p class="para">
            <highlight color-default>
               <pre class="pre">
                    <code class="highlight-override">
                        <strong class="strong">
                            &#60;amp-button [attr.theme]="tools" [class]="'btn btn-secondary'"&#62;
                            Save for later
                            &#60;/amp-button&#62;
                        </strong>
                    </code>
               </pre>
            </highlight>
        </p>
    </article>
    <article class="article mt">
        <h2 class="mb-">Submit buttons</h2>
    </article>
    <article class="article">
        <div class='title'>btn-submit</div>
        <div class='content'>
            <amp-button [attr.theme]="themeService.theme.attr" *ngIf='true' (click)='clickMethod(1)' [class]="'btn btn-submit mt0 mb'" [data-automation-id]='"abcd"'>
                Submit <span class='icon icon&#45;&#45;chevron-right'></span>
            </amp-button>
        </div>
    </article>
    <article class="article">
        <p class="para mt">Sample implementation below:</p>
        <p class="para">
            <highlight color-default>
               <pre class="pre">
                    <code class="highlight-override">
                        <strong class="strong">
                            &#60;amp-button [attr.theme]="tools" [class]="'btn btn-submit'"&#62;
                            Submit
                            &#60;/amp-button&#62;
                        </strong>
                    </code>
               </pre>
            </highlight>
        </p>
    </article>
</section>

