<div
        #dropdownEl
        class='amp-dropdown'
        [class.amp-dropdown--has-selection]='hasSelection'
        [class.amp-dropdown--animate]='animateSelection'
        [class.amp-dropdown--summary-state]='isInSummaryState'
        [class.amp-dropdown--is-open]='optionsShown'
        [clicked-outside]='hideOptions'
        (window:resize)="onResize($event)">

    <label class='sr-only' [attr.for]='randomizedId'>
        {{ label }}
    </label>
    <select
            #selectEl
            class='sr-only'
            [attr.id]='randomizedId'
            [formControl]='control'
            (keydown)='onKeypressEvent($event)'
            (change)='onChangeEvent()'
            (focus)='onFocusEvent($event)'
            [attr.data-automation-id]='"slt_" + randomizedId'
            [attr.disabled]='(disabled || isInSummaryState) ? "disabled" : null'>

        <option value='' selected [attr.disabled]='currentOption > 0 ? "disabled" : null'></option>

        <option *ngFor='let option of options | slice:0:_limitTo; let i=index'
                [value]='option[fieldValueKey]'>
            {{ option[fieldItemKey] }}
        </option>

    </select>

    <div class='amp-dropdown__select' (click)='toggleOptions()' aria-hidden='true'>
        <div class='amp-dropdown__label' aria-hidden='true' *ngIf='!labelHidden'>{{ label }}</div>
        <span class='amp-dropdown__icon icon icon--chevron-down' aria-hidden='true'></span>

        <span class='amp-dropdown__select-value' aria-hidden='true'>{{ selectedOption[fieldItemKey] }}</span>&nbsp;
    </div>

    <div
            #optionsEl
            class='amp-dropdown__options amp-dropdown__options--{{ numOptions }}'
            [class.amp-dropdown__options--hidden]='!optionsShown'
            aria-hidden='true'>

        <div
                *ngFor='let option of options | slice:0:_limitTo; let i=index'
                class='amp-dropdown__option'
                [class.amp-dropdown__option--active]='option[fieldValueKey] == selectedOption[fieldValueKey]'
                (click)='setSelectValue(option[fieldValueKey])'
                aria-hidden='true'
                tabindex='-1'
                [attr.data-option-val]='option[fieldValueKey]'>

            {{ option[fieldItemKey] }}

        </div>
    </div>
</div>