<div class='amp-dropdown-title mb-' [class.invisible]='!selectedOption[fieldValueKey]'>{{ label }}</div>
<div (window:resize)="onResize($event)" [clicked-outside]='close' class='amp-dropdown'>
    <select [formControl]='control' class='sr-only'
            [attr.data-automation-id]='"select_" + randomizedId'
            [attr.id]='"select_" + randomizedId'
            [attr.name]='"select_" + randomizedId'>
        <option value=''>{{ label }}</option>
        <option (click)='selectOption(option,$event , { doMarkAsTouched : true , doMarkAsDirty:true})'
                *ngFor='let option of options; let i = index'
                value="{{ option[fieldValueKey] }}">
            {{ option[fieldValueKey] }}
        </option>
    </select>
    <input
        readonly="true"
        #input
        class='sr-only amp-dropdown-control'
        [attr.data-automation-id]='"dropdown_" + randomizedId'
        [attr.id]='"dropdown_" + randomizedId'
        [attr.name]='"dropdown_" + randomizedId'
        (keydown)='onKeydown($event)'
        focuser>
    <label class='amp-dropdown-label'
           [class.active]='!isOptionsHidden'
           [class.selected]='selectedOption[fieldItemKey] && isOptionsHidden'
           [class.disabled]='isInSummaryState || disabled'
           (click)='!disabled && !isInSummaryState && toggleOptions($event)'
           [attr.id]='"dropdown_" + randomizedId'>
        <span>{{ selectedOption[fieldValueKey] || label }}</span>&nbsp;
        <span class='amp-dropdown-icon icon icon--chevron-{{ isOptionsHidden?"down":"up" }}' aria-hidden='true'></span>
    </label>
    <ul
        [hidden]='options===null || isOptionsHidden'
        focuser='list'
        [ngStyle]='{"max-height":maxHeight}'
        (focusOut)='focusInput()'
        (onTypeCharacter)='onTypeCharacter($event)'
        class='amp-dropdown-options-container'>
        <li #optionRef
            (keydown.enter)='selectOption(option,$event , { doMarkAsTouched : true , doMarkAsDirty:true })'
            (click)='selectOption(option,$event , { doMarkAsTouched : true , doMarkAsDirty:true  })'
            *ngFor='let option of options; let i = index'
            class='amp-dropdown-option'
            [class.amp-dropdown-active]='option[fieldItemKey] === selectedOption[fieldItemKey]'
            [attr.tabindex]='i+1'>
            <template
                [ngTemplateOutlet]='itemTemplate'
                [ngOutletContext]='{ option: option, index: index }'>
            </template>
        </li>
    </ul>
</div>
<amp-control-error *ngIf="showErrorComponent" [control]="control"></amp-control-error>