@import '../../../../../styles/abstracts';

// Dropdown basic settings
$dropdown-width                                : 300px;
$dropdown-height                               : 50px;
$dropdown-color                                : $amp-colour-grey-darkest;
$dropdown-title-color                          : $dropdown-color;
$dropdown-font-size                            : 14px;
$dropdown-padding                              : 15px 20px;
$dropdown-border                               : 2px solid $amp-colour-grey-dark;
$dropdown-chev-color                           : $amp-colour-sky-blue;

// Dropdown active settings
$dropdown-active-border-color                  : $amp-colour-sky-blue;
$dropdown-active-border                        : 2px solid $dropdown-active-border-color;

// Dropdown options-container settings
$dropdown-options-container-border              : $dropdown-border;
$dropdown-options-container-background-color    : $amp-colour-white;

// Dropdown option settings
$dropdown-option-color                         : $amp-colour-grey-darkest;
$dropdown-option-font-size                     : $dropdown-font-size;
$dropdown-option-padding                       : $dropdown-padding;
$dropdown-option-height                        : $dropdown-height;
$dropdown-option-border-top                    : $dropdown-border;
$dropdown-option-padding-right-hidden          : 4em;
$dropdown-option-hover-color                   : $amp-colour-primary;
$dropdown-option-hover-background-color        : $amp-colour-grey-semiwhite;
$dropdown-option-selected-background-color     : $amp-colour-grey-semiwhite;

// Dropdown disabled settings
$dropdown-disabled-color                       : $amp-colour-grey-darkest;
$dropdown-chev-disabled-color                  : $amp-colour-grey-darkest;

:host {
    display  : block;
    position : relative;
    select {
        display : none;
    }
}

@mixin border-active {
    border-color : $dropdown-active-border-color;
    @include box-shadow(inset 0 0 0 1px $dropdown-active-border-color);
}

.amp-dropdown-control {
    &:focus + .amp-dropdown-label {
        @include border-active();
    }
}

.amp-dropdown-title {
    margin-bottom : 20px;
    color         : $dropdown-title-color;
    @include amp-family('open-sans-semibold');
    &.invisible {
        visibility : hidden;
    }
}

.amp-dropdown {
    position : relative;
    min-width  : $dropdown-width;
    margin-top : 15px;
}

.amp-dropdown-label {
    font-size     : $dropdown-font-size;
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
    text-align    : left;
    max-height    : $dropdown-height;
    border        : $dropdown-border;
    padding       : $dropdown-padding;
    @include amp-family('open-sans-semibold');
    color         : $dropdown-color;
    display       : block;
    cursor        : pointer;

    .amp-dropdown-icon {
        color       : $dropdown-chev-color;
        font-size   : $dropdown-font-size;
        line-height : 0;
        margin      : 0;
        position    : absolute;
        top         : 20px;
        right       : 15px;
        z-index     : 3;
    }
    &.selected {
        color : $amp-colour-sky-blue;
    }
    &:not(.disabled) {
        @include hover-focus-active {
            @include border-active();
        }
    }
    &.disabled {
        cursor : default;
        color  : $dropdown-disabled-color;
        .amp-dropdown-icon {
            color : $dropdown-chev-disabled-color;
        }
    }
}

.amp-dropdown-options-container {
    background             : $dropdown-options-container-background-color;
    border                 : $dropdown-options-container-border;
    border-top             : 0;
    font-size              : $dropdown-option-font-size;
    opacity                : 1;
    overflow-x             : hidden;
    overflow-y             : auto;
    position               : absolute;
    width                  : 100%;
    z-index                : 10;

    // IE Scrollbar
    scrollbar-base-color   : $amp-colour-sky-blue;
    scrollbar-track-color  : #f4f4f4;
    scrollbar-arrow-color  : $amp-colour-sky-blue;
    scrollbar-shadow-color : $amp-colour-sky-blue;

    // Webkit Scrollbar
    &::-webkit-scrollbar {
        width : 6px;
    }

    &::-webkit-scrollbar-track {
        background : #f4f4f4;
    }

    &::-webkit-scrollbar-thumb {
        background : $amp-colour-sky-blue;
    }

    &.amp-dropdown-hidden {
        border-top    : 0;
        border-bottom : 0;
        height        : 0;
        margin        : 0;
        padding-right : 18px; // Scrollbar offset
        position      : relative;
        visibility    : hidden;

        .amp-dropdown-option {
            padding-right : $dropdown-option-padding-right-hidden;
            white-space   : nowrap;
        }
    }
}

.amp-dropdown-option {
    @include amp-family('open-sans-semibold');
    color       : $dropdown-option-color;
    border-top  : $dropdown-option-border-top;
    line-height : 1.5em;
    min-height  : $dropdown-option-height;
    padding     : $dropdown-option-padding;
    width       : auto;
    &:not([disabled]) {
        cursor : pointer;
        @include hover-focus {
            background : $dropdown-option-hover-background-color;
            outline    : none;
            color      : $dropdown-option-hover-color;
        }
    }
    &.amp-dropdown-active {
        background : $dropdown-option-selected-background-color;
    }
    &:first-child {
        border-top : 0;
    }
}
