$namespace: $amp-namespace !default;

.btn-ok-margin-top {
  margin-top: 32px;
}

$summary-state-color: $amp-colour-sky-blue;
$summary-state-font-family: $amp-font-open-sans-regular;
$summary-state-font-weight: 300;
.summary-state {
  @include amp-family($summary-state-font-family);
  @extend %#{$namespace}amp-colour-sky-blue;
  font-weight: $summary-state-font-weight;
  vertical-align: bottom;
  line-height: 43px;
  font-size: $ddc-input-field-font-size;
}