<section class="section ph pv">

    <style>
        div {
            display        : inline-block;
            margin-bottom  : 20px;
            padding        : 20px;
            text-align     : center;
            width          : 140px;
            vertical-align : top;
        }

        .icon {
            font-size   : 3em;
            display     : block;
            line-height : 1em;
        }
    </style>

    <!-- arrows -->
    <div>
        <span class="icon icon--transfer" aria-hidden="true"></span>transfer
    </div>
    <div>
        <span class="icon icon--arrow-filled-up" aria-hidden="true"></span>arrow-filled-up
    </div>
    <div>
        <span class="icon icon--arrow-filled-down" aria-hidden="true"></span>arrow-filled-down
    </div>
    <div>
        <span class="icon icon--arrow-up" aria-hidden="true"></span>arrow-up
    </div>
    <div>
        <span class="icon icon--arrow-down" aria-hidden="true"></span>arrow-down
    </div>
    <div>
        <span class="icon icon--chevron-up" aria-hidden="true"></span>chevron-up
    </div>
    <div>
        <span class="icon icon--chevron-down" aria-hidden="true"></span>chevron-down
    </div>
    <div>
        <span class="icon icon--chevron-left" aria-hidden="true"></span>chevron-left
    </div>
    <div>
        <span class="icon icon--chevron-right" aria-hidden="true"></span>chevron-right
    </div>
    <div>
        <span class="icon icon--chevron-left-o" aria-hidden="true"></span>chevron-left-o
    </div>
    <div>
        <span class="icon icon--chevron-right-o" aria-hidden="true"></span>chevron-right-o
    </div>
    <!-- circle icons -->
    <div>
        <span class="icon icon--refresh" aria-hidden="true"></span>refresh
    </div>
    <div>
        <span class="icon icon--start-again" aria-hidden="true"></span>start-again
    </div>
    <div>
        <span class="icon icon--announcement" aria-hidden="true"></span>announcement
    </div>
    <div>
        <span class="icon icon--important-information" aria-hidden="true"></span>important-information
    </div>
    <div>
        <span class="icon icon--warning-outlined" aria-hidden="true"></span>warning-outlined
    </div>
    <div>
        <span class="icon icon--warning-filled" aria-hidden="true"></span>warning-filled
    </div>
    <div>
        <span class="icon icon--danger" aria-hidden="true"></span>danger
    </div>
    <div>
        <span class="icon icon--tick-outlined" aria-hidden="true"></span>tick-outlined
    </div>
    <div>
        <span class="icon icon--tick-filled" aria-hidden="true"></span>tick-filled
    </div>
    <div>
        <span class="icon icon--tick" aria-hidden="true"></span>tick
    </div>
    <div>
        <span class="icon icon--tooltip" aria-hidden="true"></span>tooltip
    </div>
    <div>
        <span class="icon icon--modal-close" aria-hidden="true"></span>modal-close
    </div>
    <div>
        <span class="icon icon--close" aria-hidden="true"></span>close
    </div>
    <div>
        <span class="icon icon--plus" aria-hidden="true"></span>plus
    </div>
    <div>
        <span class="icon icon--plus-filled" aria-hidden="true"></span>plus-filled
    </div>
    <div>
        <span class="icon icon--plus-outlined" aria-hidden="true"></span>plus-outlined
    </div>
    <div>
        <span class="icon icon--minus" aria-hidden="true"></span>minus
    </div>
    <!-- document icons -->
    <div>
        <span class="icon icon--downloads" aria-hidden="true"></span>downloads
    </div>
    <div>
        <span class="icon icon--compare" aria-hidden="true"></span>compare
    </div>
    <div>
        <span class="icon icon--apply" aria-hidden="true"></span>apply
    </div>
    <div>
        <span class="icon icon--document" aria-hidden="true"></span>document
    </div>
    <div>
        <span class="icon icon--already-have-a-product" aria-hidden="true"></span>already-have-a-product
    </div>
    <div>
        <span class="icon icon--menu" aria-hidden="true"></span>menu
    </div>
    <div>
        <span class="icon icon--things-to-consider" aria-hidden="true"></span>things-to-consider
    </div>
    <div>
        <span class="icon icon--newsletter" aria-hidden="true"></span>newsletter
    </div>
    <div>
        <span class="icon icon--form-calendar" aria-hidden="true"></span>form-calendar
    </div>
    <div>
        <span class="icon icon--events-or-appointment" aria-hidden="true"></span>events-or-appointment
    </div>
    <div>
        <span class="icon icon--time" aria-hidden="true"></span>time
    </div>
    <div>
        <span class="icon icon--sound" aria-hidden="true"></span>sound
    </div>
    <div>
        <span class="icon icon--chat" aria-hidden="true"></span>chat
    </div>
    <div>
        <span class="icon icon--faqs" aria-hidden="true"></span>faqs
    </div>
    <div>
        <span class="icon icon--clipboard" aria-hidden="true"></span>clipboard
    </div>
    <div>
        <span class="icon icon--calculator" aria-hidden="true"></span>calculator
    </div>
    <div>
        <span class="icon icon--tiles" aria-hidden="true"></span>tiles
    </div>
    <div>
        <span class="icon icon--tour" aria-hidden="true"></span>tour
    </div>

    <div>
        <span class="icon icon--home" aria-hidden="true"></span>home
    </div>
    <div>
        <span class="icon icon--rates-and-fees" aria-hidden="true"></span>rates-and-fees
    </div>
    <div>
        <span class="icon icon--location" aria-hidden="true"></span>location
    </div>
    <div>
        <span class="icon icon--print" aria-hidden="true"></span>print
    </div>
    <div>
        <span class="icon icon--settings" aria-hidden="true"></span>settings
    </div>
    <div>
        <span class="icon icon--exit" aria-hidden="true"></span>exit
    </div>
    <div>
        <span class="icon icon--share" aria-hidden="true"></span>share
    </div>

    <div>
        <span class="icon icon--facebook" aria-hidden="true"></span>facebook
    </div>
    <div>
        <span class="icon icon--like" aria-hidden="true"></span>like
    </div>

    <!-- social -->
    <div>
        <span class="icon icon--linked-in" aria-hidden="true"></span>linked-in
    </div>
    <div>
        <span class="icon icon--twitter" aria-hidden="true"></span>twitter
    </div>
    <div>
        <span class="icon icon--youtube" aria-hidden="true"></span>youtube
    </div>

    <div>
        <span class="icon icon--key" aria-hidden="true"></span>key
    </div>
    <div>
        <span class="icon icon--locked" aria-hidden="true"></span>locked
    </div>
    <div>
        <span class="icon icon--unlock" aria-hidden="true"></span>unlock
    </div>
    <div>
        <span class="icon icon--user-login" aria-hidden="true"></span>user-login
    </div>
    <div>
        <span class="icon icon--person-many-to-one" aria-hidden="true"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span class="path7"></span><span
                class="path8"></span><span class="path9"></span><span class="path10"></span></span>person-many-to-one
    </div>
    <div>
        <span class="icon icon--person-one-to-many" aria-hidden="true"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span class="path7"></span><span
                class="path8"></span><span class="path9"></span><span class="path10"></span></span>person-one-to-many
    </div>
    <div>
        <span class="icon icon--wifi" aria-hidden="true"></span>wifi
    </div>

    <div>
        <span class="icon icon--contact-us" aria-hidden="true"></span>contact-us
    </div>
    <div>
        <span class="icon icon--phone" aria-hidden="true"></span>phone
    </div>
    <div>
        <span class="icon icon--favourite-or-save" aria-hidden="true"></span>favourite-or-save
    </div>
    <div>
        <span class="icon icon--tools-and-calculators" aria-hidden="true"></span>tools-and-calculators
    </div>
    <div>
        <span class="icon icon--search" aria-hidden="true"></span>search
    </div>
    <div>
        <span class="icon icon--acrobat" aria-hidden="true"></span>acrobat
    </div>
    <div>
        <span class="icon icon--add-account" aria-hidden="true"></span>add-account
    </div>
    <div>
        <span class="icon icon--bpay" aria-hidden="true"></span>bpay
    </div>

    <div>
        <span class="icon icon--edit" aria-hidden="true"></span>edit
    </div>
    <div>
        <span class="icon icon--external" aria-hidden="true"></span>external
    </div>
    <div>
        <span class="icon icon--visibility-off" aria-hidden="true"></span>visibility-off
    </div>
    <div>
        <span class="icon icon--visibility-on" aria-hidden="true"></span>visibility-on
    </div>
    <div>
        <span class="icon icon--filter" aria-hidden="true"></span>filter
    </div>
    <div>
        <span class="icon icon--linked" aria-hidden="true"></span>linked
    </div>
    <div>
        <span class="icon icon--delete" aria-hidden="true"></span>delete
    </div>
    <div>
        <span class="icon icon--export" aria-hidden="true"></span>export
    </div>
    <div>
        <span class="icon icon--impersonate" aria-hidden="true"></span>impersonate
    </div>
    <div>
        <span class="icon icon--industry" aria-hidden="true"></span>industry
    </div>
    <div>
        <span class="icon icon--money" aria-hidden="true"></span>money
    </div>

    <!-- graph icons -->
    <div>
        <span class="icon icon--performance" aria-hidden="true"></span>performance
    </div>
    <div>
        <span class="icon icon--investment" aria-hidden="true"></span>investment
    </div>
    <div>
        <span class="icon icon--monitor-graph" aria-hidden="true"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span></span>monitor-graph
    </div>

    <!-- change investment mix icons -->
    <div>
        <span class="icon icon--invest-mix-life" aria-hidden="true"></span>Investment mix Life
    </div>
    <div>
        <span class="icon icon--invest-mix-risk" aria-hidden="true"></span>Investment mix Risk
    </div>
    <div>
        <span class="icon icon--invest-mix-own" aria-hidden="true"></span>Investment mix Own
    </div>
    <div>
        <span class="icon icon--chart" aria-hidden="true"></span>chart
    </div>
    <div>
        <span class="icon icon--minimise" aria-hidden="true"></span>minimise
    </div>
    <div>
        <span class="icon icon--minimise-filled" aria-hidden="true"></span>minimise-filled
    </div>
    <div>
        <span class="icon icon--more" aria-hidden="true"></span>more
    </div>
    <div>
        <span class="icon icon--instagram" aria-hidden="true"></span>instagram
    </div>
    <div>
        <span class="icon icon--adjust-quote" aria-hidden="true"></span>adjust-quote
    </div>
</section>
