<!-- <header-with-logo></header-with-logo> -->
<div class="container">
    <h3 class="heading heading-intro mb lap-and-up-mb+">{{title}}</h3>
    <div class="main">
        <div class="content mt+">
            We have received your application and will come back to you within 2 working days to confirm that your account has been opened and provide you with your account information.
        </div>
    </div>
    <amp-button [attr.theme]="'tools'" (click)="onFinishButtonClick()" class="btn btn-ok mr mt mb+ palm-1/1 palm-mr0">
        Finish
    </amp-button>
</div>
