@import '../../../styles/abstracts';
@import './button-base';
@import './themes/theme-tools';


:host {

    $btn-ok-background-color: $btn-ok-background-color;
    .#{$namespace}btn-ok,
    %#{$namespace}btn-ok {
        @extend %#{$namespace}font-size-small;
        @include transition(background-color $buttons-transition-time ease-in-out);
        width: $btn-ok-margin-width;
        margin-top: $btn-ok-margin-height;
        background-color: $btn-ok-background-color;
        height: $ddc-buttons-height;
        color: $btn-ok-color;
        &:hover, &:focus {
            &:not([disabled]) {
                color:$btn-ok-color;
                background-color: $btn-ok-hover-background-color;
            }

        }
        &:active {
            &:not([disabled]) {
                color: $btn-ok-color;
                background-color: $btn-ok-active-background-color;
            }
        }
    }

    &[theme='tools'] {

        $btn-ok-background-color: $btn-ok-tools-background-color;
        .#{$namespace}btn-ok,
        %#{$namespace}btn-ok {
            background-color: $btn-ok-background-color;
            color: $btn-ok-color;
            &:hover, &:focus {
                &:not([disabled]) {
                    background-color: $btn-ok-tools-hover-background-color;
                }

            }
            &:active {
                &:not([disabled]) {
                    background-color: $btn-ok-active-background-color;
                }
            }
        }
    }

}
