@import '../../../styles/abstracts';
@import './button-base';
@import './themes/theme-tools';


:host {
    //btn-ok default style

    $btn-ok-background-color: $btn-ok-background-color;

        .#{$namespace}btn-ok,
        %#{$namespace}btn-ok {
            background-color: $btn-ok-background-color;
            color: $btn-ok-color;
            &:hover, &:focus {
                &:not([disabled]) {
                    color:$btn-ok-color;
                    background-color: $btn-ok-hover-background-color;
                }

            }
            &:active {
                &:not([disabled]) {
                    color: $btn-ok-color;
                    background-color: $btn-ok-active-background-color;
                }
            }
        }

    //btn-ok default style

     .#{$namespace}btn-change,
     %#{$namespace}btn-change {
       background-color: $amp-colour-white;
       border: 2px solid $btn-change-border-color;
       border-color: $btn-change-border-color;
       &:hover, &:focus {
         &:not([disabled]) {
           background-color: $btn-change-hover-background-color;
           border-color: $btn-change-hover-background-color;
         }
       }
       &:active {
         &:not([disabled]) {
           background-color: $btn-change-active-background-color;
         }
       }
     }

    //btn-secondary

    .#{$namespace}btn-secondary,
    %#{$namespace}btn-secondary {
        width: $btn-secondary-width;
        background-color: $btn-secondary-background-color;
        border: 2px solid;
        border-color: $btn-secondary-border-color;
        &:hover, &:focus {
            &:not([disabled]) {
                color: $btn-secondary-hover-text-color;
                background-color: $btn-secondary-hover-background-color;
                border-color: $btn-secondary-hover-border-color;
            }
        }
        &:active {
            &:not([disabled]) {
                color: $btn-secondary-active-text-color;
                background-color: $btn-secondary-active-background-color;
                border-color: $btn-secondary-active-border-color;
            }
        }
    }

    &[theme='tools'] {

        $btn-ok-background-color: $btn-ok-tools-background-color;
        .#{$namespace}btn-ok,
        %#{$namespace}btn-ok {
            background-color: $btn-ok-background-color;
            color: $btn-ok-color;
            &:hover, &:focus {
                &:not([disabled]) {
                    background-color: $btn-ok-tools-hover-background-color;
                }

            }
            &:active {
                &:not([disabled]) {
                    background-color: $btn-ok-tools-active-background-color;
                }
            }
        }
    }

}
