$buttons-transition-time: $ddc-buttons-and-icons-transition-time;
$btn-ok-color: $amp-colour-white;
$btn-ok-border-color: $amp-colour-primary;
$btn-ok-hover-color: $amp-colour-white;
$btn-ok-hover-background-color: $amp-colour-secondary-darkest;
$btn-ok-hover-border-color: $amp-colour-white;
$btn-ok-disabled-text-color: $disabled-text-color;
$btn-ok-disabled-background-color: $disabled-background-color;
$btn-ok-background-color: $amp-colour-primary;
$btn-ok-active-background-color: $amp-colour-secondary;
