<amp-form-block [context]="context()" [withOkButton]='false'>

    <div class="lap-and-up-9/12 heading-contxtual-label">
        You can use the following methods:
        <ul class="mt list-default">
            <li>Driver's licence</li>
            <li>Australian passport</li>
            <li>Medicare card</li>
            <li>Australian work visa</li>
        </ul>
    </div>
    <amp-button
            [attr.theme]="'tools'"
            [context]="context()"
            class="btn btn-ok mr palm-1/1 palm-mr0"
            (click)="onOnlineCheckSelection()">
        Let me do it online now
    </amp-button>
    <!--Uncomment following line for local dev:-->
    <!--<amp-button
            [attr.theme]="'tools'"
            [context]="context()"
            class="btn btn-ok palm-1/1"
            (click)="onOfflineCheckSelection()">
        I'll mail certified copies
    </amp-button>-->
</amp-form-block>
