<amp-form-block [context]="context()">
    <div class="mt mb">
        You can use the following:
        <ul class="list-default">
            <li>Australian passport</li>
            <li>Medicare card</li>
            <li>Australian passport</li>
            <li>Australian work visa</li>
        </ul>
    </div>
    <amp-button
        [context]="context()"
        class="btn btn-ok mr"
        (click)="onIdCheckSelection('online')">
                        Let me do it online now
    </amp-button>
    <amp-button
        [context]="context()"
        class="btn btn-ok"
        (click)="onIdCheckSelection('offline')">
                        I'll mail certified copies
    </amp-button>
</amp-form-block>