<amp-button class="{{ clasz||'btn btn-submit palm-1/1' }}"
            [attr.theme]="theme"
            [disabled]="disabled"
            [data-automation-id]="dataAutomationId">
    <span #content>
        <ng-content></ng-content>
    </span>
    <span *ngIf="!content?.children">Submit</span>
    <div class="post-fix">
        <amp-loading [attr.theme]="'tools'"
                     [showLoading]="!disabled && isListening && loadingService.$loading| async"
                     mode="indeterminate"
                     size="small">
        </amp-loading>
    </div>
</amp-button>
