@import '../../../styles/abstracts';

$amp-ddc-public-asset : '../../../assets/';

.footer-container {
    color: $amp-colour-white;
    background: $amp-colour-primary;
    padding: 60px 30px 60px 254px;
    @include media-query(tablet-and-down) {
        padding: 30px;
    }
}

.contact-heading {
    font-size: 32px;
    margin-bottom: 5px;
    display: block;
    margin-top: -10px;
    margin-left: 111px;
    @include media-query(tablet-and-down) {
        font-weight: 400;
        font-size: $font-size-heading-mobile;
        margin-left: 60px;
    }    
    @include media-query(palm) {
        font-size: $font-size-small;
        .contact-call {
            clear: left;
        }
    }
}

.contact-details {
    font-size: $font-size-small;
    line-height: 26px;
    margin-top: 10px;
    margin-left: 111px;
    display: block;
    @include media-query(tablet-and-down) {
        font-size: $font-size-tiny;
        font-weight: 100;
        margin-left: 60px;
        margin-top: 0;
    }        
    @include media-query(palm) {
        display: inline-block;
        margin-top: 10px;
        line-height: 26px;
    }
}

.icon  {
    &::before {
        content: ' ';
        float: left;
        margin-right: 50px;
        margin-top: 10px;
        top: 0;
        width: 61px;
        height: 75px;
        background-repeat: no-repeat;
        background-size: 100%;
        @include media-query(tablet-and-down) {
            width: 35px;
            height: 44px;
            margin-right: 30px;
        }

    }
    &.person-white-icon {
        &::before {
            background-image : url('assets/images/person-white.png');
        }
    }
}

.separator {
    &::before {
        content: '|';
        margin: 0 25px;
        @include media-query(tablet) {
            margin: 0 5px;
        }            
        @include media-query(palm) {
            content: ' ';
            display: block;
            margin: 0;
            clear: both;
        }
    }
}
