$namespace : '';
$summary-state-color : $amp-colour-sky-blue;
$summary-state-font-family : $amp-font-open-sans-regular;
$summary-state-font-weight : 300;
$ddc-corporate-main-color : $amp-colour-sky-blue;
$errors-text-colors : $amp-colour-alert-danger;
$errors-font-family : $amp-font-open-sans-regular;
$disabled-color : $amp-colour-grey-darkest;
$font-size-large : 30px;
$font-size-medium : 24px;
$font-size-small : 18px;
$font-size-tiny : 14px;
$font-size-heading-mobile : 20px;
$icon-margin-right : 4px;
$amp-ddc-padding : 20px !default;
$sticky-menu-height : 80px;
$sticky-menu-margin-bottom : 58px;
$input-group-height : 75px;
$ddc-input-field-font-size : $font-size-medium;
$icons-font-size : 23px;
$ddc-buttons-height : 57px;
$bolr-right-padding : 16%;
$bolr-left-margin : 20%;
$ddc-log-height : 60px;
$amp-logo-height : 60px;
$ddc-buttons-and-icons-transition-time : 300ms;

//Colours
$amp-colour-gray-neutral: #CCCCCC;

// Content
$content-left-width : 155px;
$content-left-margin : 55px;
$content-padding-h : 20px;
$content-padding-h-lap-and-up : 44px;

$default-margin : 60px;
$default-margin-w-offset : $default-margin - 5px;

// Inputs
$input-color-focus : $amp-colour-grey-darkest-most;
$input-border-color-default : $amp-colour-grey-dark;
$input-border-color-hover : $amp-colour-sky-blue;
$input-error-color : $amp-colour-grey-darkest-most;
$input-font-size : $ddc-input-field-font-size;
$input-font-size-mobile : 20px;
$input-height : 59px;
$input-placeholder-color : $amp-colour-grey-darker;
$input-placeholder-font-size : 14px;

// CTA Cards
$card-offset: 140px;
$card-spacing: 16px;