<div class='grid__item_container google-address' [ngClass]='{hide: showManualAddrEntry}'>
    <div class='grid__item_floated'>
        <label class='heading heading-contxtual-label mb3'>Address</label>
        <amp-google-address
                #ampGoogleAddress
                class='1/1'
                [isInSummaryState]='isInSummaryState'
                [id]='googleAddress.id+"_"+index'
                [label]='googleAddress.label'
                [labelHidden]='googleAddress.labelHidden'
                [controlGroup]='controlGroup'
                [errors]='googleAddress.errors'
                [customValidator]='googleAddressCustomValidator'
                [placeholder]='googleAddress.placeholder'
                (address)="onGoogleAddressChanged($event)"
                [required]='required'>
        </amp-google-address>
    </div>
    <div class="grid__item_floated">
        <div class='errors mt' *ngIf='!ampGoogleAddress.addrPredictions'>
            <span class='icon icon--close icon-errors'></span>We are unable to find your address. Try again or tell us
            your
            address line by line <a (click)='showManualAddrForm()'>here</a> instead.
        </div>
    </div>
    <amp-error [controlGroup]='controlGroup'></amp-error>

</div>

<div class='manual-address' [ngClass]='{hide: !showManualAddrEntry}'>
    <div class='grid__item_floated input-wrapper {{ manualInputGridItemClasses() }}'>
        <amp-input
                #manualAddress
                class='1/1'
                noPadding='true'
                [isInSummaryState]='isInSummaryState'
                [id]='address.id+"_"+index'
                [label]='address.label'
                [controlGroup]='manualAddressControlGroup'
                [required]='required'
                [pattern]='address.regex'
                [errors]='address.errors'
                [maxLength]='address.maxLength'
                [minLength]='address.minLength'>
        </amp-input>
        <amp-error [controlGroup]='manualAddressControlGroup' [controlId]="address.id+'_'+index"></amp-error>
    </div>
    <span class='comma-summary-state' *ngIf='isInSummaryState'>, </span>
    <div class='grid__item_floated input-wrapper {{ manualInputGridItemClasses() }}'>
        <amp-input
                #manualSuburb
                class='1/1'
                [isInSummaryState]='isInSummaryState'
                [id]='suburb.id+"_"+index'
                [label]='suburb.label'
                [controlGroup]='manualAddressControlGroup'
                [pattern]='suburb.regex'
                [maxLength]='suburb.maxLength'
                [minLength]='suburb.minLength'
                [errors]='suburb.errors'
                [required]='required'>
        </amp-input>
        <amp-error [controlGroup]='manualAddressControlGroup' [controlId]="suburb.id+'_'+index"></amp-error>
    </div>
    <span class='comma-summary-state' *ngIf='isInSummaryState'>, </span>
    <div class='grid__item_floated input-wrapper {{ manualInputGridItemClasses() }}'>
        <amp-input
                #manualState
                noPadding='true'
                class='1/1'
                [isInSummaryState]='isInSummaryState'
                [id]='state.id+"_"+index'
                [label]='state.label'
                [controlGroup]='manualAddressControlGroup'
                [required]='required'
                [toupperCase]='true'
                [pattern]='state.regex'
                [maxLength]='state.maxLength'
                [errors]='state.errors'
                [minLength]='state.minLength'
        >
        </amp-input>

        <amp-error [controlGroup]='manualAddressControlGroup' [controlId]="state.id+'_'+index"></amp-error>
    </div>
    <span class='comma-summary-state' *ngIf='isInSummaryState'>, </span>
    <div class='grid__item_floated input-wrapper {{ manualInputGridItemClasses() }}'>
        <amp-input
                #manualPostcode
                noPadding='true'
                class='1/1'
                [isInSummaryState]='isInSummaryState'
                [id]='postcode.id+"_"+index'
                [label]='postcode.label'
                [controlGroup]='manualAddressControlGroup'
                [required]='required'
                [pattern]='postcode.regex'
                [maxLength]='postcode.maxLength'
                [errors]='postcode.errors'
                [minLength]="postcode.minLength">
        </amp-input>
        <amp-error [controlGroup]='manualAddressControlGroup' [controlId]="postcode.id+'_'+index"></amp-error>
    </div>
    <span class='comma-summary-state' *ngIf='isInSummaryState'>.</span>
</div>
