@import '../../../../../styles/abstracts';

:host {
    display: block;
    position: initial;
}

div {
    &.amp-overlay {
        z-index: 9;
        position: absolute;
        top: 0;
        left: -1%;
        height: 100%;
        width: 102%;
        opacity: 0.8;
        background-color: white;
    }
}
