<amp-form-block [context]="context()">
    <div class="mt mb">
        When switching, your existing offset will become your Bett3r Pay account.
        We will also set up a Bett3r save and spend account to help manage your finances.
    </div>
    <div class="mt mb">
        Please enter the offset account number that you would like to switch to become your Bett3r to offset.
    </div>
    <amp-form-row>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12 mr+ mt">
            <amp-account-number
                    #offsetAccount
                    [id]="__custom.controls[0].id"
                    [controlGroup]="__controlGroup"
                    [amp-number-only]="offsetAccount.control"
                    [isInSummaryState]="isInSummaryState">
            </amp-account-number>
        </div>
    </amp-form-row>
</amp-form-block>