@import '../../../../../styles/abstracts';
@import 'themes/theme-form';
@import 'themes/theme-tools';



:host {
    .steps-nav {

        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 220px;
        top: 26%;
        left: 50px;
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: fixed;
        z-index: 100;
        font-family: 'Open Sans';
        font-weight: normal;
        font-size: 14px;
    }

    .steps-nav .progress .node {
        height: 11px;
        width: 11px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        display: inline-block;
    }

    .steps-nav .progress .divider {
        height: 40px;
        width: 2px;
        margin-left: 4px;
        transition: all 800ms ease;
    }

    .steps-nav .progress li {
        list-style: none;
        line-height: 1px
    }

    .steps-nav .progress li.divider {
        cursor: initial;
    }

    .steps-nav .skyblue div {
        background-color: transparent;
        border: solid $amp-colour-grey-darker 1px;
    }

    .steps-nav .skyblue span {
        color: $amp-colour-grey-darker;
    }

    .steps-nav .skyblue .active {
        color: $amp-colour-sky-blue;
    }

    .steps-nav .skyblue .divider.first {
        border: none;
    }

    .steps-nav .skyblue  {
        > li a {
            cursor: default;
            padding-left: 14px;
        }
        > li.active a span{
            color: $amp-colour-sky-blue;
            font-weight: bold;
        }
        > li.active {
            .divider {
                border-color: $amp-colour-sky-blue;
            }
        }
        > li.active div#step-intro.node {
            border: solid 2px $amp-colour-sky-blue;
            height: 14px;
            width: 14px;
            margin-left: -2px;
        }

        > li.done a span{
            color: $amp-colour-sky-blue;
            font-weight: normal;
        }
        > li.done div#step-intro.node {
            background-color: $amp-colour-sky-blue;
        }

    }

}
