@import '../../../../../styles/abstracts';
@import 'themes/theme-form';
@import 'themes/theme-tools';
$amp-ddc-menu-height : 69px !default;
:host {
    .steps-nav {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 220px;
        top: 26%;
        left: 50px;
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: fixed;
        z-index: 100;
        font-family: 'Open Sans';
        font-weight: normal;
        font-size: 14px;
        @include media-query(palm) {
            &.open {
                position: absolute;
                background: $amp-colour-grey-lightest;
                width: 100%;
                left: 0;
                top: 0;
                height: 100%;
                >.skyblue {
                    >li:not(.active) {
                        display: block;
                    }
                }
            }
        }
        @include media-query(palm) {
            position: fixed;
            top: 0;
            left: 0;
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: 100%;
            height: $amp-ddc-menu-height;
            background: $amp-colour-white;
            text-align: center;
            background: $amp-colour-grey-lightest;
            border-bottom: $amp-colour-grey-darker;
        }
    }
    .steps-nav .progress .node {
        height: 12px;
        width: 12px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        display: inline-block;
    }
    .steps-nav .progress .icon {
        display: none;
    }
    .steps-nav .progress .divider {
        height: 40px;
        width: 2px;
        margin-left: 4px;
        margin-top: -4px;
        transition: all 800ms ease;
    }
    .steps-nav .progress li {
        list-style: none;
        line-height: 1px;
        @include media-query(palm) {
            height: $amp-ddc-menu-height;
        }
    }
    .steps-nav .progress li.divider {
        cursor: initial;
    }
    .steps-nav .skyblue div {
        background-color: transparent;
        border: solid $amp-colour-grey-darker 1px;
    }
    .steps-nav .skyblue span {
        color: $amp-colour-grey-darker;
    }
    @include media-query(palm) {
        .steps-nav .skyblue li:not(.active) {
            display: none;
            >.divider {
                display: none;
            }
        }
    }
    .steps-nav .skyblue .active {
        color: $amp-colour-sky-blue;
        @include media-query(palm) {
            >.divider {
                height: 26px;
            }
            >.node {
                display: none;
            }
            >.icon {
                display: block;
                position: absolute;
                left: 50%;
                margin-top: 10px;
                color: $amp-colour-sky-blue;
            }
        }
    }
    .steps-nav .skyblue .divider.first {
        border: none;
    }
    .steps-nav .skyblue {
        >li a {
            cursor: default;
            padding-left: 14px;
        }
        >li button {
            border: none;
            padding: 0;
            background: transparent;
            &:not([disabled]) {
                cursor: pointer;
            }
        }
        >li button.active a span {
            color: $amp-colour-sky-blue;
            font-weight: bold;
        }
        >li button.active {
            .divider {
                border-color: $amp-colour-sky-blue;
            }
        }
        >li button.active .step-intro.node {
            border: solid 2px $amp-colour-sky-blue;
            height: 14px;
            width: 14px;
            margin-left: -2px;
        }
        >li button.done {
            .divider {
                border-color: $amp-colour-sky-blue;
            }
        }
        >li button.done a span {
            color: $amp-colour-sky-blue;
            font-weight: normal;
        }
        >li button.done .step-intro.node {
            background-color: $amp-colour-sky-blue;
        }
    }
}
