@import '../../../../../styles/abstracts';
@import 'themes/theme-form';
@import 'themes/theme-tools';

$amp-ddc-menu-height : 69px !default;
$amp-ddc-menu-paddding: round($amp-ddc-menu-height / 5) !default;

:host {
    .steps-nav {
        position: fixed;
        top: 70px;
        left: 50px;
        z-index: 100;

        @include media-query(palm) {
            &.is-open {
                position: absolute;
                background: #eeeeee;
                width: 100%;
                left: 0;
                top: 0;
                height: 100%;
                text-align: left;
                padding-left: 50px;
                padding-top: 40px;
                overflow: auto;

                > .skyblue {
                    >li:not(.active) {
                        display: block;
                    }

                    >li.active {
                        padding-top: 0;
                        .step-intro.node {
                            display: inline-block;
                        }
                    }
                }

                > .progress .icon {
                    display: none;
                }

                > .progress .active .divider {
                    display: block;
                    border-color: $amp-colour-sky-blue;
                }
            }
        }

        &__btn {
            background: $amp-colour-grey-lightest;
            border: 0;
            color: $amp-colour-sky-blue;
            cursor: pointer;
            display: block;
            font-weight: bold;
            height: $amp-ddc-menu-height;
            line-height: round(($amp-ddc-menu-height - (2 * $amp-ddc-menu-paddding)) / 2);
            padding: 15px;                
            position: fixed;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 100%;

            @include media-query(tablet-and-up) {
                display: none;
            }

            &-icon {
                display: block;
            }

            &--docked {              
                position: fixed;
                bottom: 0;
                left: 0;
            }
        }

        @include media-query(palm) {
            position: fixed;
            top: 0;
            left: 0;
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: 100%;
            height: $amp-ddc-menu-height;
            background: $amp-colour-white;
            text-align: center;
            background: $amp-colour-grey-lightest;
            border-bottom: $amp-colour-grey-darker;
        }
    }

    .steps-nav .progress {
        .node {
            height: 12px;
            width: 12px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background-clip: padding-box;
            display: inline-block;
        }

        .icon {
            display: none;
            @include media-query(palm) {
                display: block;
                margin-top: 10px;
                cursor: pointer;
            }
        }

        .divider {
            height: 40px;
            width: 2px;
            margin-left: 4px;
            margin-top: 0px;
            transition: all 800ms ease;
        }

        li {
            list-style: none;
            line-height: 1px;
        }
    }

    @include media-query(palm) {

        .steps-nav .skyblue {
            span.icon {
                color: $amp-colour-sky-blue;
                margin-top: -36px;
            }

            > li:not(.active) {
                display: none;
                >.divider {
                    display: none;
                }
            }

            > li.active {
                pointer-events: none;
                cursor: default;
            }
        }
    }

    .steps-nav .skyblue {
        .divider.first {
            border: none;
            height: 0;
        }

        div {
            background-color: transparent;
            border: solid $amp-colour-grey-darker 1px;
        }

        span {
            color: $amp-colour-grey-darker;
        }

        @include media-query(palm) {
            li:not(.active) {
                display: none;
                >.divider {
                    display: none;
                }
            }
        }

        > li a {
            cursor: pointer;
            padding-left: 14px;
            @include media-query(palm) {
                padding-left: 0;
            }
        }

        > li {
            border: none;
            padding: 0;
            background: transparent;

            &.active {
                span {
                    color: $amp-colour-sky-blue;
                    font-weight: bold;
                }

                .divider {
                    border-color: $amp-colour-sky-blue;
                }

                @include media-query(palm) {
                    .divider {
                        display: none;
                    }
                    padding-top: 26px;
                }

                .step-intro.node {
                    border: solid 2px $amp-colour-sky-blue;
                    height: 14px;
                    width: 14px;
                    margin-left: -2px;
                    @include media-query(palm) {
                        display: none;
                    }
                }              
            } 

            &.visited {
                span {
                    color: $amp-colour-sky-blue;
                    font-weight: normal;
                }

                &.active span {
                    font-weight: bold;
                }

                .step-intro.node {
                    border: solid 2px $amp-colour-sky-blue;
                    height: 14px;
                    width: 14px;
                    margin-left: -2px;
                }                
            }

            &.done {
                span {
                    color: $amp-colour-sky-blue;
                    font-weight: normal;
                }

                &.active span {
                    font-weight: bold;
                }

                .divider {
                    border-color: $amp-colour-sky-blue;
                }

                .step-intro.node {
                    background-color: $amp-colour-sky-blue;
                }                   
            }
        }
    }
}