<nav class="steps-nav" *ngIf="showNavigation">
    <ul id="menu" class="progress skyblue">
        <li *ngFor="let section of sections; let i=index" id="{{section.id}}">
            <button type="button" [disabled]="getDisabledState(section.state)" (click)="scrollToSection($event.target = section)" [ngClass]="section.state" tabindex="-1">
                <div class="divider" [ngClass]="{first: i == 0}"></div>
                <div class="step-intro node"></div>
                <span class="icon icon--chevron-down" aria-hidden="true"></span>
                <span><span>{{section.label}}</span></span>
            </button>
        </li>
    </ul>
</nav>
