<amp-form-block [context]="context()" [withOkButton]="false" [hidden]="hideThisBlock">
    <amp-button
        id="newButton"
        theme="tools"
        [context]="context()"
        class="btn btn-ok palm-1/1 1/4 tablet-1/1 palm-mr0 mr"
        (click)="newApplication()">{{newButtonLabel}}</amp-button>
    <amp-button
        id="existingButton"
        theme="tools"
        [context]="context()"
        class="btn btn-ok btn-secondary palm-1/1 palm-mt- 1/4 tablet-1/1"
        (click)="loginToMyAmp()">{{existingButtonLabel}}</amp-button>
</amp-form-block>
