<div [clicked-outside]='close' class='amp-type-search'>
    <div class='amp-type-search-control'>
        <amp-input
                #input
                class='1/1'
                focuser='input'
                iconRight='search'
                (click)='onClick($event)'
                (keydown)='onKeydown($event)'
                [autoFocus]='isActive'
                [errors]='errors'
                [label]='label'
                [isActive]='isActive'
                [idleTimeOut]='"1000"'
                [isInSummaryState]='isInSummaryState'
                [id]='id'
                [controlGroup]='searchControlGroup'
                [customValidator]='customValidator'
                [minLength]='minTriggerLength'
                [maxLength]='maxLength'
                [required]='required'>
        </amp-input>
    </div>
    <ul
            *ngIf='searchResult!==null && !isOptionsHidden'
            focuser='list'
            [ngStyle]='{"max-height":maxHeight}'
            (focusOut)='onListFocusOut()'
            [id]='resultList_id'
            class='amp-type-search-options'>
        <li *ngIf='selectLabel && filteredList.length>0' class='amp-type-search-option' tabindex='-1'>
            <strong>{{ selectLabel }}</strong>
        </li>
        <li (keydown.enter)='selectOption(option)'
            (click)='selectOption(option)'
            *ngFor='let option of filter(searchResult,selectedItemValueIdentifier,control.value,!doApiQuery); let i = index'
            class='amp-type-search-option'
            [class.amp-type-search-active]='option[selectedItemIdentifier] === selectedOption[selectedItemIdentifier]'
            [attr.tabindex]='i+1'>
            <template
                    [ngTemplateOutlet]='itemTemplate'
                    [ngOutletContext]='{ option: option, index: index }'>
            </template>
        </li>
    </ul>
    <ul *ngIf='!doApiQuery && !isOptionsHidden && control.value && filteredList.length===0'
        class='amp-type-search-options'>
        <li class='amp-type-search-option' disabled>
            <strong>No results found</strong>
        </li>
    </ul>
</div>