<form #formModel='ngForm' class='nl-form p'>
    <div>
        <amp-checkbox
                [attr.theme]="themeService.theme.attr"
                [isInSummaryState]='isInSummaryState'
                [controlGroup]='controlGroup'
                [required]='acknowledge.required'
                [checked]='acknowledge.checked'
                [disabled]='acknowledge.disabled'
                [scrollOutOn]='acknowledge.scrollOutOn'
                [id]='acknowledge.id'
                (change)='onAcknowledgeSelect($event)'>
            <div class='heading heading-contxtual-label'>
                I agree to advertising my practice's register internally, and for to seek out
                practices that
                may be interested in becoming the servicing practice for some or all of the register.
            </div>
        </amp-checkbox>
        <br>
        <div style='; text-align:left; background-color: lightblue'>
            value : {{ control.value }}
        </div>

        <div style='; text-align:left ; background-color: lightgrey'>
            Control is valid : {{ control.valid }}
        </div>
        <p>Note that if the control is requried and is not checked it should be invalid , but if is not required and not
            checked , should be valid
        </p>
        <amp-button class="btn btn-ok" (click)='isInSummaryState=!isInSummaryState'>
            Toggle Summary mode {{ isInSummaryState }}
        </amp-button>
        <amp-button class="btn btn-ok" (click)='acknowledge.checked=!acknowledge.checked'>
            Toggle Checked {{ acknowledge.checked}}
        </amp-button>
        <amp-button class="btn btn-ok" (click)='acknowledge.disabled=!acknowledge.disabled'>
            Toggle Disabled {{ acknowledge.disabled }}
        </amp-button>
        <amp-button class="btn btn-ok" (click)='acknowledge.required=!acknowledge.required'>
            Toggle Required {{ acknowledge.required }}
        </amp-button>
        <amp-button class="btn btn-ok" (click)="check()">Check / Uncheck</amp-button>
    </div>
</form>
