@import '../../../../../styles/abstracts';
@import 'block-base';
@import '/themes/theme-tools';

:host {
    display  : block;
    position : relative;

    .FormBlocK {
        padding-top : $tools-form-block-heading-top-padding;
        position    : relative;

        .heading-intro {
            display: inline-block;
            margin-bottom : 40px;
            outline: none !important;

            @include media-query('palm') {
                font-size : 20px;
                line-height : 30px;
            }

            &.has-heading-tooltip {
                max-width: calc(100% - 35px);
            }
        }

        .heading-tooltip {
            &__wrapper {
                display: inline-block;
                padding-left: 5px;
                vertical-align: top;

                @include media-query('tablet-and-up') {
                    margin-top: 6px;
                }

                &:empty {
                    display: none;
                }

                /deep/ .icon {
                    margin: 0;
                }
            }
        }

        .hr-block-divider {
            margin : $default-margin 0 0;
        }
    }

    @include media-query(palm) {
        .FormBlocK {
            padding-top : 50px;
        }
    }

    &[theme='tools'] {
        .FormBlocK {
            padding-top   : $tools-form-block-heading-top-padding;
            padding-left  : $tools-form-block-left-padding;
            padding-right : $tools-form-block-right-padding;

            .heading-intro {
                margin-bottom : 18px;
            }

            .hr-block-divider {
                margin : $default-margin 0 0;
            }
        }
    }
}
