<div (keyup.enter)="onKeyupEnter($event)" class="FormBlocK" #formBlock>
    <amp-overlay [active]="!context?.isActive" *ngIf="withOverlay"></amp-overlay>

    <div class="heading__wrapper">
        <h2
            *ngIf="context?.__custom.blockTitle"
            class="heading js-heading heading-intro {{ headingClass }}"
            [class.has-heading-tooltip]="tooltip.children.length > 0"
            [innerHtml]="context?.__custom.blockTitle"
            tabindex="-1">
        </h2>

        <div
            #tooltip
            class="heading-tooltip__wrapper"><!-- comments to remove all whitespace
        --><ng-content select=".heading-tooltip"></ng-content><!--
    --></div>
    </div>

    <ng-content></ng-content>

    <div class="block-buttons mt-60" *ngIf="withOkButton">
        <amp-button
        [context]="context"
        *ngIf="!context?.isInSummaryState"
        [attr.theme]="buttonsTheme || theme"
        (click)="context.onNext()"
        [disabled]="!context?.canGoNext" class="btn btn-ok">
        {{ okButtonLabel }}
        </amp-button>
        <amp-button
            [context]="context"
            *ngIf="context?.isInSummaryState"
            [attr.theme]="buttonsTheme || theme"
            (click)="context.onEdit()"
            class="btn btn-change palm-m0">
            {{ changeButtonLabel }}
        </amp-button>
    </div>
    <div class="hr-block-divider"></div>
</div>
