@import "~AbstractStyles";

:host {
  position: fixed;
  width:16.6666666% !important;;
  display: block;

}

$autoc-primary-theme: $amp-colour-primary;
$autoc-line-height: 1;
$autoc-border-box-font-familty: 'inherit';
$autoc-search-result-item-height: 40px;
$autoc-search-result-item-lineheight: 40px;
$autoc-search-menu-items-height: 60px;
$autoc-search-menu-items-width: 138px;

// dropdown
$amp-dropdown-input-border-width: 1px;

$amp-dropdown-select-height: 50px;

$amp-dropdown-options-border-width: 2px;

$amp-dropdown-number-options: 4;

$amp-dropdown-option-border-width: 1px;
$amp-dropdown-option-line-height: 1.5em;
$amp-dropdown-option-min-height: 46px;
$amp-dropdown-option-padding-top: 12px;
$amp-dropdown-option-padding-bottom: $amp-dropdown-option-padding-top;
$amp-dropdown-option-padding-right: 30px;
$amp-dropdown-option-padding-right-hidden: 4em;
$amp-dropdown-option-padding-left: 20px;
.left-navigation {
  padding: 5px;
  font-size: 15px;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;

  &--hidden {
    border-top: 0;
    border-bottom: 0;
    height: 0;
    margin: 0;
    padding-right: 18px; // Scrollbar offset
    position: relative;
    visibility: hidden;

    .option {
      padding-right: $amp-dropdown-option-padding-right-hidden;
      white-space: nowrap;
    }
  }
}

.option {
  cursor: pointer;
  line-height: $amp-dropdown-option-line-height;
  min-height: $amp-dropdown-option-min-height;
  padding: 10px;
  width: auto;
  @include transition(all 200ms linear);
  color: $amp-colour-primary;
  &--active,
  &:hover {
    font-weight: 600;
  }

  &:focus {
    outline: none;
  }
  &:last-child {
    border-bottom: $amp-dropdown-option-border-width solid #CCD2D9;
  }

}

.option-group {
  cursor: pointer;
  line-height: $amp-dropdown-option-line-height;
  min-height: $amp-dropdown-option-min-height;
  padding: 15px 10px;
  width: auto;
  @include transition(all 200ms linear);
  &--active,
  &:hover {
    background: $amp-colour-secondary;
    color: #fff;
  }

  &:focus {
    outline: none;
  }

}

.options {
  padding-left: 10px;
}