@mixin not-disabled() {
    /deep/ .amp-tabs:not(.amp-tabs--disabled) & {
        @content;
    }
}

@mixin is-disabled() {
    /deep/ .amp-tabs.amp-tabs--disabled & {
        @content;
    }
}

@mixin is-collapsed() {
    /deep/ .amp-tabs.amp-tabs--collapsed & {
        @content;
    }
}

@mixin first-tab() {
    /deep/ .amp-tabs__content > amp-tab:first-child & {
        @content;
    }
}

@keyframes showTabContent {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
