<div
    class="amp-tabs"
    [class.amp-tabs--disabled]="disabled">

    <div class="amp-tabs__nav" role="tablist">
        <a
            *ngFor="let tab of tabs"
            [class.amp-tabs__nav-item--active]="tab.active"
            class="amp-tabs__nav-item"
            href="#"
            role="tab"
            (click)="onClick($event, tab)"
            (keydown)="onKeydown($event, tab)"
            [attr.aria-selected]="tab.active"
            [attr.tabindex]="disabled ? null : 0">
            <span class="amp-tabs__title">
                {{tab.title}}
            </span>
        </a>
    </div>

    <input
        *ngFor="let tab of tabs"
        hidden
        [attr.data-automation-id]='"group_tab_" + randomizedId + "_" + tab.id'
        type="radio"
        [attr.id]="randomizedId + '_' + tab.id"
        [attr.name]="randomizedId"
        [formControl]="control"
        [attr.disabled]="disabled"
        [value]="tab.id"
        [checked]="control.value === tab.id" />

    <div *ngIf="tabsFromList()">
        <ng-content></ng-content>
    </div>

    <div *ngIf="!tabsFromList()">
        <amp-tab *ngFor="let tab of tabs" [tab-title]="tab.title" [active]="tab.active">
            <div [innerHtml]="tab.content"></div>
        </amp-tab>
    </div>

</div>

