@import '../../../../../styles/abstracts';

:host {
    display: block;
}

.submit-page {
    @include media-query('lap-and-up') {
        display: table;
        width: 100%;
        height: 100vh;
    }

    &__logo,
    &__message {
        @include media-query('lap-and-up') {
            display: table-cell;
        }
    }

    &__logo {
        @include media-query('lap-and-up') {
            width: 300px;
            padding-top: 44px;
        }
    }

    &__message {
        vertical-align: middle;
    }
}