@import '../../../../../../styles/abstracts';
$checkbox-width-theme-tools : 25px;
$checkbox-text-margin-theme-tools : 25px;
$checkbox-off-border-color-theme-tools : $amp-colour-green;
$checkbox-off-hover-border-color-theme-tools : $amp-colour-yellow;
$checkbox-on-border-color-theme-tools : $amp-colour-alert-danger;
