$ddc-namespace                                  : $amp-namespace                      !default;
$font-size-medium                               : 24px;
$font-size-small                                : 18px;
$font-size-tiny                                 : 14px;
$icon-margin-right                              : 14px;
$amp-ddc-padding                                : 20px !default;

