<section class="section ph pv">

    <h2 class="mb">Default</h2>

    <p class="mb-">Default table styles</p>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Contact Details</th>
                <td>John Smith,<br>0421123456</td>
                <td><a href="#">Change</a></td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>33 Aflred Street, Sydney, 2000 NSW<br>Australia</td>
                <td><a href="#">Change</a></td>
            </tr>
        </tbody>
    </table>
</section>

<section class="section ph pv">

    <h2 class="mb">Responsive</h2>

    <p class="mb-">Responsive table styles, use the modifier <code>.table--responsive</code></p>

    <table class="table table--responsive">
        <tbody>
            <tr>
                <th scope="row">Contact Details</th>
                <td>John Smith,<br>0421123456</td>
                <td><a href="#">Change</a></td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>33 Aflred Street, Sydney, 2000 NSW<br>Australia</td>
                <td><a href="#">Change</a></td>
            </tr>
        </tbody>
    </table>
</section>
