<section class="section ph pv">

    <h2 class="mb">Default</h2>

    <p class="mb-">Default table styles</p>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Contact Details</th>
                <td>John Smith,<br>0421123456</td>
                <td><a href="#">Change</a></td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>33 Aflred Street, Sydney, 2000 NSW<br>Australia</td>
                <td><a href="#">Change</a></td>
            </tr>
        </tbody>
    </table>
</section>

<section class="section ph pv mt-60">

    <h2 class="mb">Responsive</h2>

    <p class="mb-">Responsive table styles, use the modifier <code>.table--responsive</code></p>

    <table class="table table--responsive">
        <tbody>
            <tr>
                <th scope="row">Contact Details</th>
                <td>John Smith,<br>0421123456</td>
                <td><a href="#">Change</a></td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>33 Aflred Street, Sydney, 2000 NSW<br>Australia</td>
                <td><a href="#">Change</a></td>
            </tr>
        </tbody>
    </table>
</section>


<section class="section ph pv mt-60">

    <h2 class="mb">Baseline: Table with headings</h2>

    <p class="mb-">Baseline table styles. Wrap table with <code>.baseline-table-wrapper</code> for responsive behaviour.</p>

    <div class="baseline-table-wrapper">
        <table class="baseline-table">
            <thead>
                <tr>
                    <th scope="col">Issue date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>30 September 2016</td>
                    <td>Failed Email Delivery Letter</td>
                    <td>Resend this email as it failed</td>
                </tr>
                <tr>
                    <td>10 February 2017</td>
                    <td>Significant Event Notification - Member</td>
                    <td>Update user with new notification</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


<section class="section ph pv mt-60">

    <h2 class="mb">Baseline: Table with equal column width</h2>

    <p class="mb-">Use the modifier <code>.table--equal-col-width</code> to set the width of each column to be the same.</p>

    <div class="baseline-table-wrapper">
        <table class="baseline-table table--equal-col-width">
            <thead>
                <tr>
                    <th scope="col">Issue date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>30 September 2016</td>
                    <td>Failed Email Delivery Letter</td>
                    <td>Resend this email as it failed</td>
                </tr>
                <tr>
                    <td>10 February 2017</td>
                    <td>Significant Event Notification - Member</td>
                    <td>Resend this email as it failed</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


<section class="section ph pv mt-60">

    <h2 class="mb">Baseline: Table with left column headings</h2>

    <p class="mb-">Baseline table styles. Wrap table with <code>.baseline-table-wrapper</code> for responsive behaviour.</p>

    <div class="baseline-table-wrapper">
        <table class="baseline-table">
            <tbody>
                <tr>
                    <th scope="row">Left column heading</th>
                    <td>Failed Email Delivery Letter</td>
                </tr>
                <tr>
                    <th scope="row">Second row heading</th>
                    <td>Significant Event Notification - Member</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
