<p>
  <%= dasherizedModuleName %> works!
</p>
<h1>Here is the drop zone</h1>
<form [formGroup]="form" class="nl-form p">
<h3 class="heading heading-intro">Load dynamic form definition</h3>
    <p class="heading heading-checkbox">
        Bellow is an example of how we can load a chunk of form definition dynamically and then the Fully Distinguished
        Name
        will be created on the fly for the child blocks.
    </p>
    <h3 class="heading heading-intro">Blocks to be loaded</h3>
    <highlight type="typescript" label="typescript">
        {{ childBlocks | json }}
    </highlight>
    <p class="heading heading-checkbox">
        You can see that this small form definition only has one child block .<br>
        So the block-loader will only load that block down bellow himself.
    </p>
    <div [amp-block-loader]="childBlocks" [fdn]="fullyDistinguishedName" [form]='form'></div>
    <h3 class="heading heading-intro">How it works ?</h3>
    <div class="heading heading-checkbox">
        <ol class="list">
            <li>You pass in a chunk of definition</li>
            <li>It will load all the blocks that are in the blocks array of that definition down bellow himself</li>
            <li>If you want , you can pass in what ever input your desired component/blocks need , which in this case ,
                I'm
                passing
                in a control and some labels and button .
            </li>
        </ol>
    </div>
</form>