<amp-form-block [context]="context()">
    <div class="mt mb">
        Hi Charlie... You have chosen to open a new Bett3r account
    </div>
    <div>
    </div>
    <amp-form-row>
        <amp-checkbox
            [isInSummaryState]="isInSummaryState"
            [controlGroup]="__controlGroup"
            [id]="__custom.controls[0].id">
            I agree to the Bett3r <a href="javascript:void;">Terms and Conditions</a>
        </amp-checkbox>
    </amp-form-row>
    <amp-form-row>
        <amp-button (click)="submitForm()" [class]="'btn btn-submit'">
            Submit
        </amp-button>
    </amp-form-row>
</amp-form-block>