<amp-form-block [context]="context()">
    <div class="mt mb">
        Hi Charlie... You have chosen to open a new Bett3r account
    </div>
    <div>
    </div>
    <amp-form-row>
        <amp-checkbox
            [isInSummaryState]="isInSummaryState"
            [controlGroup]="__controlGroup"
            [id]="__custom.controls[0].id">
            I agree to the Bett3r <a href="javascript:void;">Terms and Conditions</a>
        </amp-checkbox>
    </amp-form-row>
    <amp-form-row>
        <amp-button (click)="submitForm()" [class]="'btn btn-submit'">
            Submit
        </amp-button>
    </amp-form-row>
    <!-- TODO remove this once welcome screen is done -->
    <div *ngIf="successMessage">
        <div>
            <span>{{successMessage | json}}</span>
        </div>
    </div>
    <!-- TODO remove this once welcome screen is done -->
    <div class="errors" *ngIf="submitErrorMessage">
        <div class="error-item">
            <span class='icon icon--close icon-errors' aria-hidden='true'></span>
            <span>{{submitErrorMessage}}</span>
        </div>
    </div>
</amp-form-block>