:host {
    .btn-submit {
        position: relative;
    }

    .submit-in-progress {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 12px;
        left: 50%;
        right: 50%;
    }
}
