<amp-form-block [context]="context()" *ngIf="existingCustomer" buttonsTheme='tools'>
    <p class="mt-60 mb-60 heading-contxtual-label">
        Tell us how we can help you out today
    </p>
    <amp-form-row>
        <amp-radio-button-group
                class="grid__item 1/1"
                [buttons]="__custom.controls[0].buttons"
                [controlGroup]="__controlGroup"
                [groupName]="__custom.controls[0].id"
                [isInSummaryState]="isInSummaryState"
                [required]="true">
        </amp-radio-button-group>
    </amp-form-row>
    <p class="mt-60 mb-60 heading-contxtual-label">
        For more information on eligible accounts, please click <a href="javascript:void;">here</a>
    </p>
</amp-form-block>