<amp-form-block [context]="context()" *ngIf="existingCustomer" buttonsTheme='tools'>
    <div class="mt mb">
        Tell us how we can help you out today
    </div>
    <amp-form-row>
        <amp-radio-button-group
                class="grid__item 1/1"
                [buttons]="__custom.controls[0].buttons"
                [controlGroup]="__controlGroup"
                [groupName]="__custom.controls[0].id"
                [required]="true">
        </amp-radio-button-group>
    </amp-form-row>
    <div class="mt mb">
        For more information on eligible accounts, please click <a href="javascript:void;">here</a>
    </div>
</amp-form-block>