<amp-form-block [context]="context()" *ngIf="existingCustomer" buttonsTheme='tools'>
    <p class="heading-contxtual-label mb-40">
        Tell us how we can help you out today
    </p>
    <amp-form-row>
        <amp-radio-button-group
                class="grid__item 1/1"
                [buttons]="__custom.controls[0].buttons"
                [controlGroup]="__controlGroup"
                [groupName]="__custom.controls[0].id"
                [isInSummaryState]="isInSummaryState"
                [required]="true">
        </amp-radio-button-group>
    </amp-form-row>
    <p class="heading-contxtual-label mt-60">
        For more information on eligible account, please click <a href="https://www.amp.com.au" target="_blank">here</a>
    </p>
</amp-form-block>
