@import '../../../styles/abstracts';

$amp-ddc-public-asset : '../../../assets/';
:host {
    amp-intro-block {
        background-image  : url('assets/images/fullbackground.jpg');
        background-repeat : no-repeat;
        background-size   : 100%;
        min-height        : 793px;
        padding-top       : 69px;
        @include media-query(palm) {
            padding: 0 8px;
            background-position: left top;
            background-size   : 200%;
            .intro-message-heading {
                margin: 30px 0px 15px;
                color: $amp-colour-primary;
                font-size: $font-size-small;
                line-height: 30px;
            }
            amp-button {
                button.btn {
                    margin-top: 20px !important;
                }
            }
        }

        .intro-container {
            margin-left : 55px;
            @include media-query(palm) {
                margin: 0;
            }
        }

        .intro-list-container {
            font-weight: 400;
            color: $amp-colour-secondary-darkest;
            .data-list {
                &.data-list-iconed {
                    list-style: none;
                    .data-list__item {
                        margin-top: 36px;
                        span {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: $font-size-tiny;
                            margin-left: 14px;
                            padding-bottom: 13px;
                            @include media-query(palm) {
                                display: block;
                                margin-left: 8px;
                            }
                        }
                        &.icon {
                            &.time-clock-icon:before {
                                content: ' ';
                                float: left;
                                margin-top: -4px;
                                margin-right: 20px;
                                top: 0;
                                width: 36px;
                                height: 37px;
                                background-repeat: no-repeat;
                                background-size: 100%;
                                background-image : url('assets/images/time_clock.png');
                            }
                            &.eighteen-plus-icon:before {
                                content: ' ';
                                float: left;
                                margin-top: -4px;
                                margin-right: 20px;
                                top: 0;
                                width: 36px;
                                height: 37px;
                                background-repeat: no-repeat;
                                background-size: 100%;                                
                                background-image : url('assets/images/18+.png');
                            }
                            &.id-check-icon:before {
                                content: ' ';
                                float: left;
                                margin-top: -4px;
                                margin-right: 20px;
                                top: 0;
                                width: 36px;
                                height : 33px;
                                background-repeat: no-repeat;
                                background-size: 100%;                                
                                background-image : url('assets/images/id.png');
                            }
                        }
                    }
                }
            }
        }
    }
}
