<amp-intro-block class="mt0">
    <header-with-logo></header-with-logo>
    <div class="intro-container mt++">
        <h1 class="better-header">Bett3r</h1>
        <h3 class="intro-message-heading heading heading-intro mt">The smarter way to manage your money</h3>
        <div class="intro-list-container">
            <ul class="data-list data-list-iconed">
                <li class="data-list__item icon time-clock-icon"><span>It will only take about 5 minutes</span></li>
                <li class="data-list__item icon eighteen-plus-icon"><span>You must be over 18 years old</span></li>
                <li class="data-list__item icon id-check-icon"><span>You must have a valid form of identification</span>
                </li>
            </ul>
        </div>
        <div class="mt+ mb palm-mt- intro-block-button-container">
            <amp-button
                    (click)="onNewApplication()"
                    [attr.theme]="'tools'"
                    class="1/4 btn btn-ok palm-1/1 tablet-1/2 tablet-and-up-mr">
                New application
            </amp-button>
            <amp-button (click)="onContinueApplication()"
                        [attr.theme]="'tools'"
                        class="1/4 btn btn-ok palm-1/1 palm-mt- tablet-1/2 tablet-and-up-mr">
                Continue application
            </amp-button>
        </div>
    </div>
</amp-intro-block>
