<form class='nl-form'>
    <div style='padding: 50px 100px; text-align:left'>
        <amp-typeahead
                [attr.theme]="themeService.theme.attr"
                class="1/2"
                [options]="options"
                [controlGroup]="controlGroup"
                (selected)="onChange($event)"
                [required]="true"
                [selectedItemIdentifier]='"id"'
                [selectedItemValueIdentifier]='"title"'
                [id]='id'
                [isInSummaryState]="isInSummaryState"
                [label]='"Occupations"'
                [selectLabel]='"selectLabel"'>
            <template let-option="option">
                {{ option.title }}
            </template>
        </amp-typeahead>
        <br>
        controlGroup value
        <highlight color-default>
            {{ controlGroup.value | json }}
        </highlight>

        <br>
        <p>
            errors :
            <highlight color-default>
                {{ control?.errors | json}}
            </highlight>
            value :
            <highlight color-default>
                {{ control?.getRawValue() }}
            </highlight>

            selected value ( should be an object):
            <highlight color-default>
                {{ selectControl?.getRawValue() | json }}
            </highlight>
        </p>
        <p>
            on change selected option
            <highlight color-default>
                {{ selectedOption | json }}
            </highlight>
        </p>
        <p>
            Control is valid : {{ control?.valid }}
        </p>

        <button class="btn btn-ok" type='button' (click)='isInSummaryState=!isInSummaryState'>
            Toggle Summary {{ isInSummaryState }}
        </button>
    </div>
</form>
