$namespace                                      : $amp-namespace                      !default;

.#{$namespace}mb1,
%#{$namespace}mb1{
    margin-bottom: $amp-ddc-padding;
}
.#{$namespace}mb2,
%#{$namespace}mb2{
    margin-bottom: $amp-ddc-padding * 2;
}
.#{$namespace}mb3,
%#{$namespace}mb3{
    margin-bottom: $amp-ddc-padding * 3;
}
.#{$namespace}mb4,
%#{$namespace}mb4{
    margin-bottom: $amp-ddc-padding * 4;
}


.#{$namespace}utils,
%#{$namespace}utils{

  &__position{
    &--rel{
      position:relative !important;
    }
    &--abs {
      position: absolute !important;
    }
  }
  &__display{
    &--block{
      display: block !important;
    }
    &--in-block{
      display: inline-block !important;
    }
    &--inline{
      display: inline !important;
    }
  }
  &__align{
    &--left{
      text-align: left !important;
    }
    &--right{
      text-align: right!important;
    }
    &--center{
      text-align: center!important;
    }
  }
  &__push{
    &--left{
      float: left !important;
    }
    &--right{
      float: right!important;
    }
  }

  &__weight{
    &--600{
      font-weight: 600 !important;
    }
    &--700{
      font-weight: 700 !important;
    }
    &--500{
      font-weight: 500 !important;
    }
  }

}
