<section class="example-inside">
    <h3 class="heading heading-intro">Indeterminate loading </h3>

    <h3 class="heading heading-contxtual-label">Can be small </h3>
    <amp-loading [attr.theme]="themeService.theme.attr" mode="indeterminate" size="small"></amp-loading>

    <h3 class="heading heading-contxtual-label">Can be medium </h3>
    <amp-loading [attr.theme]="themeService.theme.attr" mode="indeterminate" size="medium"></amp-loading>

    <h3 class="heading heading-contxtual-label">Can show and hide </h3>
    <button class="btn btn-ok" (click)="setloadingAnother()">show loading {{ loadingAnother }}</button>
    <amp-loading [attr.theme]="themeService.theme.attr" mode="indeterminate"
                 [showLoading]="loadingAnother"></amp-loading>

    <hr class="hr--solid">
    <h3 class="mt+ heading heading-intro">Determinate loading </h3>
    <amp-loading [attr.theme]="themeService.theme.attr" mode="determinate" [value]="value"></amp-loading>
    <button class="btn btn-ok" (click)="increase()">increase {{ value }} %</button>
    <button class="btn btn-ok" (click)="decrease()">decrease {{ value }} %</button>

    <button class="btn btn-ok" (click)="setloading()">loading {{ loading }} %</button>


</section>