@import "../../../styles/abstracts";

/*
DO NOT USE THESE STYLES AT ALL
*/

.intro-logo {
    width                 : 100px;
    background-position   : left bottom;
    background-attachment : scroll;
    background-repeat     : no-repeat;

    height                : 100px;
    background-image      : url('../../../assets/images/logo/AMP-Logo-primary.svg');
}

