@import "../../../styles/abstracts";

/*
DO NOT USE THESE STYLES AT ALL
*/

.heading-test {
    padding:20px;
}

.unordered-list {
    list-style-type: none;
}

.intro-logo {
    width: 250px;
    padding: 20px;
}
.show-pony-blue {
    background-color: $amp-colour-primary;
}
