<div class='save-page'>
    <div class="save-page__logo">
        <amp-logo [licensee]="licensee"></amp-logo>
    </div>

    <div class='save-page_message'>
        <h3 class='heading-intro mb-30'>{{title}}</h3>
        <span>{{messageForReference}} <strong>{{referenceId}}</strong>.</span>
        <br/>
        <span>{{messageForEmail}}</span>
        <amp-form-row>
            <div class="grid__item_floated lap-and-up-1/2">
                <amp-email
                        [id]="controlName"
                        [controlGroup]="controlGroup"
                        [required]="'true'"
                        [isInSummaryState]="isInSummaryState">
                </amp-email>
            </div>
        </amp-form-row>
        <amp-form-row>
            <amp-error [controlGroup]="controlGroup"
                       [controlId]="controlName">
            </amp-error>

        </amp-form-row>
        <amp-form-row>
            <div class="email-sent_message mt" *ngIf="emailSentConfirmation">
                <span aria-hidden="true" class="icon icon--tick-filled"></span>
                {{emailSentConfirmation}}
            </div>
            <div class="email-sent_message mt" *ngIf="emailSentErrorMessage">
                <div class="errors">
                    <div class="error-item">
                        <span class='icon icon--close icon-errors' aria-hidden='true'></span>
                        <span>{{emailSentErrorMessage}}</span>
                    </div>
                </div>
            </div>
        </amp-form-row>
        <div class="block-buttons">
            <div class="grid__item_floated lap-and-up-1/2">
                <amp-button
                    [attr.theme]="theme"
                    (click)='sendEmail()'
                    [disabled]='buttonDisabled' class='btn btn-ok btn-primary'>
                    OK
                </amp-button>
            </div>
            <div class="grid__item_floated lap-and-up-1/2">
                <amp-button
                    [attr.theme]="theme"
                    (click)='back()'
                    class='btn btn-ok'>
                    Back
                </amp-button>
            </div>
        </div>
    </div>
</div>
