@import '../../../styles/abstracts';

$amp-ddc-public-asset: 'assets/';

$logo-height: 80px !default;
$amp-ddc-padding: 40px;

.save-page_logo {
  min-height: $logo-height;
  margin-top: $amp-ddc-padding;
  margin-left: $amp-ddc-padding;
  background-position: left top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  //background-image: url($amp-ddc-public-asset + 'images/logo/logo-amp-dark.png');
  background-size: 10%;
}

.save-page_message {
  @include amp-family($amp-font-open-sans-regular);
  font-weight: 300;
  font-size: 24px;
  text-align: left;
  position: absolute;
  width: 60%;
  min-height: 30%;
  left: 255px;
  top: 25%;
  margin: auto;
}
