@import '../../../styles/abstracts';

.container {
    img {
        display: block;
        width: 100%;
        margin-bottom: 3em;
        @include media-query(tablet-and-down) {
            display: none;
        }
    }
}
