//
// App Base
// --------------------------------

* {
    box-sizing: border-box;
}

html {
    @include amp-family($amp-font-open-sans-regular);
}

a {
    color: $amp-colour-sky-blue;
    text-decoration: none;

    &:hover {
        color: $amp-colour-primary;
    }
}

p {
    color: $amp-colour-grey-darkest-most;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6em;
}

fieldset {
    border: 0;
}

hr {
    border: 0;
    border-top: 1px solid $border-default-color;
    margin-top: 40px;
    margin-bottom: 40px;
}

.heading-intro {
    font-size: 24px;
}

.btn-group-spacing {
    margin: 10px 0;
}

.btn--add-new {
    color: $amp-colour-sky-blue;
    font-size: 24px;
    font-weight: 400;
    margin: 25px 0 0;
    transition: color .15s ease;

    &:focus {
        color: $amp-colour-sky-blue;
    }

    &:hover {
        color: $amp-colour-primary;
    }

    .icon {
        font-size: 30px;
        margin-right: 15px;
    }
}