//
// Form
// --------------------------------

.form {
    &--hide {
        display: none;
    }

    &__fieldset {
        border-bottom: 1px solid $border-default-color;
        margin: 0 0 40px;
        padding: 0 0 50px;
    }

    &__row {
        // I'm safely adding this and crossing my fingers to not break any thing
        // if this change breaks something for you , you're in a bad luck :)
        // This will fix the spacing between grid__items
        // As the result we don't need to put <!-- --> (comments) between the grid__items to fix the,
        // So we can freely enjoy the responsive grids
        font-size: 0;

        > * {
            vertical-align: top !important;
        }

        .heading-contxtual-label {
            font-size: 24px;
            margin: 25px 0 10px;
        }

        > .grid__item {
            >.summary-state {
                display: inline-block;
                margin-top: 23px;
            }
        }

        &-address {
            .google-address {
                .heading {
                    display: none;
                }
            }
        }
    }
}
