$tick-mark-icon-size: 20px;

$amp-ddc-public-asset: '../../src/assets/';

.tick-mark {
      background-image: url($amp-ddc-public-asset + 'images/tickmark.png');
      background-repeat: no-repeat;
      margin-left: 4px;
      vertical-align: middle;
      width: $tick-mark-icon-size;
      height: $tick-mark-icon-size;
      display: inline-block;
}
