@import '../../../../style/require';

$header-font-family: $amp-font-open-sans-regular;

.sticky {
  > div {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &__header {
    margin-top: 13px;
    margin-bottom: 4px;
    padding: 0 45px;
    @include amp-family($header-font-family);
    @extend %#{$namespace}font-size-tiny;
    @extend %#{$namespace}color-gray-darkest-most;
    &--left {
      display: inline-block;
      width: 60%;
      float: left;
    }
    &--right {
      text-align: right;
      font-weight: 600;
      display: inline-block;
      float: left;
      width: 40%;

      &--chat {

      }
      &--call {
        margin-left: 45px;
      }

    }
  }

  &__progress {
    margin-top: 10px;
  }

}