@import '../../../styles/abstracts';

$font-size : $amp-base-font-size * 2 / 5 !default;

$logo-height : 60px !default;

$amp-ddc-public-asset : '../../../assets/';

:host {
  padding          : 26px 80px 60px 0;
  width            : 100%;
  display          : block;
  background-color : $amp-colour-white;
  color            : #fff;

   .intro-list-container  {
       @include media-query(lap-and-up) {
           margin-left: 234px;
       }

       @include media-query(tablet-and-down) {
           margin-left: 0;
       }
   }

  .intro-logo {
    width                 : 100px;
    background-position   : left bottom;
    background-attachment : scroll;
    background-repeat     : no-repeat;
    text-indent: -9999px!important;
    height                : $amp-logo-height;
    background-image      : url($amp-ddc-public-asset + 'images/logo/AMP-Logo-primary.svg');
  }

  .intro-article {
      @include media-query(tablet-and-up) {
          margin: 60px 0 60px 0;
      }
  }

  .intro-list {
     color: $amp-colour-grey-darkest;
      font-size: $font-size-medium;
      padding: 0;
      margin: 0;
      list-style: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      justify-content: space-around;
      flex-wrap: nowrap;

     > .list-item {
         display: flex;
         flex-grow: 1;
         margin-right: 34px;

       > .intro-label {
           flex: 1;
           display: flex;
           flex-direction: row;
       }
     }
  }
  .intro-message-heading {

  }
  .intro-tagline {
      color: $amp-colour-grey-darkest-most;
  }


  &[theme='tools'] {
      padding : 60px 0;

  }


}

.intro-block {
  max-height : 1000px;
  height     : auto;
  overflow   : hidden;
  @include transition(max-height 1.1s, opacity 0.45s ease-out);
  &.hidden {
    max-height : 0;
    opacity    : 0;
  }
}




