


:host {
    /* Primary */

    .btn {
        &.btn-intro-primary {
            background-color: $amp-colour-sky-blue;
        }
        &.btn-intro-primary:hover {
            background-color: $amp-colour-secondary-darkest;
        }
    }

    /* secondary */

    .btn {
        &.btn-intro-secondary {
            background-color: $amp-colour-primary;
            border: solid 1px $amp-colour-white;
        }
        &.btn-ok {
            &.btn-intro-secondary:hover {
                color: $amp-colour-primary;
                background-color: $amp-colour-white;
            }
        }
    }
}




