@import '../../../styles/abstracts';

$progress-linear-bar-height: 7px !default;
$progress-bar-forground-color: $amp-colour-sky-blue;
$progress-bar-background-color: $amp-colour-grey-lightest;

md-progress-bar {
  &[color='amp-progressbar-sky-blue'] {

    height: $progress-linear-bar-height;
    transition: all 1s linear;

    .md-progress-bar-background {
      //   background: $md-buffer-bubbles-accent-url;
      background-repeat: repeat-x;
      background-size: 10px $progress-linear-bar-height;
    }
    .md-progress-bar-buffer {
      background-color: $progress-bar-background-color;
    }
    .md-progress-bar-fill::after {
      background-color: $progress-bar-forground-color;
    }
  }
}
