<div class='amp-group-button' [class.disabled]='control.disabled || isInSummaryState'>
      <span *ngFor='let button of buttons; let i=index; let last = last;'>
              <input class="sr-only"
                     [attr.data-automation-id]='"group_button_" +randomizedId+"_"+button.id'
                     type='radio'
                     [attr.id]='randomizedId+"_"+button.id'
                     [attr.name]='randomizedId'
                     [formControl]='control'
                     [value]='button.value'
                     [checked]='control.value===button.value'/>
              <label (click)='scroll(button.value)'
                     [attr.for]='randomizedId+"_"+button.id'>
                  {{ button.label }}
              </label>
      </span>
</div>
