<div class='amp-group-button'>
      <span *ngFor='let button of buttons; let i=index; let last = last;'>
              <input
                      class="sr-only"
                      [disabled]='disabled'
                      [attr.data-automation-id]='"radio_button_" + button.id'
                      type='radio'
                      [attr.id]='button.id + index'
                      [attr.name]='id + index'
                      [formControl]='control'
                      [value]='button.value'
                      [checked]='control.value===button.value'
              />
              <label (click)='scroll(button.value)' [attr.for]='button.id + index'>{{ button.label }}</label>
      </span>
</div>