@import '../../../../../styles/abstracts';
@import './themes/theme-form';
@import './themes/theme-tools';

$switch-height                             : 60px;
$switch-border-width                       : 1px;
$switch-font-size                          : 18px;
$switch-font-size-mobile                   : 14px;
$switch-border-color                       : $amp-colour-sky-blue;
$switch-background-color                   : $amp-colour-white;
$switch-color                              : $amp-colour-sky-blue;
$switch-font-family                        : $amp-font-open-sans-semibold;
// Switch hover state
$switch-hover-background-color             : $amp-colour-secondary-lighter;
$switch-hover-color                        : $amp-colour-primary;
// Switch selected state
$switch-selected-background-color          : $amp-colour-sky-blue;
$switch-selected-color                     : $amp-colour-white;
// Switch disabled state
$switch-disabled-border-color              : $amp-colour-grey-darkest;
$switch-disabled-color                     : $amp-colour-grey-darkest;
$switch-disabled-background-color          : $amp-colour-white;
$switch-disabled-selected-color            : $amp-colour-white;
$switch-disabled-selected-background-color : $amp-colour-grey-darkest;

:host {
    display : inline-block;
}

.amp-group-button {
    margin       : 0;
    padding      : 0;
    display      : table;
    width        : 100%;
    max-width    : 100%;
    min-width    : 260px;
    table-layout : fixed;
    overflow     : hidden;
    label {
        &:not([disabled]) {
            &:hover {
                cursor           : pointer;
                color            : $switch-hover-color;
                background-color : $switch-hover-background-color;
            }
            &[checked] {
                color            : $switch-selected-color;
                background-color : $switch-selected-background-color;
            }
        }
        &[disabled] {
            &:not([checked]) {
                border           : solid $switch-disabled-border-color $switch-border-width;
                color            : $switch-disabled-color;
                background-color : $switch-disabled-background-color;
            }
            &[checked] {
                color            : $switch-disabled-selected-color;
                background-color : $switch-disabled-selected-background-color;
                border-color     : $switch-disabled-selected-background-color;
            }
        }
    }

    label {
        @include transition(all 300ms linear);
        @include amp-family($switch-font-family);
        overflow         : hidden;
        text-overflow    : ellipsis;
        margin-left      : -2px;
        border           : solid $switch-border-color $switch-border-width;
        color            : $switch-color;
        height           : $switch-height;
        line-height      : 1.6;
        box-sizing       : border-box;
        display          : table-cell;
        vertical-align   : middle;
        width            : 100%;
        min-width        : 130px;
        background-color : $switch-background-color;
        font-size        : $switch-font-size;
        font-weight      : 600;
        text-align       : center;
        text-shadow      : none;
        padding          : 10px 20px;

        @include media-query('tablet-and-down') {
            padding   : 10px;
            font-size : $switch-font-size-mobile;
        }

        &:nth-child(n+1) {
            border-left : 0;
        }

        &:first-child {
            border-left : solid $switch-border-color $switch-border-width;
        }
    }

}
