<div class='amp-group-button' [class.disabled]='disabled'>
    <label
        *ngFor='let button of buttons'
        [attr.disabled]='disabled'
        [attr.checked]='control.value===button.value?true:null'
        (click)='onClick(button)'
        [attr.for]='randomizedId+"_"+button.id'>
        <input class="sr-only"
               [attr.data-automation-id]='"group_button_" +randomizedId+"_"+button.id'
               type='radio'
               [attr.id]='randomizedId+"_"+button.id'
               [attr.name]='randomizedId'
               [formControl]='control'
               [attr.disabled]='disabled'
               [value]='button.value'
               [checked]='control.value===button.value'/>
        <span>
            {{ button.label }}
        </span>
    </label>
</div>
