<amp-form-block [context]="context()">
    <div class="mt mb">
        Please enter the loan account number that you would like Bett3r to offset.
    </div>
    <amp-form-row>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12 mr+ mt">
            <amp-input
                    [id]="__custom.controls[0].id"
                    [controlGroup]="__controlGroup"
                    [label]="'Offset Account Number'"
                    [required]="true"
                    [isInSummaryState]="isInSummaryState"
                    [pattern]="'^([0-9])*$'"
                    [maxLength]="'12'">
            </amp-input>
        </div>
    </amp-form-row>
</amp-form-block>