<section>
    <h1>A welcome from us at AMP</h1>
    <p>Welcome to the smarter way to manage your money.
    We will be sending you details of your new account in the post but please find the details below</p>
    <ul>
        <li>BSB: / Account number</li>
        <li>BSB: / Account number</li>
        <li>BSB: / Account number</li>
    </ul>
    <div>
        <amp-button class="btn btn-ok">Download</amp-button>
    </div>
    <div>
        <amp-button class="btn btn-ok">Home</amp-button>
    </div>
</section>