<section>
    <h1>A welcome from us at AMP</h1>
    <p class="mt">Welcome to the smarter way to manage your money.
        We will be sending you details of your new account in the post but please find the details below</p>
    <ul class="list-default">
        <li>BSB: / Account number</li>
        <li>BSB: / Account number</li>
        <li>BSB: / Account number</li>
    </ul>
    <div>
        <amp-button theme='tools' class="btn btn-ok palm-1/1">Download</amp-button>
    </div>
    <div>
        <amp-button theme='tools' class="btn btn-ok palm-1/1">Home</amp-button>
    </div>
</section>
