<section class="section ph pv">

    <h2 class="mb-">Default Unordered</h2>

    <p>This list can be nested inside itself or another list style</p>

    <ul class="list-default">
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three
            <ul class="list-default">
                <li>Sub list item one</li>
                <li>Sub list item two</li>
                <li>Sub list item three</li>
            </ul>
        </li>
        <li>List item four</li>
    </ul>
</section>