@import "../../../../style/require";

.nl-form {
  // TODO: The following styles should be set on the body tag as they are not strictly form specific.

  font-size: $amp-base-font-size * 2;
  line-height: $amp-base-font-size * 2 * 1.5;

  padding: 20px 40px;

}
@import "~ng2-material/source/core/style/default-theme";
@import "~ng2-material/source/core/style/variables";

$progress-linear-bar-height: 7px !default;
$progress-bar-forground-color: $amp-colour-sky-blue;
$progress-bar-background-color: $amp-colour-grey-lightest;

md-progress-linear {
  &.amp-progressbar-sky-blue {
    .md-progress-linear-container {
      transition: all 1s linear;
      height: $progress-linear-bar-height;
      background-color: $progress-bar-background-color;
    }
    .md-progress-linear-bar.md-progress-linear-bar2 {
      transition: all 1s linear;
      height: $progress-linear-bar-height;
      background-color: $progress-bar-forground-color;
    }
  }
}
