@import "../../../../style/require";

.nl-form {
  // TODO: The following styles should be set on the body tag as they are not strictly form specific.

  font-size: $amp-base-font-size * 2;
  line-height: $amp-base-font-size * 2 * 1.5;

  padding: 20px 40px;

}
