<amp-form-block [headingClass]="'mb0'" [context]="context()" buttonsTheme="tools">
    <amp-form-row [hidden]='isPrimaryApplicant'>
        <div class='mb-- grid__item_floated 1/1'>
            <amp-checkbox class="mt"
                #sameThanPrimaryApplicantCmp
                [isInSummaryState]="isInSummaryState"
                [controlGroup]="__controlGroup"
                [checked]="sameThanPrimaryApplicant"
                [required]="required"
                [id]="__custom.controls[1].id"
                [keepControl]="keepControl"
                (blur)="onSameThanPrimaryApplicantCheckboxBlured($event)"
                (change)="onSameThanPrimaryApplicantCheckboxSelect($event)">
                <label>My residential and postal address is the same as {{primaryApplicantName}}.</label>
            </amp-checkbox>
        </div>
    </amp-form-row>
    <div class="grid__container 1/1" [hidden]='!isTheAddressRequired'>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-9/12">
            <amp-qas-address-multi
                    auto-focus-on
                    [id]="__custom.controls[0].id"
                    [controlGroup]="__controlGroup"
                    [isInSummaryState]="isInSummaryState"
                    [keepControl]="keepControl"
                    [required]="isTheAddressRequired">
            </amp-qas-address-multi>
        </div>
    </div>
</amp-form-block>


