@import '../../../../styles/abstracts';

:host {
}

$amp-review-total-font-size: $font-size-tiny;

.amp-review-total {
    color: $amp-colour-grey-darkest-most;
    font-weight: bold;
    font-size: $amp-review-total-font-size;
    line-height: $amp-review-total-font-size * 2;
}
