<amp-form-block [context]="context()"
                [withOkButton]="false">
    <amp-greenid-block auto-focus-on [model]="mappedGreenIdModel"
                       [controlGroup]="__controlGroup"
                       (complete)="onVerificationComplete($event)">
    </amp-greenid-block>
    <div class="mt-60">
        <amp-button
                theme="tools"
                class="btn btn-ok mr palm-1/1 palm-mr0"
                *ngIf="showOkButton"
                (click)="onOkClick()">
            OK
        </amp-button>
    </div>
</amp-form-block>
