@import '../../../styles/abstracts';

$header-font-family : $amp-font-open-sans-regular;
:host {
    width   : 100%;
    display : block;
    &[primary] {
        .sticky {
            background-color : $amp-colour-primary;
            .sticky__header {
                color : #fff;
            }
        }
    }
}

.sticky {
    position         : relative;
    width            : 100%;
    height           : $sticky-menu-height;
    overflow         : hidden;
    background-color : white;
    z-index          : 99999999;
    @include media-query('palm') {
        display : none;
    }    
    > div {
        display            : inline-block;
        vertical-align     : top;
        width              : 100%;
        -webkit-box-sizing : border-box;
        -moz-box-sizing    : border-box;
        box-sizing         : border-box;
    }
    
    &__header {
        @include amp-family($header-font-family);
        @extend %#{$namespace}font-size-tiny;
        color : $amp-colour-grey-darkest-most;
        &--right {
            text-align  : right;
            font-weight : 600;
            display     : inline-block;
            float       : right;
            width       : 40%;
        }
    }
}
