////////////////////////////////////////
//                                    //
//      DO NOT ADD ANY CSS HERE       //
//                                    //
////////////////////////////////////////

// Only add variables here to be utilised in other `.scss` files.
$amp-enable-data-list--coloured:                true;
$amp-enable-data-list--highlighted:             true;

$amp-enable-data-list--bulleted:                true;
$amp-enable-data-list--cheveroned:              true;
$amp-enable-data-list--numbered:                true;

$amp-enable-box--large:                         true;

$amp-enable-data-table-responsive-stack:        true;
$amp-enable-data-table-transactions:            true;
$amp-enable-data-table-responsive-no-heading:   true;

$amp-enable-margins:                            true;
$amp-enable-margins--small:                     true;
$amp-enable-margins--large:                     true;
$amp-enable-margins--huge:                      true;
$amp-enable-margins--none:                      true;

$amp-enable-margins--negative-large:            true;

$amp-enable-responsive-margins:                 true;
$amp-enable-responsive-margins--small:          true;
$amp-enable-responsive-margins--large:          true;
$amp-enable-responsive-margins--huge:           true;
$amp-enable-responsive-margins--none:           true;

$amp-use-fractions:                             true;

$amp-enable-popover-arrowed:                    true;
$amp-enable-popover-arrow--top-center:          true;
$amp-enable-popover-arrow--top-left:            true;
$amp-enable-popover-arrow--top-right:           true;


$amp-enable-paddings:                           true;
$amp-enable-paddings--tiny:                     true;
$amp-enable-paddings--small:                    true;
$amp-enable-paddings--large:                    true;
$amp-enable-paddings--huge:                     true;
$amp-enable-paddings--none:                     true;

$amp-enable-responsive-paddings:                true;
$amp-enable-responsive-paddings--tiny:          true;
$amp-enable-responsive-paddings--small:         true;
$amp-enable-responsive-paddings--large:         true;
$amp-enable-responsive-paddings--huge:          true;
$amp-enable-responsive-paddings--none:          true;

$amp-enable-icon-old-names:                     true;

$amp-enable-responsive-margins--negative:       true;

// Override base default.scss
// High-level base settings.
$amp-base-browser-font-size: 16px  !default; // The average browser is 16px. This is OOTB by default...DO NOT USE!!!
$amp-base-font-size:         15px  !default; // For DDC, this appears to be the case

// http://www.smashingmagazine.com/2011/03/14/technical-web-typography-guidelines-and-techniques/#tt-magic-number
// Vertical Rhythm formula
// line-height = (16 pixels × 1.5 em = 24 pixels)
$amp-base-line-height:       ($amp-base-font-size * 1.5)  !default; // The styleguides base line height
//$amp-base-font-size-ratio:   ($amp-base-font-size / $amp-base-browser-font-size);
//$amp-base-line-height-ratio: ($amp-base-line-height / $amp-base-font-size);
