<form #formModel='ngForm' class='nl-form '>
    <!--<div class="icon icon&#45;&#45;announcement"-->
         <!--amp-tooltip-->
         <!--title='<h1>A good title</h1>'-->
         <!--content='<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>'>-->
    <!--</div>-->
    <span amp-tooltip="<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>" class="icon icon--announcement">
    </span>
    <br><br><br>
    <button amp-tooltip="some message" amp-tooltip-position="below">Button</button>
    <!--<amp-tooltip-cmp-->
            <!--content='<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>'-->
            <!--title='<h1>A good title</h1>'>-->
    <!--</amp-tooltip-cmp>-->

</form>
