<amp-form-block [context]="context()">
    <div class="utils__align--left" >
        <p class='mt-50'>
            Please choose which ID you would like ot use in order for us to check your ID and enter relevant pieces of information
        </p>
    </div>
    <amp-form-row>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-12/12">
            <amp-input
                [id]="__custom.controls[0].id"
                [controlGroup]="__controlGroup"
                [label]="'Placeholder for GreenID'"
                [required]="true"></amp-input>
        </div>
    </amp-form-row>
</amp-form-block>