<amp-form-block [context]="context()">
    <amp-greenid-block [form]="modelValue" [uiScriptUrl]="uiScriptUrl" [configScriptUrl]="configScriptUrl" [styleUrl]="styleUrl" [controlGroup]="__controlGroup">
        <section class="section mv">
            <div class="grid__container 1/1 mb">
                <div class="grid__item_floated 1/1 mv mh">
                    <h2 class="mb-">Before we do that, just to confirm…</h2>
                    <div class="grid__container_inner">
                        <div class="grid__item_floated">
                            <p class="para mt mb">
                                I agree that by opening an AMP Bett3r Account, I authorise AMP to check my identity against personal information held by a credit bureau and I consent to my personal information being used and disclosed as set out in the privacy information document.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </amp-greenid-block>
</amp-form-block>