<div *ngIf='control && control.invalid && control.dirty'>
    <div class='errors'>
        <div *ngFor='let error of control.errors | AmpKeys'>
            <div class="error-item" *ngIf="control.errors[error].text">
                <span class='icon icon--close icon-errors' aria-hidden='true'></span>
                <span [innerHtml]='control.errors[error].text'></span>
                <template
                        [ngTemplateOutlet]='itemTemplate'
                        [ngOutletContext]='{ error: error, index: index }'>
                </template>
            </div>
        </div>
    </div>
</div>
