<div [hidden]='showManualEntryForm'>
    <amp-form-row>
        <div class='grid__item_floated 1/1'>
            <amp-typeahead
                    #typeaheadCmp
                    class='1/1'
                    [controlGroup]='qasControlGroup'
                    [required]='!showManualEntryForm'
                    [errors]='errors'
                    [minTriggerLength]='minTriggerLength'
                    [customValidator]='customValidator'
                    [queryServiceCall]='_ampQasAddressService.query'
                    [maxHeight]='maxHeight'
                    [isInSummaryState]='isInSummaryState'
                    [id]='id'
                    [index]='index'
                    (selected)='onOptionSelect($event)'
                    [selectedItemIdentifier]='"Moniker"'
                    [selectedItemValueIdentifier]='"PartialAddress"'
                    [label]='label'>
                <template let-option='option'>
                    {{ option.PartialAddress }}
                </template>
            </amp-typeahead>

            <amp-error [controlGroup]='typeaheadCG'>
                <template let-error='error'>
                    <error-item [error]='error' selector='addressNotFound'>
                        Try the address search again by clicking <a href="javascript:void(0);" (click)='showManualAddrForm()'>here</a>.
                    </error-item>
                </template>
            </amp-error>
        </div>
    </amp-form-row>
</div>

<div [hidden]='!showManualEntryForm'>
    <div class="mt-60" *ngIf="!isInSummaryState">
        Want to try searching again? Click <a href="javascript:void(0);" (click)='goBack()'>here</a> to find our address automatically.
    </div>

    <amp-manual-address
            #manualAddressCmp
            [controlGroup]='qasControlGroup'
            [id]='id'
            [index]='index'
            [isInSummaryState]='isInSummaryState'>
    </amp-manual-address>
</div>
