$namespace                                      : $amp-namespace                      !default;

.#{$namespace}color-primary-darkest,
%#{$namespace}color-primary-darkest{
  color: $amp-colour-secondary-darkest;
}

.#{$namespace}amp-colour-sky-blue,
%#{$namespace}amp-colour-sky-blue{
  color: $amp-colour-sky-blue;
}


.#{$namespace}color-gray-darkest-most,
%#{$namespace}color-gray-darkest-most{
  color: $amp-colour-grey-darkest-most;
}
