<div>
    <div style="z-index:1">
        <section>
            <md-toolbar color="primary">
                <div>
                    <h3>{{ model?.name }}</h3>
                    <span style="flex: 1 1 auto;"></span>
                    <button md-icon-button
                            aria-label="View Source"
                            (click)="toggleSource()">
                        <!--<md-tooltip md-autohide>View Source</md-tooltip>-->
                        <md-icon class="md-24">code</md-icon>
                    </button>
                </div>
            </md-toolbar>

            <!-- Source views -->
            <md-tab-group *ngIf="!showExample">
                <md-tab *ngFor="let file of orderedFiles">
                    <template md-tab-label>{{ file?.label }}</template>
                    <template md-tab-content>
                        <md-content>
                            <highlight [text]="file.data" [type]="file.type"></highlight>
                        </md-content>
                    </template>
                </md-tab>
            </md-tab-group>


            <!-- Live Demos -->
            <div *ngIf="showExample" example></div>
        </section>

    </div>
</div>
