<md-input
        #input
        (focus)='onFocused($event)'
        (keyup)='onKeyupEvent($event)'
        (blur)='onBlured($event)'
        [disabled]='isInSummaryState || disabled'
        class='md-input'
        [class.label-hidden]='labelHidden'
        [aria-label]='randomizedId'
        [name]='randomizedId'
        [type]='type'
        [id]='randomizedId'
        [tabIndex]='isActive?tabindex:-1'
        [maxLength]='maxLength'
        [formControl]='control'
        [autoComplete]='autoComplete'
        [placeholder]='required?label:label+" (optional)"'>
    <span class="currency" *ngIf='currency' md-prefix>{{currency}}&nbsp;</span>
</md-input>
<span *ngIf='iconRight && !isInSummaryState' class="icon icon--search icon-right"></span>
<span class='summary-text' [innerHTML]='input.value'></span>