<!--
(keyup.enter)='markAsTouched()'
This is needed because in IE the if the block only has one input and you type in the input
and press enter , the input still remains untouched and the scroller wont go next because
the whole block remains untouched.
-->
<div class="amp-input">
    <span class="currency" *ngIf='currency'>{{currency}}&nbsp;</span>
    <input class="control"
           #input
           (focus)='onFocused($event)'
           (keyup.enter)='markAsTouched()'
           (input)="onInput($event)"
           (blur)='onBlured($event)'
           [class.label-hidden]='labelHidden'
           [class.has-value]='!controlIsEmpty() || isInSummaryState'
           [class.is-empty]='controlIsEmpty()'
           [class.has-prefix]='currency'
           [attr.aria-label]='randomizedId'
           [attr.data-automation-id]="'text_'+randomizedId"
           [attr.disabled]="isItDisabled"
           [attr.name]='randomizedId'
           [attr.type]='type'
           [attr.id]="randomizedId"
           [attr.maxlength]='maxLength'
           [attr.autocomplete]='autoComplete'
           [attr.placeholder]="placeholder && !label ?placeholder:''"
           [formControl]='control'>
    <span><ng-content></ng-content></span>
    <span (click)='handleIconRightClick()'
          *ngIf='showIconRight && iconRight && !isInSummaryState'
          class="icon icon--{{ iconRight }} icon-right">
    </span>
    <span  class="post-fix" *ngIf="!isItDisabled">
        <ng-content select=".post-fix"></ng-content>
    </span>
    <span class="bar"></span>
    <label class="label" [attr.for]="randomizedId">
        {{ required || !showOptional ? label:label + " (optional)" }}
    </label>
</div>

<span *ngIf='isInSummaryState && controlIsEmpty()' class='empty-line'>---</span>
<amp-control-error *ngIf="showErrorComponent" [control]="control"></amp-control-error>