<!--
(keyup.enter)='markAsTouched()'
This is needed because in IE the if the block only has one input and you type in the input
and press enter , the input still remains untouched and the scroller wont go next because
the whole block remains untouched.

-->
<md-input
    #input
    [class.has-value]='isInSummaryState && controlIsEmpty()'
    (focus)='onFocused($event)'
    (keyup)='onKeyupEvent($event)'
    (keyup.enter)='markAsTouched()'
    (blur)='onBlured($event)'
    class='md-input'
    [class.amp-input-focused]='inputFocus'
    [class.label-hidden]='labelHidden'
    [aria-label]='randomizedId'
    [name]='randomizedId'
    [type]='type'
    [attr.disabled]="disabled"
    [id]='randomizedId'
    [maxlength]='maxLength'
    [formControl]='control'
    [autocomplete]='autoComplete'
    [placeholder]='required || !showOptional ? label : label + " (optional)"'>
    <span class="currency" *ngIf='currency' md-prefix>{{currency}}&nbsp;</span>
    <span *ngIf="!isInSummaryState" md-suffix><ng-content></ng-content></span>
</md-input>
<span *ngIf='isInSummaryState && controlIsEmpty()' class='empty-line'>---</span>
<span (click)='handleIconRightClick()' *ngIf='showIconRight && iconRight && !isInSummaryState'
      class="icon icon--{{ iconRight }} icon-right"></span>
<span class='summary-text' [innerHTML]='input.value'></span>
