@import '../../../../../styles/abstracts';
@import './themes/theme-form';
@import './themes/theme-tools';

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-ms-clear {
    display: none;
}

$summary-state-color: $amp-colour-sky-blue;
$summary-state-font-family: $amp-font-open-sans-regular;
$summary-state-font-weight: 300;

[primaryColor] {
    md-input {
        &.md-input {
            div {
                &.md-input-wrapper {
                    @include media-query(tablet-and-up) {
                        margin: 0;
                    }

                    .md-input-element {
                        &:focus {
                            color: $amp-colour-white;
                        }
                    }

                    .md-input-placeholder {
                        color: $amp-colour-white;

                        &.md-focused {
                            color: $amp-colour-white;

                            &.md-accent {
                                color: $amp-colour-white;
                            }

                            &.md-warn {
                                color: $amp-colour-white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.summary-text {
    @include amp-family($summary-state-font-family);
    color: $amp-colour-sky-blue;
    font-weight: $summary-state-font-weight;
    font-size: $ddc-input-field-font-size;
    white-space: nowrap;
    visibility: hidden;
    height: 1px;
    position: absolute;
}

.invisible {
    display: none !important;
}

$font-size: $amp-base-font-size;

// Overrides on existing components/input/input.scss
$input-container-padding: 2px !default;
$input-label-default-offset: $amp-base-font-size * 4 !default; // 60 px
$input-label-float-offset: $amp-base-font-size * 1.66 !default;
$input-placeholder-offset: $input-label-default-offset !default;
$input-border-width-default: 1px !default;
$input-border-width-focused: 1px !default;
$input-line-height: $amp-base-font-size * 2 !default;
$input-padding-top: 2px !default;
$input-full-width-line-height: $amp-base-font-size * 2 !default;
$input-full-width-padding-top: $amp-base-font-size * 2 !default;
$input-error-font-size: $amp-base-font-size !default;
$input-error-height: $amp-base-font-size * 1.5 !default;
$input-error-line-height: $input-error-font-size+2px;
$error-padding-top: ($input-error-height - $input-error-line-height) / 2;
$icon-offset: 36px !default;
$icon-float-focused-top: -8px !default;

// Custom md-input variables
$input-padding-bottom: 15px !default;

@function pt2px($pt) {
    @return decimal-round($pt * 1.3333, 2)+px;
}

@mixin amp-input-placeholder-floating {
    visibility: visible;
    padding: 0;
    top: 0;
    transform: none;
    width: 100%;

    .md-placeholder-required {
        color: $amp-colour-grey-darkest;
    }
}

.currency {
    font-size: 26px;
}

// md-input.md-input.ng-invalid.ng-dirty div.md-input-wrapper .md-input-underline,
// md-input.md-input.ng-invalid.ng-dirty div.md-input-wrapper .md-input-element:not(:focus) {
//     color: #333 !important;
//     border-color: #F0F !important;
// }

md-input.md-input.ng-invalid.ng-touched div.md-input-wrapper .md-input-underline .md-input-ripple {
    border-top: 1px solid red !important;
}

md-input.md-input.ng-invalid.ng-touched div.md-input-wrapper .md-input-underline,
md-input.md-input.ng-invalid.ng-touched div.md-input-wrapper .md-input-element {
    border-color: red !important;
}

md-input {
    &.md-input {
        box-sizing: border-box;
        color: $amp-colour-sky-blue;
        cursor: pointer;
        font-weight: 300;
        width: 100%;

        @include amp-family($amp-font-open-sans-regular);

        div {
            &.md-input-wrapper {
                position: relative;

                @include media-query(tablet-and-up) {
                    margin: 0; 
                }

                .md-input-table:hover + .md-input-underline.md-disabled {
                    border-top: 1px solid $amp-colour-grey-dark;
                }

                .md-input-underline {
                    border-top: 1px solid $amp-colour-grey-dark;
                    margin: 0;
                    bottom: 0;

                    .md-input-ripple {
                        &:hover {
                            background-color: $amp-colour-sky-blue;
                        }
                        
                        height: 1px;                        
                        background-color: $amp-colour-grey-dark;

                        &.md-accent {
                            background-color: $amp-colour-grey-dark;
                        }
                        &.md-warn {
                            background-color: $amp-colour-grey-dark;
                        }
                    }
                }

                .md-input-element {
                    color: $amp-colour-sky-blue;
                    cursor: pointer;
                    display: inline;
                    flex: none;
                    font-size: $ddc-input-field-font-size;
                    min-height: $input-height;
                    min-width: 20px;
                    padding: 18px 0 0 !important;
                    position: relative;
                    text-overflow: ellipsis;

                    @include amp-family($amp-font-open-sans-regular);
                    font-weight: 300;

                    &:focus {
                        color: $input-color-focus;
                    }
                }

                .md-input-placeholder {
                    // The placeholder is after the <input>, but needs to be aligned top-left of the
                    // infix <div>.
                    position: absolute;
                    left: 0;
                    top: 30px;
                    visibility: visible;
                    font-size: $input-placeholder-font-size;
                    font-weight: 700;
                    pointer-events: none;
                    color: $input-placeholder-color;
                    transition: none;
                    transition: top 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    
                    &.md-empty {
                        visibility: visible;
                        cursor: text;
                    }

                    // Show the placeholder above the input when it's not empty, or focused.
                    &.md-float:not(.md-empty),
                    &.md-float.md-focused {
                        @include amp-input-placeholder-floating;
                    }

                    // :focus is applied to the input, but we apply md-focused to the other elements
                    // that need to listen to it.
                    &.md-focused {
                        color: $input-placeholder-color;
                        &.md-accent {
                            color: $amp-colour-grey-darkest;
                        }
                        &.md-warn {
                            color: $amp-colour-grey-darkest;
                        }
                    }
                }
            }
        }
    }
}

// All about the hovering effects
md-input.md-input div.md-input-wrapper {
    .md-input-table:hover+.md-input-underline {
        border-top: 1px solid $amp-colour-sky-blue;
    }
    .md-input-table:hover+.md-input-underline .md-input-ripple {
        background-color: $amp-colour-sky-blue;
    }
}

// Summary state
:host {
    display: inline-block;
    box-sizing: content-box;
    padding-right: 0 !important;
    @include transition(width 0.3s linear !important);
    transition-delay: 0.1s !important;

    &[iconright] {
        .icon-right {
            position: absolute;
            right: 0;
            top: 50%;

            @include transform(translateY(-50%));
        }

        md-input.md-input {
            input.md-input-element {
                padding-right: 30px !important;
                &::-ms-clear {
                    display: none !important;
                }
            }
        }
    }

    & + &,
    & + amp-dropdown {
        margin-left: 26px;
    }
}

.summary {
    md-input.md-input {
        @include transition(padding 0.3s linear !important);
        transition-delay: 0.5s !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        cursor: default;
        div.md-input-wrapper {
            .md-input-element {
                cursor: default;
            }
            .md-input-underline {
                display: none;
            }
            .md-input-placeholder {
                display: none;
            }
        }
    }
}

// Error state
md-input.md-input.ng-invalid.ng-dirty div.md-input-wrapper {
    .md-input-underline,
    .md-input-element:not(:focus) {
        color: $amp-colour-alert-danger;
        border-color: $amp-colour-alert-danger;
    }
}

md-input.label-hidden {
    label.md-input-placeholder {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        border: 0 !important;
    }
}

.icon-right {
    position: absolute;
    right: 0;
    top: 50%;
    @include transform(translateY(-50%));
}