@import '../../../../../styles/abstracts';
@import './themes/theme-form';
@import './themes/theme-tools';

$summary-state-color: $amp-colour-sky-blue;
$summary-state-font-weight: 300;
$font-size: $amp-base-font-size;

// Overrides on existing components/input/input.scss
$input-container-padding: 2px !default;
$input-label-default-offset: $amp-base-font-size * 4 !default; // 60 px
$input-label-float-offset: $amp-base-font-size * 1.66 !default;
$input-placeholder-offset: $input-label-default-offset !default;
$input-border-width-default: 1px !default;
$input-border-width-focused: 1px !default;
$input-line-height: $amp-base-font-size * 2 !default;
$input-padding-top: 2px !default;
$input-full-width-line-height: $amp-base-font-size * 2 !default;
$input-full-width-padding-top: $amp-base-font-size * 2 !default;
$input-error-font-size: $amp-base-font-size !default;
$input-error-height: $amp-base-font-size * 1.5 !default;
$input-error-line-height: $input-error-font-size+2px;
$error-padding-top: ($input-error-height - $input-error-line-height) / 2;
$icon-offset: 36px !default;
$icon-float-focused-top: -8px !default;
$input-focus-color: $amp-colour-sky-blue;
$animation-duration: 300ms;
// Custom md-input variables
$input-padding-bottom: 15px !default;
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-ms-clear {
    display: none;
}

.amp-input {
    position: relative;
}

.control {
    @include amp-family($amp-font-open-sans-regular);
    display: block;
    height: 36px;
    width: 100%;
    border: none;
    font-size: $ddc-input-field-font-size;;
    font-weight: 300;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    &:not([disabled]) {
        border-bottom: 2px solid $amp-colour-sky-blue;
        @include hover-focus {
            border-color: $amp-colour-sky-blue;
            outline: none;
            box-shadow: none;
            ~ .bar:before, ~ .bar:after {
                background: $amp-colour-sky-blue;
                height: 2px;
            }
        }
        &.has-value {
            color: $amp-colour-sky-blue;
            &:focus {
                color: $amp-colour-grey-darkest;
            }
        }
    }
    &.has-prefix {
        padding-left: 25px;
        ~ .label {
            padding-left: 25px;
        }
    }
    &.ng-invalid.ng-dirty {
        border-bottom: 2px solid $amp-colour-alert-danger;
        ~ .bar:before, ~ .bar:after {
            background: $amp-colour-alert-danger;
            height: 2px;
        }
    }
    /* active state */
    &.has-value ~ .label,
    &:focus ~ .label {
        top: -25px;
        font-size: $input-placeholder-font-size;
    }
    &:focus ~ .bar:before,
    &:focus ~ .bar:after {
        width: 50%;
    }
    &[disabled], &[readonly] {
        background-color: transparent;
    }
    &[iconright] {
        padding-right: 30px;
    }
    @include transition($animation-duration*2 ease all);
}

/* -- label styles ---------------------------------- */
.label {
    @include amp-family($amp-font-open-sans-regular);
    position: absolute;
    left: 0;
    top: 7px;
    font-weight: 700;
    color: $amp-colour-grey-darker;
    pointer-events: none;
    font-size: $input-placeholder-font-size;
    @include transition($animation-duration ease all);
}

.icon-right {
    cursor: pointer;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0px;
}

/* -- bar styles -------------------------------------- */
.bar {
    position: relative;
    display: block;
    width: 100%;
    &:before, &:after {
        content: '';
        height: 1px;
        width: 0;
        bottom: 0;
        position: absolute;
        @include transition($animation-duration ease all);
    }
    &:before {
        left: 50%;
    }

    &:after {
        right: 50%;
    }
}

.currency {
    position: absolute;
    left: 0;
    font-size: 24px;
}

@include media-query('palm') {
    .control {
        font-size: $input-font-size-mobile;
    }

}
