

<amp-greenid-block>

    <section class="section mv" *ngIf="!okAccepted">
        <div class="grid__container 1/1 mb">
            <div class="grid__item_floated 1/1 mv mh">
                <h2 class="mb-">Thanks Charlie, just to confirm…</h2>
                <p class="para mt mb">By opening a Bett3r account, you are agreeing to….</p>
                <div class="grid__container_inner">
                    <div class="grid__item_floated">
                        <p class="para mt mb">
                            Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a
                            comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of
                            the hero. And most times they're friends, like you and me! I should've known way back when...
                            You know why, David? Because of the kids. They called me Mr Glass.
                        </p>
                    </div>
                    <div class="grid__item_floated">
                        <amp-checkbox
                            [attr.theme]="themeService.theme.attr"
                            [isInSummaryState]='isInSummaryState'
                            [controlGroup]='controlGroup'
                            [required]='acknowledge.required'
                            [checked]='acknowledge.checked'
                            [disabled]='acknowledge.disabled'
                            [scrollOutOn]='acknowledge.scrollOutOn'
                            [id]='acknowledge.id'
                            (select)='onAcknowledgeSelect($event)'>
                        </amp-checkbox>

                    </div>
                </div>
            </div>
            <div class="grid__container_inner mv mh">
                <div class="grid__item_floated">
                    <amp-button [disabled]='!acceptTerms' (click)='onOk(1)' [class]="'btn btn-ok mt0'"
                                [data-automation-id]='"abcd"'>
                        Continue
                    </amp-button>
                </div>
            </div>
        </div>
    </section>

    <section class="section mv mh" *ngIf="okAccepted">
        <div class="grid__container 1/1 mb">
            <h2 class="mb-">How do you want us to ID you?</h2>
            <p class="para">
                Let us know if you’d like to use our online ID service to confirm
                your identity or whether you want to mail us certified copies.
                Either way, please have one of the below ready:
            </p>
            <ul class="mh">
                <li>
                    Australian work visa
                </li>
                <li>
                    Medicare card
                </li>
                <li>
                    Drivers license
                </li>
                <li>
                    Australian passport
                </li>
            </ul>
        </div>
        <div class="grid__container 1/1 mb">
            <amp-button [disabled]='!acceptTerms' (click)='onContinue(1)' [class]="'btn btn-ok mt0'"
                        [data-automation-id]='"abcd"'>
                Online now
            </amp-button>

            <amp-button [disabled]='!acceptTerms' [class]="'btn btn-ok mt0'"
                        [data-automation-id]='"abcd"'>
                I'll mail then
            </amp-button>
        </div>
    </section>
        <!--
    start form

    -->

    <form method="POST" action="/verification/simpleui-finish.seam" id="theform" role="form">

        <!--
            Your accountId (sometimes known as your customerId) is unique to you and remains the same in test and production
        -->
        <input id="accountId" value="amp_au" name="accountId" type="hidden">

        <!--
            Your apiCode will be different in test and production.
            The one that's first included below for you is for the test environment.
        -->
        <input id="apiCode" value="69h-xEt-PSW-vGn" name="apiCode" type="hidden">

        <input id="usethiscountry" value="AU" name="country" type="hidden">

        <div class="row">


            <div class="form-group col-sm-4">
                <label for="givenNames" class="control-label">First Name</label>
                <input id="givenNames" name="givenNames" [ngModel]="modelValue.firstName" class="form-control" type="text">
            </div>

            <div class="form-group col-sm-4">
                <label for="middleNames" class="control-label">Middle Name</label>
                <input id="middleNames" name="middleNames" [ngModel]="modelValue.middleNames" class="form-control" type="text">
            </div>



            <div class="form-group col-sm-4">
                <label for="surname" class="control-label">Surname</label>
                <input type="text" id="surname" name="surname" [ngModel]="modelValue.lastName" class="form-control"/>
            </div>

        </div>

        <!--
            Depending whether or not Harmony address matching is enabled on your account will dictate whether
            a single address line or the broken-up address fields are output. Harmony is optional but recommended.
        -->
        <div id="address-fields" style="">

            <div id="address-non-harmony-div">

                <hr>

                <fieldset>
                    <label>Address</label>

                    <div class="row">

                        <div class="form-group col-sm-2">
                            <label for="flatNumber" class="control-label">Unit Number</label>
                            <input id="flatNumber" name="flatNumber" [ngModel]="modelValue.address.flatNumber" class="form-control" type="text">
                        </div>

                        <label for="streetNumber" class="control-label">Street Number</label>
                        <input id="streetNumber" name="streetNumber" [ngModel]="modelValue.address.streetNumber" class="form-control" type="text">


                        <div class="form-group col-sm-4">
                            <label for="streetName" class="control-label">Street Name</label>
                            <input id="streetName" name="streetName" [ngModel]="modelValue.address.streetName" class="form-control" type="text">
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="streetType" class="control-label">Street Type</label>
                            <input id="streetType" name="streetType" [ngModel]="modelValue.address.streetType" class="form-control" type="text">

                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-sm-4">
                            <label for="suburb" class="control-label">Suburb</label>
                            <input id="suburb" name="suburb" [ngModel]="modelValue.address.streetType" class="form-control" type="text">
                        </div>

                        <!-- Begin State Dropdown -->
                        <div class="form-group col-sm-4">
                            <label for="state" class="control-label">State</label>

                            <input id="state" name="state" [ngModel]="modelValue.address.state" class="form-control" type="text">

                        </div>
                        <!-- End State Dropdown -->

                        <div class="form-group col-sm-2">
                            <label for="postcode" class="control-label">Postcode</label>

                            <input id="postcode" name="postcode" [ngModel]="modelValue.address.postcode" class="form-control" type="text">
                        </div>

                    </div>

                </fieldset>

                <hr>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-sm-3 col-lg-2">
                <label for="dob" class="control-label">Date of Birth (DD/MM/YYYY)</label>
                <div class="input-group date">
                    <input name="dob" id="dob" class="form-control" [ngModel]="modelValue.dateOfBirth" aria-required="true" type="text">
                    <span class="input-group-addon datepicker"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px">
            <div class="form-group col-sm-6">
                <label for="email" class="control-label">Email</label>
                <input id="email" name="email" class="form-control" [ngModel]="modelValue.email" type="text">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12">
                <input value="Submit details" id="submitbob" name="submitbob" class="btn btn-primary" type="submit">
            </div>
        </div>

    </form >

    <!--

    End form
    -->

</amp-greenid-block>


