@import '../../../../styles/abstracts';

$btn-ok-tools-background-color: $amp-colour-sky-blue;
$btn-ok-tools-hover-background-color: $amp-colour-secondary-darkest;
$btn-ok-tools-active-background-color: $amp-colour-primary;
$btn-ok-tools-margin-top: 20px;
$btn-ok-tools-margin-bottom: 8px;

$btn-secondary-tools-border-color: $amp-colour-secondary;
$btn-secondary-tools-text-color: $amp-colour-secondary;
$btn-secondary-tools-background-color: $amp-colour-white;

$btn-secondary-tools-hover-border-color: $amp-colour-secondary;
$btn-secondary-tools-hover-background-color: $amp-colour-secondary;
$btn-secondary-tools-hover-text-color: $amp-colour-white;

$btn-secondary-tools-active-border-color: $amp-colour-secondary-darkest;
$btn-secondary-tools-active-background-color: $amp-colour-secondary-darkest;
$btn-secondary-tools-active-text-color: $amp-colour-white;

$btn-change-tools-margin-top: 20px;
$btn-change-tools-margin-bottom: 8px;
