@import '../../../../styles/abstracts';

$btn-ok-tools-background-color: $amp-colour-sky-blue;
$btn-ok-tools-hover-background-color: $amp-colour-secondary-darkest;
$btn-ok-tools-active-background-color: $amp-colour-primary;
