<amp-form-block [context]="context()">
    <div class="mt mb">
        Thanks NAME just to confirm...
    </div>
    <div class="mt mb">
        By opening a Bett3r account, you are agreeing to...
    </div>
    <amp-button
        [context]="context()"
        class='btn btn-ok mt+'
        (click)='acceptTandC()'
    >
                        Continue
    </amp-button>
    <div style="display : none;">
        <amp-input
                [id]="__custom.controls[0].id"
                [controlGroup]="__controlGroup"
                [label]="'Accept T and C'"
                [required]="true">
        </amp-input>
    </div>
</amp-form-block>