<div class="amp-textarea">
    <textarea
            #textarea
            [class.has-value]="control.value && control.value.length>0"
            (keyup)='adjustHeight($event.target)'
            (keyup.enter)='adjustHeight($event.target)'
            (blur)='onBlur($event)'
            (focus)='onFocus($event)'
            [attr.disabled]='disabled'
            [attr.maxlength]='maxLength'
            [formControl]='control'
            [class.summary-view]="isInSummaryState"
            [class.has-focus]="hasFocus"
            [attr.placeholder]='placeholder'
            [attr.name]='randomizedId'
            [attr.id]='randomizedId'
            [attr.data-automation-id]='"textarea_" + randomizedId'
            [attr.spellcheck]='spellCheck'>
    </textarea>
    <label class='float-label' [attr.for]='randomizedId'>{{label}}</label>
    <span [class.invisible]="isInSummaryState" class='char-left' *ngIf='maxLength && maxLength>0'>{{textarea.value.length }} / {{ maxLength }}</span>
    <ng-content></ng-content>
    <div #hiddenDiv class="hidden-div" [innerHtml]='hiddenDivText'></div>
</div>

