<div class="amp-textarea" >
    <md-input-container
            [class.md-input-has-value]='control.value'
            [class.md-input-focused]='hasFocus'
            [ngClass]='{"md-input-has-placeholder" : placeholder,"summary" : isInSummaryState}'
            flex-gt-sm=''>
        <label
                [ngClass]='{"summary" : isInSummaryState}'
                *ngIf='!isInSummaryState' [attr.for]='randomizedId'>{{label}}</label><!--
        --><textarea
            #textarea
            (keyup)='adjustHeight($event.target)'
            (blur)='adjustHeight($event.target)'
            (blur)='trimValue()'
            (blur)='setHasFocus(false)'
            (focus)='setHasFocus(true)'
            [class.summary-state]='isInSummaryState'
            [disabled]='isInSummaryState'
            class='md-input'
            [attr.name]='randomizedId'
            [attr.id]='randomizedId'
            [attr.maxlength]='maxLength'
            [attr.data-automation-id]='"textarea_" + randomizedId'
            [formControl]='control'
            [attr.placeholder]='placeholder'
            [attr.spellcheck]='spellCheck'>
            </textarea>
        <span class='char-left'
              *ngIf='maxLength && maxLength>0 && !isInSummaryState'>{{textarea.value.length }} / {{ maxLength }}</span>
        <span class='summary-text'>{{ control.value }}</span>
        <ng-content></ng-content>
    </md-input-container>
</div>
<amp-control-error *ngIf="showErrorComponent" [control]="control"></amp-control-error>