.collapse {
  display: none;
  &.in {
    display: block;
  }
  &.fit {
    height: initial !important;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition(height, visibility, .55s, ease-in-out);
}