<form #formModel="ngForm" class="nl-form p+">
    <h1 class="heading heading-intro">Input for tax file number with check digit validation</h1>
    <div class="mt+">
        <div class="grid__item 1/4">
            <amp-tax-file-number
                    [attr.theme]="themeService.theme.attr"
                    [id]="'tax-file-number'"
                    [controlGroup]="controlGroup">
            </amp-tax-file-number>
        </div>
    </div>
    <amp-error [controlGroup]="controlGroup"></amp-error>
</form>
