@import '../../../styles/abstracts';

$Loading-stroke-width: 6px;
$Loading-width: 100px;

:host {

  &[size='small'] {
    md-progress-circle {
      width: $Loading-width/3;
      height: $Loading-width/3;
    }
  }
  &[size='medium'] {
    md-progress-circle {
      width: $Loading-width/2;
      height: $Loading-width/2;
    }
  }
  md-progress-circle {
    width: $Loading-width;
    height: $Loading-width;
    path {
      stroke-width: $Loading-stroke-width;
      stroke: $amp-colour-secondary;
    }
  }
}