@import '../../../styles/abstracts';

:host {
    .container {
        padding-top: 4em;
        amp-button {
            margin-top: 0 !important;
            .btn {
                margin-top: 0 !important;
            }
        }
        .finish-button-container{
            margin-top: 4em;
        }
        .app-buttons {
            margin-top: 3.333em;
            .apple-store-button {
                margin-right: 2em;
            }
        }
        @include media-query(tablet-and-down) {
            padding-top: 2.667em;
            padding-left: 2em;
            padding-right: 2em;
            amp-button {
                margin-top: 0 !important;
                .btn {
                    margin-top: 0 !important;
                }
            }
        }
    }
}
