<form #formModel='ngForm' class='nl-form'>
    <div style='padding: 50px 100px; text-align:left'>

        <amp-dropdown
                [attr.theme]="themeService.theme.attr"
                [isInSummaryState]='false'
                [id]='"Title"'
                [label]='"Title"'
                [labelHidden]='"HiddenLabel"'
                [options]='titleOptions'
                [parentControl]="control"
                [isRequired]="true">
        </amp-dropdown>


        <br>
        <div style='; text-align:left; background-color: lightblue'>
            value : {{ control.value }}
        </div>

        <div style='; text-align:left ; background-color: lightgrey'>
            Control is valid : {{ control.valid }}
        </div>

    </div>
</form>
