<form #formModel='ngForm' class='nl-form'>
    <div class='p palm-p0'>
        <section class="section ph pv">
            <h2>Normal usage</h2>
            <amp-form-row>
                <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
                    <amp-dropdown
                            class='1/3'
                            #dropDown
                            [attr.theme]="themeService.theme.attr"
                            [isInSummaryState]='isInSummaryState'
                            [id]='"Title"'
                            [label]='"Title"'
                            [fieldItemKey]='"value"'
                            [fieldValueKey]='"label"'
                            [options]='titleOptions'
                            [controlGroup]="controlGroup"
                            [required]="true">
                        <template let-option="option">
                            {{ option.label }}
                        </template>
                    </amp-dropdown>
                </div>
            </amp-form-row>
        </section>
        <section class="section ph pv">
            <h2>With default value</h2>
            <amp-form-row>
                <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
                    <amp-dropdown
                            class='1/3'
                            #dropDown
                            [attr.theme]="themeService.theme.attr"
                            [isInSummaryState]='isInSummaryState'
                            [id]='"default"'
                            [label]='"Has default"'
                            [defaultValue]="'mr'"
                            [options]='titleOptions'
                            [controlGroup]="controlGroup"
                            [required]="true">
                        <template let-option="option">
                            {{ option.label }}
                        </template>
                    </amp-dropdown>
                </div>
            </amp-form-row>
            <amp-button (click)="isInSummaryState=!isInSummaryState">Disabled {{ isInSummaryState }}</amp-button>
            <amp-button (click)='setTo("Mrs")'>Set to Mr</amp-button>
            <amp-button (click)='setTo("Milad")'>Set to Milad</amp-button>
            <amp-button (click)='setTo(null)'>Deselect</amp-button>
            <amp-button (click)='isInSummaryState=!isInSummaryState'>isInSummaryState</amp-button>
        </section>


        <section class="section ph pv">
            <h2>Pre selected
                <small>( retrieved ).</small>
            </h2>
            <amp-form-row>
                <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
                    <amp-country
                            class='2/3'
                            #dropDown
                            [attr.theme]="themeService.theme.attr"
                            [isInSummaryState]='isInSummaryState'
                            [id]='"Country"'
                            [controlGroup]="retrievedControlGroup"
                            [required]="true">
                        <template let-option="option">
                            {{ option.country }}
                        </template>
                    </amp-country>
                </div>
            </amp-form-row>
        </section>

        <section class="section ph pv">
            <h2>Pre selected that has default value
            </h2>
            <p>In this case pre selected ( retrieved ) should override the default value</p>
            <amp-form-row>
                <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
                    <amp-country
                            class='2/3'
                            #dropDown
                            [attr.theme]="themeService.theme.attr"
                            [isInSummaryState]='isInSummaryState'
                            [id]='"Country"'
                            [defaultValue]='"NZL"'
                            [controlGroup]="retrievedControlGroup"
                            [required]="true">
                        <template let-option="option">
                            {{ option.country }}
                        </template>
                    </amp-country>
                </div>
            </amp-form-row>
        </section>
    </div>
</form>
