@import '../../../styles/abstracts';

:host {
    .container {
        padding: 4em 0 2em 15.3333em;
        amp-button {
            margin-top: 0 !important;
            .btn {
                margin-top: 0 !important;
            }
        }
        .finish-button-container{
            margin-top: 4em;
        }
        @include media-query(tablet-and-down) {
            padding: 2.667em 2em;
            amp-button {
                margin-top: 0 !important;
                .btn {
                    margin-top: 0 !important;
                }
            }
            .heading {
                font-size: 1.75em;
            }
        }
    }
}
