@import '../../../../../style/require';

$font-size: $amp-base-font-size * 2 / 5 !default;

$logo-height: 60px !default;

$amp-ddc-public-asset: '../../../../../../src/assets/';

:host {
  width: 100%;
  display: block;
}

.bolr-intro {
  margin: 0px $amp-ddc-padding * 2;
  max-height: 1000px;
  height: auto;
  overflow: hidden;
  transition: max-height 1.1s, opacity 0.45s, ease-out;

  &.ng-enter-active {
    height: 100%;
    opacity: 1;
  }

  // ng-leave-active Doesn't work for some reason.
  &.ng-leave-active, &.hidden {
    max-height: 0px;
    opacity: 0;
  }
}

.bolr-intro-logo {
  min-height: $logo-height;
  width: 100%;
  margin-top: $amp-ddc-padding * 2;

  background-position: left bottom;
  background-attachment: scroll;
  background-repeat: no-repeat;
  // Note: We were going to dynamically resize it for them but no specific requirement/dimension provided.
  // background-size: 150px, 150px 80px;
  // background-size: contain;

  &.DEA_AMPFP {
    background-image: url($amp-ddc-public-asset + 'images/logo/AMPFP_logo.jpg');
  }

  &.DEA_HILLROSS {
    background-image: url($amp-ddc-public-asset + 'images/logo/Hillross_logo.jpg');
  }

  &.DEA_CHARTER {
    background-image: url($amp-ddc-public-asset + 'images/logo/Charter_logo.jpg');
  }
}

.bolr-intro-main {
  //margin: $amp-ddc-padding *2;

  @include media-query('lap-and-up') {
    margin-left: 20.9%;
  }

  .btn {
    font-size: $font-size-small;
  }
}

.bolr-intro-main__title {
  @include amp-family($amp-font-open-sans-regular);
  font-weight: 300;
  font-size: $font-size-medium;
}

.bolr-intro-main__body {
  @include amp-family($amp-font-open-sans-semibold);
  font-size: $font-size-medium;
  color: $amp-colour-secondary-darkest;
}

.bolr-intro-main__notes {
  @include amp-family($amp-font-open-sans-semibold);
  font-size: $font-size-tiny;
}
