<div  *ngIf='controlGroup && controlGroup.invalid && controlGroup.dirty'>
    <div *ngIf='!controlId' class='errors'>
        <div *ngFor='let aControl of controlGroup.controls | AmpValues'>
            <div *ngIf="aControl.errors">
                <div *ngFor='let error of aControl.errors | AmpKeys ; let i = index'>
                    <div *ngIf='aControl.dirty' class='error-item'>
                        <span class='icon icon--close icon-errors' aria-hidden='true'></span>
                        <span [innerHtml]='aControl.errors[error].text'></span>
                        <template
                                [ngTemplateOutlet]='itemTemplate'
                                [ngOutletContext]='{ error: error, index: index }'>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='controlId && controlGroup.controls[controlId]?.invalid && controlGroup.controls[controlId].dirty' class='errors'>
        <div *ngFor='let error of controlGroup.controls[controlId]?.errors | AmpKeys ; let i = index'>
            <div class="error-item">
                <span class='icon icon--close icon-errors' aria-hidden='true'></span>
                <span [innerHtml]='controlGroup.controls[controlId].errors[error].text'></span>
                <template
                        [ngTemplateOutlet]='itemTemplate'
                        [ngOutletContext]='{ error: error, index: index }'>
                </template>
            </div>
        </div>
    </div>
</div>