<div class='errors mt-25 mb-15' *ngIf='controlGroup && controlGroup.invalid && controlGroup.touched'>
    <div *ngIf='!controlId'>
        <div *ngFor='let aControl of controlGroup.controls | AmpValues' class='error-item'>
            <div *ngIf="aControl.errors">
                <div *ngFor='let error of aControl.errors | AmpKeys ; let i = index' class='error-item '>
                    <div *ngIf='aControl.touched'>
                        <span class='icon icon--close icon-errors' aria-hidden='true'></span>
                        <span [innerHtml]='aControl.errors[error].text'></span>
                        <template
                                [ngTemplateOutlet]='itemTemplate'
                                [ngOutletContext]='{ error: error, index: index }'>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='controlId'>
        <div *ngFor='let error of controlGroup.controls[controlId]?.errors | AmpKeys ; let i = index'
             class='error-item'>
            <div *ngIf='controlGroup.controls[controlId].touched'>
                <span class='icon icon--close icon-errors' aria-hidden='true'></span>
                <span [innerHtml]='controlGroup.controls[controlId].errors[error].text'></span>
                <template
                        [ngTemplateOutlet]='itemTemplate'
                        [ngOutletContext]='{ error: error, index: index }'>
                </template>
            </div>
        </div>
    </div>
</div>