<div class="frame frame--sticky frame--mt">
    <sticky-save-button [hidden]="hideStickyButton" [form]="__form">
    </sticky-save-button>
    <div class="container blocks-wrapper">
        <main class="main">
            <div [amp-block-loader]="__child_blocks" (loaded)="onBlocksLoaded()" [fdn]="__fdn" [form]="__form"></div>
        </main>
    </div>
</div>
<amp-standalone-menu [sectionsToHide]="sectionsToHide">
    <amp-button class="btn btn-secondary mobile-only" theme="tools" [hidden]="hideStickyButton" (click)="onSave()">
        Save and close form
    </amp-button>
</amp-standalone-menu>
