<div class="frame frame--sticky frame--mt">
    <sticky-progress-header-block
            class="sticky-progressbar"
            determinate="buffer"
            [value]="calculatedProgress"
            formType="application">
    </sticky-progress-header-block>
    <div class="container blocks-wrapper">
        <aside class="sidebar">
            <button class="btn" type="button" (click)='save()'>
                <i class="icon icon--time" aria-hidden="true"></i>
                <span>Save application</span>
            </button>
        </aside>
        <main class="main">
            <div [amp-block-loader]="__child_blocks" [fdn]="__fdn" [form]="__form"></div>
        </main>
    </div>
</div>