@import "../../../styles/abstracts";

:host /deep/ { // sass-lint: ignore
    amp-button {
        .mobile-only {
            display: none;
            @include media-query(palm) {
                display: block;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                top : 40px;
                width: 80% !important;
            }
        }
    }

    ul.steps-menu__list {
        @include media-query(palm) {
            margin-top: 80px;
            padding-top: 40px;
            border-top: 1px solid $amp-colour-gray-neutral;
        }
    }
}