@import '../../../styles/abstracts';

$checkbox-width: 30px !default;
$checkbox-height: $checkbox-width !default;
$checkbox-text-margin: 40px !default;
$checkbox-top-left: 12px !default;
$checkbox-margin: 0;

:host {
  display: block;
  line-height: 45px;
  @extend %#{$namespace}font-size-medium;
  margin: $checkbox-margin;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  &:nth-child(n+2) {
    margin-top: 23px;
  }
  input {
    display: none;
    &:checked {
      + label {
        .on {
          transform: scale(1) rotate(45deg);
        }
      }
    }
    &:not([disabled]) + label {
      &:hover {
        .off {
          border-color: rgba($amp-colour-sky-blue, 0.87);
        }
      }
    }
  }

  label {
    text-align: left;
    line-height: 1;
    display: block;
    cursor: pointer;
    .container {
      box-sizing: border-box;
      position: absolute;
      opacity: 1;
      visibility: visible;
      @include transition(all .7s ease-in-out);
      transition-delay: 0s;
      &.hidden {

        opacity: 0;
        visibility: hidden;
        @include transition(all .2s ease-in-out !important);
        transition-delay: 1.2s !important;
      }

      display: inline-block;
      width: $checkbox-width;
      height: $checkbox-width;
      cursor: pointer;
      @include rtl(left, 0, auto);
      @include rtl(right, auto, 0);

      .off {
        border-radius: 5px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: $checkbox-width;
        height: $checkbox-width;
        border: solid 2px;
        transition: border-color ease 0.28s;
        border-color: #cccccc;
      }

      .on {

        box-sizing: border-box;
        position: absolute;
        top: 2px;
        left: 10px;
        width: 10px;
        height: 20px;
        transition: transform ease 0.28s;
        transform: scale(0) rotate(-20deg);
        border: 2px solid;
        border-color: rgba($amp-colour-sky-blue, 0.87);
        border-top: 0;
        border-left: 0;

      }
    }
    .content {
      @include transition(margin .7s ease-in-out);
      transition-delay: 0s;
      line-height: 45px;
      margin-top: -7px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      white-space: normal;
      width: auto;
      @include rtl(margin-left, $checkbox-text-margin + $checkbox-width, 0);
      @include rtl(margin-right, 0, $checkbox-text-margin + $checkbox-width);
      &.summary-state {
        @include transition(margin .2s ease-in-out !important);
        transition-delay: 1.2s !important;
        @include rtl(margin-left, 0, 0);
        @include rtl(margin-right, 0, 0);
      }
    }
  }
}




