@import '../../../styles/abstracts';

@include media-query(tab-and-down) {
    display : none;
}

@include media-query(lap-and-up) {
    .sticky {
        position: fixed;
        float: right;
        top: -19px;
        right: 40px;
        z-index: 9999;
    }
}
