@import '../../../styles/abstracts';

.sticky {
    position: fixed;
    float: right;
    top: -19px;
    right: 40px;
    z-index: 9999;

    @include media-query(palm) {
         display : none;
    }
}
