@import '../../../styles/abstracts';

.sticky {
    position: fixed;
    float: right;
    top: 40px;
    right: 40px;
    z-index: 9999;

    @include media-query(palm) {
        position: absolute;
        top: 6.5%;
        right: 20%;
        z-index: inherit;
    }
}
