<amp-form-block [context]="context()" buttonsTheme='tools'>
    <div class="mt mb">
        Please provide some basic personal details in order to get an idea of who you are
    </div>
    <amp-form-row>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-2/12 palm-mt">
            <amp-titles
                    auto-focus-on='select'
                    [isInSummaryState]="isInSummaryState"
                    [id]="__custom.controls[0].id"
                    [controlGroup]="__controlGroup"
                    [required]="true">
            </amp-titles>
        </div>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12 mr palm-mr0">
            <amp-first-name
                    [id]="__custom.controls[1].id"
                    [controlGroup]="__controlGroup"
                    [isInSummaryState]="isInSummaryState"
                    [required]="true">
            </amp-first-name>
        </div>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12 mr palm-mr0">
            <amp-input
                    [id]="__custom.controls[2].id"
                    [controlGroup]="__controlGroup"
                    [label]="'Middle Name'"
                    [required]="false"
                    [maxLength]="30"
                    [isInSummaryState]="isInSummaryState">
            </amp-input>
        </div>
        <div class="grid__item_floated lap-and-up-3/12 mr palm-mr0">
            <amp-last-name
                    [id]="__custom.controls[3].id"
                    [controlGroup]="__controlGroup"
                    [isInSummaryState]="isInSummaryState"
                    [required]="true">
            </amp-last-name>
        </div>
    </amp-form-row>
    <amp-form-row>
        <div class="grid__item_floated palm-1/1 tablet-1/1 lap-and-up-3/12">
            <amp-input
                    [id]="__custom.controls[4].id"
                    [controlGroup]="__controlGroup"
                    [label]="'Date of birth'"
                    [valDate]="true"
                    [required]="true"
                    [customValidator]="ageValidator"
                    [isInSummaryState]="isInSummaryState">
            </amp-input>
        </div>
    </amp-form-row>
</amp-form-block>