
<section class="section mh mv">
    <section class="section mv">
        <p class="para mb">
            The standalone menu should be used when you have a project that requires a menu which is outside the project.
        </p>
        <p class="note">Currently, this menu cannot be run as part of this guide, we intend to fix this in the future. For a sample implementation, please see the Bett3r project in DDC, specifically <strong class="strong-text">DF-249-responsive-navigation branch</strong></p>
    </section>
</section>
<br>
<!--
<amp-standalone-menu [form]="__form.controls.Application" [sectionObservable]="scrollService.$scrolled">

</amp-standalone-menu>
-->

