<form #formModel="ngForm" class="nl-form p+">
    <h1 class="heading heading-intro">Exclusive input created for Account Number that has the right error messages and
        validation</h1>
    <div class="mt+">
        <div class="grid__item 1/4">
            <amp-account-number
                    [attr.theme]="themeService.theme.attr"
                    [id]="'account-number'"
                    [controlGroup]="controlGroup">
            </amp-account-number>
        </div>
    </div>
</form>
