<amp-form-block [context]="context()">
    <amp-form-row>
        <label class='grid__item_floated palm-1/1 tablet-1/1 lap-and-up-1/1 form-row-label'>Scale</label>
        <div class="grid__item_floated palm-1/1 tablet-2/3 lap-and-up-6/12 mr mt0">
            <amp-group-buttons
                    (select)='onButtonClick($event)'
                    [buttons]='__custom.controls[0].buttons'
                    [controlGroup]="__controlGroup"
                    [required]="true"
                    [isInSummaryState]="isInSummaryState"
                    [groupName]='__custom.controls[0].id'>
            </amp-group-buttons>
        </div>
    </amp-form-row>
</amp-form-block>