@import '../../../style/require';

$amp-dropdown-input-border-width: 1px;

$amp-dropdown-select-height: 50px;

$amp-dropdown-options-border-width: 2px;

$amp-dropdown-number-options: 4;
$amp-dropdown-option-border-width: 1px;
$amp-dropdown-option-line-height: 1.5em;

$amp-dropdown-option-padding-top: 12px;
$amp-dropdown-option-padding-bottom: $amp-dropdown-option-padding-top;
$amp-dropdown-option-padding-right: 40px;
$amp-dropdown-option-padding-left: 20px;

:host {
    display: inline-block;
    padding: 0px 13px;
}

.amp-dropdown {
    margin-top: 12px;
    max-width: 292px;
    position: relative;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    * {
        box-sizing: border-box;
    }

    &__select {
        border-bottom: $amp-dropdown-input-border-width solid #CCD2D9;
        color: $amp-colour-sky-blue;
        cursor: pointer;
        font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
        font-size: 24px;
        font-weight: 400;
        font-weight: 300;
        line-height: 1.2em;
        min-height: $amp-dropdown-select-height;
        padding: 7px 20px 7px 0;
        position: relative;
        z-index: 1;

        &:hover {
            border-color: $amp-colour-sky-blue;
        }

        &-value {
            opacity: 0;

            .amp-dropdown--has-selection & {
                opacity: 1;
            }

            .amp-dropdown--animate & {
                transition: opacity 0.4s 0.2s ease;
            }
        }
    }

    &__label {
        color: #646567;
        font-size: 13px;
        font-weight: 700;
        position: absolute;
        left: 0;
        top: 12px;
        visibility: visible;
        pointer-events: none;
        z-index: 3;

        .amp-dropdown--has-selection & {
            transform: translateY(-125%) scale(0.8);
        }
        
        .amp-dropdown--animate & {
            transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), 
                    scale 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), 
                    color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), 
                    -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
    }


    &__icon {
        color: #004983;
        font-size: 18px;
        line-height: $amp-dropdown-select-height;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
    }

    &__options {
        background: #fff;
        border: $amp-dropdown-options-border-width solid $amp-colour-sky-blue;
        font-size: 15px;
        margin-top: -1 * $amp-dropdown-input-border-width;
        min-width: 120px;
        opacity: 1;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        z-index: 3;

        // IE Scrollbar
        scrollbar-base-color: $amp-colour-sky-blue;
        scrollbar-track-color: #f4f4f4;
        scrollbar-arrow-color: $amp-colour-sky-blue;
        scrollbar-shadow-color: $amp-colour-sky-blue;

        // Webkit Scrollbar
        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #f4f4f4;
        }

        &::-webkit-scrollbar-thumb {
            background: $amp-colour-sky-blue;
        }


        @for $i from 1 through 10 {   
            $em: $amp-dropdown-option-line-height * $i;
            $px: (($amp-dropdown-option-padding-top + $amp-dropdown-option-padding-bottom) * $i) + ($amp-dropdown-option-border-width * ($i - 1));

            &--#{$i} {
                max-height: calc(#{$em} + #{$px});
            }
        }
    }

    &__option {
        cursor: pointer;
        line-height: $amp-dropdown-option-line-height;
        padding: $amp-dropdown-option-padding-top $amp-dropdown-option-padding-right $amp-dropdown-option-padding-bottom $amp-dropdown-option-padding-left;
        width: auto;

        &:hover {
            background: #e5ecf2;
        }

        &:focus {
            outline: none;
        }
        
        & + & {            
            border-top: $amp-dropdown-option-border-width solid #CCD2D9;
        }

        &--active {
            background: #e5ecf2;
        }
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }
    
    .hidden {
        display: none !important;
        visibility: hidden !important;
    }
}
