@import "../../../../style/require";

$font-size:   $amp-base-font-size * 2 / 5 !default;

$font-size-medium: $font-size * 5;
$font-size-small: $font-size * 4;
$font-size-tiny: $font-size * 3;

$amp-ddc-public-asset:      "/public/" !default;

.bolrIS {
  background-color: $amp-colour-secondary-darkest;
  color: $amp-colour-white;

  @include amp-family($amp-font-open-sans-regular);
  font-weight: 300;
  font-size: $font-size-medium;

  .bolrIS_title {
    @include amp-family($amp-font-open-sans-semibold);
    font-size: $font-size-small;
  }

  // Theme based style, using themeId.directive.ts
  &.AMPFP {
    background-image: url($amp-ddc-public-asset + "images/logo/ampfp.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }

  &.HILLROSS {
    background-image: url($amp-ddc-public-asset + "images/logo/hillross.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }

  &.CHARTER {
    background-image: url($amp-ddc-public-asset + "public/images/logo/charter.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }
}


// TODO: Move this to AMP-styleguide-core, under 05_Components/buttons.scss
.btn--mike {
    color: $amp-colour-secondary-darkest;
    background-color: $amp-colour-white;
    border-color: $amp-colour-white;
    font-size: $font-size-tiny;
    &:hover {
        color: $amp-colour-secondary-darkest;
        background-color: $amp-colour-secondary;
        border-color: $amp-colour-secondary;
    }
}

// TODO: Move this to AMP-styleguide-core, under 06_Trumps/spacing.scss
.pl1    { padding-left:           double($amp-padding) !important; }
.pl2    { padding-left:           quadruple($amp-padding) !important; }
.ph1    { padding:                0 double($amp-padding) 0 double($amp-padding) !important; }
.ph2    { padding:                0 quadruple($amp-padding) 0 quadruple($amp-padding) !important; }
.p1     { padding:                double($amp-padding) !important; }
.p2     { padding:                quadruple($amp-padding) !important; }
