@import '../../../../style/require';

$font-size: $amp-base-font-size * 2 / 5 !default;

$logo-height: 80px !default;

$amp-ddc-public-asset: '../../../../../public/';

.bolr-intro {
  margin: 0px $amp-ddc-padding * 2;
  max-height: 1000px;
  height: auto;
  overflow: hidden;
  transition: max-height 1.1s, opacity 0.45s, ease-out;

  &.ng-enter-active {
    height: 100%;
    opacity: 1;
  }

  // ng-leave-active Doesn't work for some reason.
  &.ng-leave-active, &.hidden {
    max-height: 0px;
    opacity: 0;
  }
}

.bolr-intro-logo {
  min-height: $logo-height;
  width: 100%;
  margin-top: $amp-ddc-padding * 2;

  background-position: left bottom, right bottom;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat, no-repeat;
  // background-size: 150px, 150px 80px;
  background-size: contain;

  &.AMPFP {
    background-image: url($amp-ddc-public-asset + 'images/logo/logo-amp-dark.png'), url($amp-ddc-public-asset + 'images/logo/ampfp.png');
  }

  &.HILLROSS {
    background-image: url($amp-ddc-public-asset + 'images/logo/logo-amp-dark.png'), url($amp-ddc-public-asset + 'images/logo/hillross.png');
  }

  &.CHARTER {
    background-image: url($amp-ddc-public-asset + 'images/logo/logo-amp-dark.png'), url($amp-ddc-public-asset + 'images/logo/charter.png');
  }
}

.bolr-intro-main {
  margin: $amp-ddc-padding *2;

  @include media-query('lap-and-up') {
    margin-left: $amp-ddc-padding * 7 * 2;
  }

  .btn {
    font-size: $font-size-small;
  }
}

.bolr-intro-main__title {
  @include amp-family($amp-font-open-sans-regular);
  font-weight: 300;
  font-size: $font-size-medium;
}

.bolr-intro-main__body {
  @include amp-family($amp-font-open-sans-semibold);
  font-size: $font-size-medium;
  color: $amp-colour-secondary-darkest;
}

.bolr-intro-main__notes {
  @include amp-family($amp-font-open-sans-semibold);
  font-size: $font-size-tiny;
}
