@import "../../../styles/abstracts";

/*

THESE STYLES ARE USED ONLY FOR AESTHETICS, THEY ARE NOT PART OF THE GRID AT ALL.

DO NOT USE THEM.

*/

.gridbox {
    border-left: solid 6px $amp-colour-grey-light;
    border-top: solid 6px $amp-colour-grey-light;
    border-bottom: solid 6px $amp-colour-grey-light;
    padding: 10px;
    text-align: center;
}

.gridbox.last {
    border-right: solid 6px $amp-colour-grey-light;
}
.highlight-override {
    text-align: left;
    display: flex;
    > .strong {
        white-space: pre-line;
    }
}
.pre {
    display: inline;
}
.sample-border {
    @include media-query(lap-and-up) {
        border-right: solid 6px $amp-colour-grey-light;
    }
}
