<section class="section mh mv">
    <article class="article">
        AMP's grids are derived from intuit css. The grids, their implementation and their use have been enhanced somewhat to include a more comprehensive set of breakpoints
    </article>
</section>
<section class="section mh mv">
    <article class="section">
        <header class="header">
            <h2>Basic 12 column grid - desk only</h2>
        </header>
        <div class="grid__item">
            <div class="grid__item 1/12">
                <p class="greybox">1</p>
            </div>
        </div>
    </article>
</section>
