<section class="section mh mv">
    <article class="article">
        AMP's grids are derived from intuit css. The grids, their implementation and their use have been enhanced somewhat to include a more comprehensive set of breakpoints
    </article>
</section>
<section class="section mh mv">
    <!-- Start 12 col grid -->
        <article class="section">
        <header class="header">
            <h2 class="mb-">Basic 12 column grid - full width, no breakpoint applied</h2>
        </header>
        <div class="grid__item mb">
          <div class="grid__item 1/12 mv">
            <p class="gridbox">1</p>
        </div><!--
         --><div class="grid__item 1/12 mv">
            <p class="gridbox">2</p>
        </div><!--
         --><div class="grid__item 1/12 mv">
            <p class="gridbox">3</p>
        </div><!--
         --><div class="grid__item 1/12 mv">
            <p class="gridbox">4</p>
        </div><!--
        --><div class="grid__item 1/12 mv">
            <p class="gridbox">5</p>
        </div><!--
        --><div class="grid__item 1/12 mv">
            <p class="gridbox">6</p>
        </div><!--
        --><div class="grid__item 1/12 mv">
            <p class="gridbox">7</p>
        </div><!--
        --><div class="grid__item 1/12 mv">
            <p class="gridbox">8</p>
        </div><!--
         --><div class="grid__item 1/12 mv">
            <p class="gridbox">9</p>
        </div><!--
        --><div class="grid__item 1/12 mv">
            <p class="gridbox">10</p>
        </div><!--
        --><div class="grid__item 1/12 mv">
            <p class="gridbox">11</p>
        </div><!--
         --><div class="grid__item 1/12 mv">
            <p class="gridbox last">12</p>
        </div><!--
    --></div>
    </article>
    <!-- end 12 col grid -->
</section>
