<input
        [disabled]='disabled || isInSummaryState'
        type='checkbox'
        [attr.data-automation-id]='"checkbox_" + randomizedId'
        class='sr-only'
        [checked]='checked'
        (change)='onChange($event)'
        [attr.id]='randomizedId'
        [attr.name]='randomizedId'
        [formControl]='control'/>
<label [attr.for]='randomizedId'>
    <div class="container">
        <div class="off"></div>
        <div class="on"></div>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</label>
<amp-control-error [control]="control"></amp-control-error>