<form #formModel='ngForm' class='nl-form'>
    <div style='padding: 50px 100px; text-align:left'>
        Control errors
        <highlight color-default>
            {{ control.errors | json }}
        </highlight>
        <amp-auto-complete
                [attr.theme]="themeService.theme.attr"
                class="1/2"
                style="TOOLS"
                [options]="options"
                [parentControl]="control"
                [selectControl]="selectControl"
                (change)="onChange($event)"
                [isRequired]="true"
                [isActive]="true"
                [isInSummaryState]="isInSummaryState"
                [label]='"Occupations"'
                [selectLabel]='"selectLabel"'>
            <template let-option="option">
                {{ option.title }}
            </template>
        </amp-auto-complete>


        <br>
        <p>
            value :
            <highlight color-default>
                {{ control.value }}
            </highlight>

            selected value ( should be an object):
            <highlight color-default>
                {{ selectControl.value | json }}
            </highlight>
        </p>
        <p>
            on change selected option
            <highlight color-default>
                {{ selectedOption | json }}
            </highlight>
        </p>
        <p>
            Control is valid : {{ control.valid }}
        </p>

        <button class="btn btn-ok" (click)='isInSummaryState=!isInSummaryState'>
            Toggle Summary {{ isInSummaryState }}
        </button>
    </div>
</form>
