<section class="section mh mv">
    <section class="section mv">
        <p class="para">
            AMP's css framework has multiple breakpoints. Knowing these will assist you in using it effectively.
        </p>
    </section>
    <article class="section">
        <h2 class="mb-">Below is a list of breakpoints that our framework supports</h2>
        <div class="grid__container 1/1 mb">
            <p>Examples of allowed suffixes can be found under the "grid" section.</p>
            <div class="grid__item_floated 1/1 mv">
                <ul class="unordered-list ml">
                    <li>"palm" | "screen and (max-width: 480px)"</li>
                    <li>Use: <em>palm-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li> "tablet" | "screen and (min-width: 480.01px) and (max-width: 768px)"</li>
                    <li>Use: <em>tablet-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li>"tablet-and-up" | "screen and (min-width: 480.01px)"</li>
                    <li>Use: <em>tablet-and-up-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li>"screen-sm-min" | "screen and (min-width: 640px)"</li>
                    <li>Use: <em>screen-sm-min-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li>"sm" | "screen and (min-width: 640px)"</li>
                    <li>Use: <em>sm-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li>"tablet-and-down" | "screen and (max-width: 768px)"</li>
                    <li>Use: <em>tablet-and-down-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li> "lap" | "screen and (min-width: 768.01px) and (max-width: 1024px)"</li>
                    <li>Use: <em>lap-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li> "lap-and-up" | "screen and (min-width: 769px)"</li>
                    <li>Use: <em>lap-and-up-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li> "md" | "screen and (min-width: 768px)"</li>
                    <li>Use: <em>md-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li> "lap-and-down" | "screen and (max-width: 1024px)"</li>
                    <li>Use: <em>lap-and-down-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li> "lap-and-down" | "screen and (max-width: 1024px)"</li>
                    <li>Use: <em>lap-and-down-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li> "portable" | "screen and (max-width: 1024px)"</li>
                    <li>Use: <em>portable-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li> "desk"    |          "screen and (min-width: 1024.01px)"</li>
                    <li>Use: <em>desk-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li> "custom-phablet"    "screen and (max-width: 540px)"</li>
                    <li>Use: <em>custom-phablet-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li>  "retina"            "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"</li>
                    <li>Use: <em>retina-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
            </div>

        </div>
    </article>
</section>
