<section class="section mh mv">
    <section class="section mv">
        <p class="para">
            AMP's css framework has multiple breakpoints. Knowing these will assist you in using it effectively.
        </p>
    </section>
    <article class="section">
        <h2 class="mb-">Below is a list of breakpoints that our framework supports</h2>
        <div class="grid__container 1/1 mb">
            <p>Examples of allowed suffixes:</p>
            <div class="grid__item_floated 1/1 mv">
                <ul class="unordered-list ml">
                    <li>"palm" | "screen and (max-width: 480px)"</li>
                    <li>Use: <em>palm-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li> "tablet" | "screen and (min-width: 480.01px) and (max-width: 768px)"</li>
                    <li>Use: <em>tablet-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li>"tablet-and-up" |  "screen and (min-width: 480.01px)"</li>
                    <li>Use: <em>tablet-and-up-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li>"screen-sm-min"	 |	"screen and (min-width: 640px)"</li>
                    <li>Use: <em>screen-sm-min-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
                <ul class="unordered-list ml mt">
                    <li> "sm"		|		"screen and (min-width: 640px)"</li>
                    <li>Use: <em>sm-<strong>what ever suffix you need to use</strong></em></li>
                </ul>
            </div>

        </div>


        <!--<p class="para mt">
            <highlight color-default>
               <pre class="pre">
                    <code class="highlight-override">
                        <strong class="strong">


                                "sm"				"screen and (min-width: 640px)",
                                "tablet-and-down"   "screen and (max-width: 768px)",
                                "lap"               "screen and (min-width: 768.01px) and (max-width: 1024px)",
                                "lap-and-up"        "screen and (min-width: 769px)",
                                "md"     			"screen and (min-width: 768px)",
                                "lap-and-down"      "screen and (max-width: 1024px)",
                                "portable"          "screen and (max-width: 1024px)",
                                "desk"              "screen and (min-width: 1024.01px)",
                                "custom-phablet"    "screen and (max-width: 540px)",
                                "retina"            "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)",
                        </strong>
                    </code>
               </pre>
            </highlight>
        </p>-->
    </article>
</section>
